<template>

    <div class="contact-form">

        <div class="wrapper">

            <h1>{{pageData.title.rendered}}</h1>

            <p>{{ pageData.acf.subtitle}}</p>

            <div v-if="!thankyou" class="gform_wrapper">

                <form @submit.prevent="onSubmit">

                    <ul>
                        <li class="gfield">
                            <div class="ginput_container">
                                <input name="input_1" type="text" placeholder="First Name" v-model="form.input_1">
                            </div>
                        </li>
                        <li class="gfield">
                            <div class="ginput_container">
                                <input name="input_2" type="text"  placeholder="Last Name" v-model="form.input_2">
                            </div>
                        </li>

                        <li class="gfield">
                            <div class="ginput_container">
                                <input name="input_3" type="text"  placeholder="Company Name" v-model="form.input_3">
                            </div>
                        </li>
                        <li class="gfield">
                            <div class="ginput_container">
                                <input name="input_4" type="email"  placeholder="email@address.com" required v-model="form.input_4">
                            </div>
                        </li>
                    
                        <li class="gfield">
                            <div class="ginput_container is-flexy is-nowrap">
                                <!-- <input name="input_12" type="text"  placeholder="Dial" v-model="form.input_11" style="width:60px !important; margin-right: 5px;"> -->
                                <input name="input_5" type="text"  placeholder="Phone" v-model="form.input_5">
                            </div>
                        </li>
                        
                        
                        <li class="gfield contact-services">
                            <label class="gfield_label">Select Services of Interest:</label>
                            <div class="ginput_container">
                                <ul class="gfield_checkbox">
                                    <li >
                                        <input name="input_9.1" type="checkbox" value="Global Business Expansion" id="choice_1_9_1" v-model="form.input_9_1">
                                        <label for="choice_1_9_1" id="label_1_9_1">Global Business Expansion<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/global-business-expansion.png"></label>
                                    </li>
                                    <li >
                                        <input name="input_9.2" type="checkbox" value="Global Payroll" id="choice_1_9_2" v-model="form.input_9_2">
                                        <label for="choice_1_9_2" id="label_1_9_2" class="short">Global Payroll<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/global-payroll.png"></label>
                                    </li>
                                    <li>
                                        <input name="input_9.3" type="checkbox" value="Global Visa &amp; Immigration" id="choice_1_9_3" v-model="form.input_9_3">
                                        <label for="choice_1_9_3" id="label_1_9_3">Global Visa &amp; Immigration<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/global-visa-immigration.png"></label>
                                    </li>
                                    <li>
                                        <input name="input_9.4" type="checkbox" value="Consultancy Services" id="choice_1_9_4" v-model="form.input_9_4">
                                        <label for="choice_1_9_4" id="label_1_9_4">Consultancy Services<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/consultancy-services.png"></label>
                                    </li>
                                    <li>
                                        <input name="input_9.5" type="checkbox" value="Project Management" id="choice_1_9_5" v-model="form.input_9_5">
                                        <label for="choice_1_9_5" id="label_1_9_5">Project Management<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/project-management.png"></label>
                                    </li>
                                    <li>
                                        <input name="input_9.6" type="checkbox" value="Value Added Services" id="choice_1_9_6" v-model="form.input_9_6">
                                        <label for="choice_1_9_6" id="label_1_9_6">Value Added Services<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/value-added-services.png"></label>
                                    </li>
                                    <li>
                                        <input name="input_9.7" type="checkbox" value="Global Workforce Solutions" id="choice_1_9_7" v-model="form.input_9_7">
                                        <label for="choice_1_9_7" id="label_1_9_7">Global Workforce Solutions<img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/global-workforce-solutions.png"></label>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="gfield">
                            <div class="">
                                <v-select label="name" 
                                            :options="countries" 
                                            v-model="form.input_6" 
                                            class="contact-countries"
                                            required="true"
                                            @input="getCountry">
                                </v-select>
                            
                                <!-- <input name="input_6" type="text"  placeholder="Country of interest"  required v-model="form.input_6"> -->
                            </div>
                        </li>
                        <li class="gfield " v-if="showCountryTextField" style="padding-right:25px;">
                             <label class="gfield_label"> Which countries are you interested in?</label>
                            <div class="ginput_container">
                                <input name="input_6" type="text" placeholder="E.g: France, UK, USA, etc." v-model="multiple_countries">
                            </div>
                        </li>

                        <!-- only bost will fill this -->
                        <li class="gfield obhp">
                            <div class="ginput_container">
                                <input name="input_11" type="text" id="mother" placeholder="mother name here" v-model="form.input_11">
                            </div>
                        </li>

                        <li class="gfield">
                            <label class="gfield_label" for="input_1_7">Message</label>
                            <div class="ginput_container ginput_container_textarea">
                                <textarea v-model="form.input_7" name="input_7"  class="textarea medium"  placeholder="Please enter your message here" rows="10" cols="50"></textarea>
                            </div>
                            <div class="gfield_description">You can get in touch with our headquarters on <a href="tel:+44 (0)1904 550530">+44 (0)1904 550530</a> or use the form below to send us a message</div>
                        </li>
                        
                        <li class="gfield privacy-tick">
                            <input v-model="form.input_8_1" name="input_8.1" type="checkbox" value="Tick the box if you would like to be kept up-to-date with our latest news and offers" >
                            <label for="choice_1_8_1" id="label_1_8_1">Tick the box if you would like to be kept up-to-date with our latest news and offers</label>
                        </li>

                    </ul>
         
                    <button :disabled="sending" 
                            type="submit" 
                            class="gform_button button">
                                <span v-if="sending">Sending...</span>
                                <span v-else>{{translations.submit}}</span>
                    </button>

                </form>
            
            </div>

            <div v-else>
                <div v-html="thankyouHtml"></div>
            </div>

        </div>

   </div>
    
</template>

<script>
import countries from "@/components/countries.js";
import axios from 'axios';
import 'vue-select/dist/vue-select.css';
export default {

     computed:{

        lang(){ return this.$store.getters['lang/lang'] },

        translations(){ return this.$store.getters['lang/translations'] },
        
    },

    data: () => ({
        
        thankyou: false,
        thankyouHtml: '',
        countries: countries,
        sending: false,
        showCountryTextField: false,
        multiple_countries: null,
        form:{
            input_1: '',
            input_2: '',
            input_3: '',
            input_4: '',
            input_5: '',
            input_6: 'Country of Interest',
            input_7: '',
            input_8_1: '',
            input_9_1: false,
            input_9_2: false,
            input_9_3: false,
            input_9_4: false,
            input_9_5: false,
            input_9_6: false,
            input_9_7: false,
            input_11: null,
        }

    }),

    async asyncData ({ route, params, $axios }) {

        let slug = "contact-us";

        let lang = route.query.lang;

        let { data } = await $axios.get(`/wp-json/wp/v2/pages?slug=${slug}&lang=${lang}`)
		
		return { pageData: data[0] }

	},
    
    
    methods: {

        getCountry(value){

            //if user is interested in multiple countries, show text field
            if(value.code == 'many'){
                
                this.showCountryTextField = true

            }
            // otherwise get selected
            else{
                
                this.showCountryTextField = false;

                if(value) this.form.input_6 = value.name;

            }
            
        },
        
        onSubmit(){

            let vm = this;

            if(this.form.input_11 != null) return false;

            this.sending = true;
            
            // set multiple countries
            if(this.showCountryTextField) this.form.input_6 = this.multiple_countries;

            if(this.form.input_9_1) this.form.input_9_1 = "Global Business Expansion";
            if(this.form.input_9_2) this.form.input_9_2 = "Global Payroll";
            if(this.form.input_9_3) this.form.input_9_3 = "Global Visa & Immigration";
            if(this.form.input_9_4) this.form.input_9_4 = "Consultancy Services";
            if(this.form.input_9_5) this.form.input_9_5 = "Project Management";
            if(this.form.input_9_6) this.form.input_9_6 = "Value Added Services";
            if(this.form.input_9_7) this.form.input_9_7 = "Global Workforce Solutions";
            if(this.form.input_8_1) this.form.input_8_1 = "Tick the box if you would like to be kept up-to-date with our latest news and offers";

            axios.post('/api/contact', this.form)

            .then(function (response) {

                if(response.data.is_valid === true){

                    ga('send', 'event', 'Form Submission', 'Click', 'Contact Form')
                    
                    vm.thankyou = true;
                    vm.thankyouHtml = response.data.confirmation_message;

                    vm.sending = false;
                }
            })
            .catch(function (error) {
                
                vm.sending = false;

                if(error.response ){
                    if(error.response.data.is_valid === false ){
                        alert('Please refresh and try again');
                    }
                }
            });

        }

    },

     // SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `Contact us | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `Contact us | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `Have a question? Need more information? or even just to say Hello? Our helpful service team are here to help in any way we can.` },
                { hid: `image`, property: 'image', content: `https://mauvegroup.com/wp-content/uploads/2016/08/mauve-space-bg-1.jpg` },
                { hid: `canonical`, property: 'canonical', href: `https://mauvegroup.com/contact-us` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `Contact us | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `https://mauvegroup.com/wp-content/uploads/2016/08/mauve-space-bg-1.jpg` },
                { hid: `og:description`, property: 'og:description', content: `Have a question? Need more information? or even just to say Hello? Our helpful service team are here to help in any way we can.` },
                { hid: `og:url`, property: 'og:url', content: `https://mauvegroup.com/contact-us` },
            ],

            link: [
                { rel: 'canonical', href: `https://mauvegroup.com/contact-us`}
            ]

        }
    }

}
</script>
<style scoped>
.obhp{
    display: none;
}
</style>