.gallery {
  float: left;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;

  @include tabletPortrait{
    height: 350px !important;
  }

  &-item{
    height: 100%;
    width: 100%;

    a{
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    img{
      z-index:-1;
      width: auto;
      min-width: 100%;
      //height: 100%;

      @include tablet{
        height: auto;
      }

      @include mobilePortrait{
        width: auto;
      }

    }
  }


  .owl-carousel{
    border-radius: 10px;
    overflow: hidden;
  }
  .owl-item{
    height: 250px !important;

    @include tabletPortrait{
      height: 350px !important;
    }
  }
  .owl-nav{
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 999;

    div{
      position: absolute;
      height: 50px;
      background: $dark-mauve;
      transform: translateY(-100%);
      opacity: 1 !important;
      margin: 0 !important;

      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        width: 15px;
      }
    }

    .owl-prev{
      left: 0;

      svg{
        transform: rotate(180deg);
      }
    }

    .owl-next{
      right: 0 !important;
    }
  }
  .owl-dots {
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0 !important;
    padding: 20px;
    width: 100%;
    background: rgba($dark-mauve, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;


    .owl-dot {
      cursor: pointer;
      float: left;
      width: 12px !important;
      height: 12px !important;
      border-radius: 5px;
      margin: 0 8px 0 0 !important;
      background: rgba(#fff, 0.5) !important;

      &.active {
        background: rgba(#fff, 1) !important;
      }
    }
  }



  &.lightbox{

    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:99999999;

    width: 90%;
    max-width: 800px;
    height:auto;
    background: #fff;
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.8);

    .lightbox-trigger{display: none;}

    .close-modal{display: block;}

    .owl-item{
      height: auto !important;
      max-height: 500px;

      img{
        //transform: translateY(-30%);

        @include mobilePortrait{
          transform: none;
        }
      }
    }
    .owl-carousel{
      border: 10px solid #fff;
      overflow: visible;
    }
    .owl-nav{
      width: 100% !important;
      left: 0 !important;
      bottom: 47% !important;
      z-index: 999;
      transition: none;

      div{
        position: absolute;
        height: 30px;
        width: 30px !important;
        background: #000;
        border-radius: 25px;
        border: 3px solid #fff;
        transition: none;


        svg{
          width: 8px;
        }
      }

      .owl-prev{
        left: -23px;

        svg{
          transform: rotate(180deg);
        }
      }

      .owl-next{
        right: -23px !important;
      }
    }
    .owl-dots {
     display: none;
    }


    .gallery-item a{

      //&:after{
      //  position: absolute;
      //  bottom: 0;
      //  left: 0;
      //
      //  content: attr(title);
      //  background: #fff;
      //  font-style: inherit;
      //  color: #000;
      //  width: 100%;
      //  padding: 10px;
      //  text-align: center;
      //  font-size: 14px;
      //
      //}

    }

  }

  .lightbox-trigger{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba($dark-mauve, 0.6);

    transition: all .2s ease-in;
    opacity: 0;

    &:hover{
      opacity: 1;
    }

    svg{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 50px;
      height: 50px;

      border-radius: 50px;
      background: rgba(255,255,255,0.2);
      fill: #fff;
    }
  }


  .close-modal{
    position: absolute;
    top:-15px;
    right: -15px;
    z-index: 99999;
    width: 30px;
    display: none;
    cursor: pointer;

    transition: all .3s cubic-bezier(0,1.54,.66,.91);

    circle{
      fill: #000;
    }
    path{
      fill: #fff;
    }

    &:hover{
      transform: scale(1.1);
    }
  }



}