.meta {
  position: absolute;
  top:200px;
  left: 0;
  z-index: 111;

  max-height: 80px;
  overflow: hidden;

  float: left;
  width: auto;
  padding: 0 0 0 calc( (100vw - #{$max-width} + 40px) / 2 );
  background: $dark-mauve;


  span {
    float: left;
    font-family: "AvenirNextLTPro-BoldCn";
    font-size: 16px;
    color: #fff;
    margin-right: 5px;
    padding: 8px 5px 4px 0;
    text-transform: uppercase;

    &.reading-time{color: $orange;}


    img,svg{
      float: left;
      margin-right: 10px;
      height:15px;
    }


    &:after {
      float: right;
      content: "-";
      margin-left: 10px;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }

    @include mobile {
      font-size: 14px;
    }
  }

  .actions {
    float: left;
    margin: 0 0 0 15px;
    padding: 0 15px 0 15px;
    list-style: none;

    background: $grey;

    @include mobilePortrait{
      float: left !important;
      padding: 15px 0;
    }



    li {
      float: left;
      margin: 0 15px 0 0;
      padding: 5px 0;

      &:last-of-type{margin-right: 0;}

      &:hover {
        svg {
          fill: $dark-mauve;
          transform: scale(1.1);
        }
      }

      svg {
        width: 20px;
        height:20px;
        padding:3px;
        transition: all 0.5s cubic-bezier(0.08, 1.07, 0.22, 1.47);

        *{ fill: #515455;}

      }
    }
  }

  @include tablet{

    width: 100%;
    float: left;
    position: static;
    padding: 20px 0;
    background: transparent;

    span{

      color: #515455;
      font-size: 14px;

    }

    .actions{

      float: right;
      background: transparent;
      margin: 0 !important;
      padding: 0 !important;

    }

  }

  @include mobilePortrait{
    padding: 10px 0 0 0;
  }

}