.article-single{
  &--head {
    position: relative;
    z-index:100;

    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    height: 220px;
    display: flex;
    align-items: center;


    @include tablet{
      position: relative;
      float: left;
      height: auto;
    }

    .back{
      padding: 3px 20px;
      margin: 15px 0;
      color: #fff;
      position: relative;
      z-index: 100;
      font-size: 12px;
      border-radius: 30px;
      border: 1px solid #fff;

      &:hover{
        background: #fff;
        color: $blue;
      }

    }

    &.post{

      &:before {
        background: rgba($orange, 0.85);
      }
    }

    &.clients{
      &:before {
        background: rgba(#008BB4, 0.85) !important;
      }
    }

    &.country_info{
      &:before {
        background: rgba(#008BB4, 0.85) !important;
      }
    }


    &.webinar{
      &:before {
        background: rgba($green, 0.85) !important;
      }
    }

    &.event,
    &.videos{
      &:before {
        background: rgba($salmon, 0.85) !important;
      }
    }

    &.exhibition,
    &.presentations{
      &:before {
        background: rgba($blue, 0.85) !important;
      }
    }
    

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 100%;
      transform: translate(-50%, -50%);
    }

    h1 {
      float: left;
      width: 100%;
      position: relative;
      z-index: 10;
      font-family: "Roboto Slab", sans-serif;
      margin: 15px 0 0;
      font-size: 36px;
      font-weight: 400;

      @include mobilePortrait {
        font-size: 18px;
      }
    }

    h2 {
      float: left;
      width: 100%;
      position: relative;
      z-index: 10;
      margin:0;
      font-size: 34px;
      font-weight: 300;
      font-family: "Roboto Slab", sans-serif;

      @include mobilePortrait {
        font-size: 15px;
      }
    }


  }
}