
.article-single {
  position: relative;
  float: left;
  width: 100%;
  color: #333;
  background: #fff;

  @include tablet{
    float: left;
    padding-top: 0;
  }


  .sidebar{
    position: absolute;
    right: 20px;
    top:275px;
    z-index: 1001;

    width: 350px;

    @include fromSiteWidth{
      right: calc((100vw - #{$max-width} + 40px) / 2);

      &.fixed{
        position: fixed;
        top: 100px;

        &.unfix{
          position: absolute;
          top: auto;
          bottom: 0;
        }
      }
    }

    @include tablet{
      float: left;
      position: relative !important;
      width: 100%;
      top:0;
      left: 0;
      height: auto !important;
      //order: 0;
      margin-bottom: 30px;
    }

    h3{
      font-size: 16px;
      margin-bottom: 5px;
      @extend .avenirbold;
    }
  }


  &-content {
    float: left;
    width: calc(100% - 350px);

    margin-bottom: 50px;
    padding-right: 50px;

    @include tablet{
      padding: 0;
      width: 100%;
    }

    .cnt{
      float: left;
      width: 100%;

      padding-top: 50px;

      ul{
        padding: 0 0 0 40px;
        margin: 14px 0;
        list-style: disc;
      }


      @include tablet{
        padding: 0;
      }

      h2 {
        font-family: "AvenirNextLTPro-BoldCn";
        font-size: 18px;
        color: #515455;
        margin-top: 0;
      }
    }
  }



  .call-to-action-bar {
    .wrapper {
      position: relative;
    }
  }
}

.share-modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px 50px 30px 30px;
  background: #fff;
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    svg {
      width: 25px;

      path{
        fill: $dark-mauve;
      }
    }
  }

  .at-icon path {
    fill: #fff;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.back-from-single{
  float: left;
  width: 100%;
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;

  @extend .avenircondensed;

  .clients &,
  .exhibition &{
    color: $blue;
  }

  .news &{
    color: $orange;
  }

  .event &{
    color: $salmon;
  }

  &:hover{
    opacity: 1;
  }

  svg{
    width: 25px;
    height:25px;
    border-radius: 30px;
    padding: 4px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid CurrentColor;
    transform: rotate(180deg);
    *{fill: CurrentColor !important;}
  }
}

@import "related";
@import "gallery";
@import "video";
@import "post-head";
@import "meta";