.related{
  float: left;
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;


  @include tabletPortrait{
    height: 350px;
  }

  h3{
    
    text-transform: uppercase;

    .news &{color: $orange;}
    .events &{color: $green;}
    .clients &{color: $blue;}
  
  }

  .swiper-container{
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .swiper-pagination-bullet{background: #fff;}
    .swiper-pagination-bullet-active{ background: #fff;}
  
  }

  &-item{
    position: relative;
    height: 100%;
    width: 100%;

    a{
      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

    }

    img{
      z-index:-1;
      width: auto;
      min-width: 100%;
      height: 100%;

      @include tablet{
        height: auto;
      }

      @include mobilePortrait{
        width: auto;
        height: 100%;
      }
    }
  }

  &-cnt{
    position: absolute;
    bottom: 0px;
    left: 0;

    width: 100%;
    background: rgba($dark-mauve, 0.8);
    color: #fff;
    padding: 15px 15px 30px 15px;

    span{
      float: left;
      width: 100%;
    }

    .title{
      font-size: 22px;

      @include tabletPortrait{
        font-size: 26px;
      }

      @extend .avenircondensed;
    }

    .meta{
      position: static;
      font-size: 14px;
      background: none;
      padding: 0;
      margin-top: 5px;
      text-transform: uppercase;
      @extend .avenirbold;
    }

  }


  .owl-carousel{
    border-radius: 10px;
    overflow: hidden;
  }
  .owl-item{
    height: 250px !important;

    @include tabletPortrait{
      height: 350px !important;
    }
  }
  .owl-nav{
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 999;

    div{
      position: absolute;
      height: 42px;
      background: $dark-mauve;
      transform: translateY(-100%);
      opacity: 1 !important;
      margin: 0 !important;

      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        width: 15px;
      }
    }

    .owl-prev{
      left: 0;

      svg{
        transform: rotate(180deg);
      }
    }

    .owl-next{
      right: 0 !important;
    }
  }
  .owl-dots {
    border-radius: 0 0 10px 10px;
    left: 0;
    bottom: 0 !important;
    padding: 15px;
    width: 100%;
    background: rgba($dark-mauve, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;


    .owl-dot {
      cursor: pointer;
      float: left;
      width: 12px !important;
      height: 12px !important;
      border-radius: 5px;
      margin: 0 8px 0 0 !important;
      background: rgba(#fff, 0.5) !important;

      &.active {
        background: rgba(#fff, 1) !important;
      }
    }
  }

}