.article-video{
  float: left;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;

  position: relative;
  overflow: hidden;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:hover{
    &:after{
      opacity: 1;
    }
  }

  .video-icon{
    position: absolute;
    z-index:10;
    content: '';
    width: 80px;
    height: 50px;
    background-image: url("~static/images/play-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: all .3s ease-in;

    &:hover{
      opacity: 1;
    }
  }

  img{
    width: 100%;
  }

}