<template>
    
    <div>

        <posts-feed :posts="postsData.posts"/>

        <div v-if="page < postsData.totalpages || loading" class="load-more-wrapper">

            <button class="load-more" :class="{loading:loading}" @click="loadPosts(postType, categoryID, page )">

                <LoadMoreButtonIcon class="spinner" />
                <span v-if="loading">Loading</span>
                <span v-else>Load More</span>
                

            </button>

        </div>

    </div>
    
</template>

<script>
import axios from 'axios';
import PostsFeed from "@/components/posts/posts-feed.vue";
import LoadMoreButtonIcon from "@/assets/svg/icons/spinner.svg";

export default {

    components: { PostsFeed, LoadMoreButtonIcon},

    props: ["postType", "postFilterCategory", "reverseOrder"],

    data: () => ({
		
        postsData: {
            totalpages: 2,
            posts: []
        },
        page: 1,
        postsPerPage: 6,
        loading: false,
        categoryID: ""
		
    }),

    computed:{

        lang(){  return this.$store.getters['lang/lang']  },
        
    },

    created(){

        this.loadPosts(this.postType, this.categoryID, 0);

        // LISTEN TO CATEGORIES CHANGE
        // the category can be change from the selector within the posts header component
        // we listen to the selection and reload the posts
        this.$root.$on("category-changed", categoryID => {

            this.postsData.posts = [];

            this.categoryID = categoryID;
            
            this.loadPosts(this.postType, categoryID, 0); // set page = 0 because we want to load the first page of results

        });

    },

    methods: {

        /**
         *  
         * LOAD POSTS METHOD
         * loads a post type and filter it based on the post categories
         * @param postType post type slug
         * @param categoryID category id
         * @param page use this to control the next page we want to load
         * 
         */
        loadPosts(postType, categoryID, page){

            this.loading = true;

            this.page = ++page;

            let query_string = `/wp-json/wp/v2/${postType}?page=${page}&${this.postFilterCategory}=${categoryID}&per_page=${this.postsPerPage}`

            axios.post('/api/rest', {endpoint:query_string})

                .then( response => {

                     this.postsData.totalpages = response.data.headers["x-wp-totalpages"];
                     
                     // workaround the events order
                     // Mauve want to show events from the oldest to recents
                     if(this.reverseOrder){

                          this.postsData.posts = this.postsData.posts.concat(response.data.data).reverse()

                     }else{

                         this.postsData.posts = this.postsData.posts.concat(response.data.data)

                     }

                    this.loading = false;

                })
                
                .catch( error => {

                    this.loading = false;

                    console.log(error);

                });

        

        }

    }


    
}
</script>