<template>
    
    <div>

        <!-- NEWS & CASE STUDIES TEMPLATE -->
        <div v-if="postType == 'news' || postType == 'case-studies'" class="posts-feed">
                
            <div class="posts-feed--posts">

                <nuxt-link  v-for="post in posts"
                    :key="post.id"
                    :to="`/${postType}/${post.slug}`" 
                    :title="post.title.rendered" 
                    class="posts-feed--post">

                    <div class="posts-feed--post-img">
                    
                        <img :src="post.wmp_thumbnail" :alt="post.title.rendered" />
                    
                    </div>
                    
                    <div class="posts-feed--post-cnt is-flexy is-middle">
                    
                        <div>
                        
                            <span class="post-title" v-html="post.title.rendered"></span>
                            
                            <span class="post-meta">
                                
                                <span class="date">{{formatDate(post.date)}} - </span>
                                <span v-for="(category, key) in post.wmp_category" :key="key">{{ category.name}}</span>

                            </span>
                            
                            <span class="post-excerpt" v-html="post.excerpt.rendered"></span>
                            
                        </div> 
                                
                    </div>
                    
                </nuxt-link>                

            </div>
        
        </div>

        <!-- EVENTS TEMPLATE -->
        <div v-if="postType == 'events'" class="events-feed">
            
            <nuxt-link  v-for="post in posts"
                        :key="post.id"
                        :to="`/${postType}/${post.slug}`" 
                        :title="post.title.rendered" 
                        class="event-item" 
                        :style="`background-image: url(${post.wmp_thumbnail})`">
  
                <div class="content">
                    
                    <span class="event-icon" :class="post.wmp_category[0].slug">
                        <img :src="`/images/icons/${post.wmp_category[0].slug}.png`" alt="">
                    </span> 
                
                    <span class="event-date"  :class="post.wmp_category[0].slug">{{formatDate(post.meta._EventStartDate)}}</span>
                
                    <div class="event-item-cnt">
                    
                        <span class="event-cat"  :class="post.wmp_category[0].slug">{{post.wmp_category[0].name}}</span>
                        
                        <span class="event-title">{{post.title.rendered}}</span>     
                                    
                    </div> 
                
                </div>
                
            </nuxt-link>   


        
        </div>

         <!-- DOWNLOADS TEMPLATE -->
        <div v-if="postType == 'multimedia-library'" class="events-feed">
            
            <nuxt-link  v-for="post in posts"
                        :key="post.id"
                        :to="`/${postType}/${post.slug}`" 
                        :title="post.title.rendered" 
                        class="event-item" 
                        :style="`background-image: url(${post.acf.video_cover})`">
  
                <div class="content">
                    
                    <span class="event-icon" :class="post.acf.category">
                        <img :src="`/images/icons/${post.acf.category}.png`" alt="">
                    </span> 
                
                    <div class="event-item-cnt">
                    
                        <span class="event-cat"  :class="post.acf.category">{{post.acf.category}}</span>
                        
                        <span class="event-title">{{post.title.rendered}}</span>     
                                    
                    </div> 
                
                </div>
                
            </nuxt-link>   
        </div>

    </div>

</template>

<script>
import moment from "moment";
export default {

    props: ["posts"],

    computed:{

        postType(){ return this.$route.name }

    },

    methods: {

         formatDate(date){

            return moment(date).format('D MMMM YYYY')

        },
        
    }
    
}
</script>