<template>
    
     <div class="articles--head" :class="postType">

        <div class="wrapper  is-flexy is-left is-middle">
            
            <megaphone v-if="postType == 'posts'" />

            <clients v-if="postType == 'clients'" />

            <calendar v-if="postType == 'tribe_events'" />

            <multimedia v-if="postType == 'multimedia'"/>
            
            <h1>{{pageTitle}}</h1>

            <!-- pass the posst type category to the filters component so we can filter the post types -->
            <posts-filter :post-filter-category="postFilterCategory"/>

        </div>

    </div>

</template>

<script>

import clients from "@/assets/svg/icons/clients2.svg";
import megaphone from "@/assets/svg/megaphone.svg";
import calendar from "@/assets/svg/calendar.svg";
import multimedia from "@/assets/svg/camera.svg";
import PostsFilter from "@/components/posts/posts-filter.vue";

export default {

    components: {PostsFilter, megaphone, clients, calendar, multimedia},
    
    props: ["postType", "pageTitle", "postFilterCategory"],
    
    
}
</script>