<template>
    
    <div class="custom-dropdown" ref="custom-dropdown" :class="{opened: dropdownOpened}">

        <div class="openner" @click="openDropdown(true)" ></div>

        <button class="item active" 
                @click="filterByCategory('')">
                ALL CATEGORIES
        </button>

        <button v-for="category in categories"
                :key="category.id"
                @click="filterByCategory(category.id)"
                class="item" >{{ category.name }}</button>
        

    </div>
    
</template>

<script>
import axios from "axios";
export default {

    props: ["postFilterCategory"],
    
     data : () => ({

        categories: null,

        dropdownOpened: false,

    }),

    computed: {

        lang(){  return this.$store.getters['lang/lang']  },

    },

    mounted(){

        let vm = this;

        // GET CATEGORIES
        let cat_endpoint = `wp-json/wp/v2/${this.postFilterCategory}?lang=${this.lang}`;

        axios.post('/api/rest', {endpoint:cat_endpoint})
        
        .then( response => {

            this.categories = response.data.data;

        });

        // CLICK OUTSIDE -> todo : make dropdown a component
        var specifiedElement = this.$refs["custom-dropdown"];

        document.addEventListener('click', function(event) {
           
            let isClickInside = specifiedElement.contains(event.target);

            if (!isClickInside) {
                vm.openDropdown(false)
            }

        });

        
    },

    methods:{

        openDropdown(open){

           this.dropdownOpened = open
           
        },

        setActive(el){

            let items = el.parentElement.children;

            [...items].forEach(sib => sib.classList.remove('active'));

            el.classList.add('active');

            this.openDropdown(false);

        },

        filterByCategory(categoryID){

            this.setActive(event.target)

            this.$root.$emit("category-changed", categoryID)

        }

    }

}
</script>