<template>

    <div class="article-single clients">

        <post-header post-type="clients" 
                     :post-title="postsData.title.rendered" 
                     :post-sub-title="postsData.acf.subtitle" 
                     :post-thumbnail="postsData.wmp_thumbnail"/>


        <div class="wrapper is-flexy">

            <div class="article-single-content">

                <post-meta :post-category="postsData.wmp_client_category[0].name" 
                           :post-date="postsData.date"
                           :post-content="postsData.content.rendered" />

                <div class="cnt">

                    <!-- {{ include('includes/pages/single/article-video.twig') }} -->

                    <div v-html="postsData.content.rendered"></div>

                    <back-to-articles />

                </div>

                <share-modal :post-title="postsData.title.rendered" 
                             :post-decription="postsData.excerpt.rendered" 
                             :post-slug="postsData.slug" />

            
            </div>

            <!--  SIDEBAR  -->
            <div class="sidebar">

                <related-posts post-type="clients" 
                               post-filter-category-name="client_cat"
                               :exclude-post="postsData.id"
                               :categoryId="postsData.client_cat[0]"/>

            </div>
            

        </div>

    </div>
    
</template>

<script>

import PostHeader from "@/components/post/post-header.vue";
import PostMeta from "@/components/post/post-meta.vue";
import ShareModal from "@/components/post/share-modal.vue";
import BackToArticles from "@/components/back-to-article.vue";
import RelatedPosts from "@/components/post/related-posts.vue";

export default {

    components: { PostHeader, PostMeta, ShareModal, BackToArticles, RelatedPosts },

     async asyncData ({ route, params, $axios }) {

        let slug = route.params.slug;

        let lang = route.query.lang;

        let { data } = await $axios.get(`/wp-json/wp/v2/clients?slug=${slug}&lang=${lang}`)

		return { postsData: data[0] }

	},
    
    computed:{

        lang(){  return this.$store.getters['lang/lang']  },

        translations(){ return this.$store.getters['lang/translations'] },
 
    },

     // SEO
    head () {

        let pageData = this.postsData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }
    
}
</script>