@import "variables";
@import "normalize";
@import "breakpoints";
@import "flexy-layout";
@import "typography";
@import "colours";

@import "buttons";

body{background:#fff;}

.wrapper{

    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 20px;

}