@mixin mobile {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin iphone5Portrait {
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    @content;
  }
}


@mixin mobilePortrait {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin mobileLandscape {
  @media (min-width: 461px) and (max-width: 667px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin tabletPortrait {
  @media (min-width: 668px) and (max-width: 960px) {
    @content;
  }
}

@mixin tabletLandscape {
  @media (min-width: 961px) and (max-width: 1025px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1026px) {
    @content;
  }
}

@mixin siteWidth {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin fromSiteWidth {
  @media (min-width: 1280px) {
    @content;
  }
}
