.btn{
  float: left;
  margin: 15px 0;
  padding: 10px 20px 7px 20px;
  background: transparent;

  &-icon{

    padding: 4px 20px 7px 20px;

    .icon{

      width: 20px;
      height: 20px;
      margin-right: 5px;
      margin-top: 2px;
      padding-top: 7px;
  
      path{fill: #fff; opacity: 1;}
  
    }
  
    &:hover{
  
      .icon{
        path{fill: $dark-mauve;}
      }
  
    }

  }
 

}

.btn-circle {
  background-color: #FFF;
  display: inline-block;
  padding: 3px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;

  border-radius: 30px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  border-radius: 4px;
}

.btn-small-outline {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid;
  padding: 5px 10px;

  border-radius: 30px;
}

.btn-medium-outline {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid;
  padding: 7px 20px 4px;

  border-radius: 30px;

  letter-spacing: 1px;
  font-family: AvenirNextLTPro-BoldCn;

  span{
    padding: 0;
    letter-spacing: 1px;
    font-family: AvenirNextLTPro-BoldCn;
  }

  &.white {
    &:hover, &:focus, &:active {
      text-decoration: none;
      background-color: #FFF;
      color: $dark-mauve;
    }
  }

  &.black {
    &:hover, &:focus, &:active {
      text-decoration: none;
      background-color: $dark-mauve;
      color: #FFF;
    }
  }
}

.btn-large-outline {
  display: inline-block;
  text-transform: uppercase;
  font-family: AvenirNextLTPro-BoldCn;
  font-size: 16px;
  font-weight: 100;
  line-height: 22px;
  border: 2px solid;

  border-radius: 30px;

  &.white {
    &:hover, &:focus, &:active {
      text-decoration: none;
      background-color: #FFF;
      color: $dark-mauve;
    }
  }


  @include mobile{
    font-size: 14px ;
  }

}

.btn-search {
  cursor: pointer;
}



//SERVICES BUTTON
.btn{


  .global-workforce-mobility-solutions & {
    color: #e76556;
    border-color: #e76556;
    &:hover{
      background: #e76556;
      color: #fff;
    }
  }


  .global-business-expansion & {
    color: #0087B9;
    border-color: #0087B9;
    &:hover{
      background: #0087B9;
      color: #fff;
    }
  }


  .global-visa-and-immigration & {
    color: #12ba15;
    border-color: #12ba15;
    &:hover{
      background: #12ba15;
      color: #fff;
    }
  }


  .global-payroll & {
    color: #F39201;
    border-color: #F39201;
    &:hover{
      background: #F39201;
      color: #fff;
    }
  }


  .project-management & {
    color: #191036;
    border-color: #191036;
    &:hover{
      background: #191036;
      color: #fff;
    }
  }


  .consultancy-services & {
    color: $mauve;
    border-color: $mauve;
    &:hover{
      background: $mauve;
      color: #fff;
    }
  }

  .value-added-services & {
    color: #b7b7b7;
    border-color: #b7b7b7;
    &:hover{
      background: #b7b7b7;
      color: #fff;
    }
  }


}
