$mauve: #bcbade;
$dark-mauve: #191036;
// $orange: #F49623;
$orange: #f39200;
$grey: #f2f1f3;
$medium-grey: #b7b7b7;
$green: #76B82A;

$full-width-blue: #007ba4;
$blue: #008BB4;

$salmon: #E86C5D;

// global
.bg-dark-mauve {
  background-color: $dark-mauve;
}

.bg-grey {
  background-color: $grey;
}

.clients {
  color: $full-width-blue;
}

.bg-blue {
  background-color: $full-width-blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-green {
  background-color: $green;
}

.bg-white {
  background-color: #FFF;
}

.black {
  color: #000;
  border-color: #000;

  a {
    color: #000;
  }
}

.white {
  color: #FFF;
  border-color: #FFF;

  a {
    color: #FFF;
  }
}

.orange {
  color: $orange;

  svg {
    path {
      fill: $orange;
    }
  }
}

.dark-mauve {
  color: $dark-mauve;

  svg {
    path {
      fill: $dark-mauve;
    }
  }
}

.grey {
  color: $grey;
}


.global-business-expansion{
  svg{
    fill: $blue;
  }
}

.slide_global-business-expansion{
  &:after{ background-color: $blue;}
}

.sub-menu--container{
  .global-workforce-solutions{
    path{
      fill: $salmon;
    }
  }
}

.global-workforce-solutions{
  svg{
    fill: $salmon;
  }
}
.slide_global-workforce-solutions{
  &:after{ background-color: $salmon;}
}

.global-workforce-mobility-solutions{
  svg,path{
    fill: $salmon;
  }
}

.slide_global-workforce-mobility-solutions{
  &:after{ background-color: $salmon;}
}


.global-visa-and-immigration{
  svg{
    fill: $green;
  }
}
.slide_global-visa-and-immigration{
  &:after{ background-color: $green;}
}

.global-payroll{
  svg{
    fill: $orange;
  }
}

.slide_global-payroll{
  &:after{ background-color: $orange;}
}

.project-management{
  svg{
    fill: $dark-mauve;
  }
}

.slide_project-management{
  &:after{ background-color: $dark-mauve;}
}

.consultancy-services{
  svg{
    fill: $mauve;
  }
}
.slide_consultancy-services{
  &:after{ background-color: $mauve;}
}


.value-added-services{
  svg{
    fill: $medium-grey;
  }
}
.slide_value-added-services{
  &:after{ background-color: $medium-grey;}
}