@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');

.avenirbold{
  font-family: "AvenirNextLTPro-BoldCn";
}
.avenircondensed{
  font-family: "AvenirNextLTPro-Cn";
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.statement, h1, h2 {
  font-size: 50px;
  font-weight: 300;
  color: #FFF;
  font-family: "Roboto Slab", sans-serif;
  margin: 0 0 25px 0;

  @media all and (max-width: 764px) {
    font-size: 30px;
  }
}

.statement {
  margin: 0;
}

h1 {
  line-height: 1;

  &.small {
    font-family: Helvetica, sans-serif;
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.small-title {
  font-family: Helvetica, sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  float: left;
  width: 100%;
  font-size: 30px;
  margin-top: 8px;

  &.subtitle {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

h3 {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
}

h3 {
  &.gform_title {
    font-size: 65px !important;
    font-weight: 300 !important;

    @include mobilePortrait{
      font-size: 41px !important;
    }
  }
}

h5 {
  font-size: 14px;
  text-transform: uppercase;
}

p {
  margin: 0 0 15px 0;
  line-height: 24px;
}

.hero {
  p {
    color: #FFF;
    line-height: 24px;
    margin-bottom: 3em;
  }
}

a {
  transition: all 0.3s ease-in;
}


.page-title-small {
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
  padding: 0 0 25px;
  font-family: AvenirNextLTPro-BoldCn;
}