.knowledge-and-resources{

  background: #fff;
  padding-bottom: 40px;
  min-height: 100vh;

  .head{
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;

    .wrapper{
      position: relative;
      z-index: 10;
    }

    &:after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      content: '';
      background: rgba($dark-mauve, 0.8);
    }
  }


  .boxes{
    position: relative;
    float: left;
    width: 100%;

    &.feed{
      
      margin-bottom: 20px;

      .box{

        padding: 0;
        height: auto;

        .post-carousel{
          
          width:100%;
          padding: 20px;
          border:0;

          .btn{
            bottom: 35px;
            color: #fff;

            &:hover{
              color: $dark-mauve
            }
          }

          .swiper-nav{left: 0 !important; bottom:0 !important;}
        }
      
      }
    }

    .box{
      float: left;
      width: 32.5%;
      padding: 15px;
      margin-bottom: 15px;
      height: 135px;

      background-size: cover;
      background-position: center;

      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: space-between;



      @include tablet{
        width: 100%;
      }

     

      &.news{
        background: $orange;

        .btn{
          color: $orange;
        }
      }

      &.events{
        background: $green;

        .btn{
          color: $green;
        }
      }

      &.client{
        background: $blue;

        .btn{
          color: $blue;
        }

        .article-head{
          float: left;
          width: 100%;
          height: 80px;
        }

        .client-icon{
          max-width: 130px;

          path{fill: #fff;}
        }

        .article-title{margin-bottom: 30px}
      }

      .article{
        width: 100%;
        max-height: 280px ;
        padding: 20px;
        margin: 0;
        border: 0;

        @include mobilePortrait{
          max-height: none;
        }

        &-excerpt{
          display: none;
        }

        .owl-stage-outer{
          float: left;
          width: 100%;
        }

        .item{
          float: left;
          width: 100%;
        }
      }

      &-title{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;

        svg{
          float: left;
          width: 25px;
          height:25px;
          fill: #fff;
          margin: -3px 10px 0 0 ;
          path{
            fill: #fff;
          }
        }
      }

      p{
        font-size: 12px;
        line-height: 14px;
      }

      .button{
        font-size: 10px;
        text-transform: uppercase;
        padding: 5px 20px;
        border-radius: 15px;
        font-weight: 600;
      }

      .see-more{
        float: left;
        width: 100%;
        background: $dark-mauve;
        padding: 5px 20px;

        .btn{
          color: #fff;

          &:hover{
            color: $mauve;
          }
        }
      }

      &.brochure{
        color: #fff;
        box-shadow: inset 0 0 0 200px rgba($dark-mauve, 0.5);

        .button{
          color: $dark-mauve;
          background: #fff;
        }
      }

      &.report{
        color: $dark-mauve;
        box-shadow: inset 0 0 0 200px rgba(#fff, 0.7);

        .button{
          color: #fff;
          background: $dark-mauve;
        }
      }

      &.webinar{
        color: #fff;
        box-shadow: inset 0 0 0 200px rgba($green, 0.8);

        svg{width: 20px;}

        .button{
          color: $green;
          background: #fff;
        }
      }
    }
  }


  .custom-dropdown{
    float: left;
    margin: 15px 0;
    background: $dark-mauve;
    border: 0;
    min-width: 180px;

    position: absolute;

    top: 50px;

    &.opened{background: #fff;}

  }

  .article{
    float: left;
    width: 50%;
    color: #fff;

    @include mobile{
      width: 100%;
      border: 0 !important;

      padding: 30px 20px !important;
    }

    .owl-carousel{
      float: left;
      width: 100%;
    }

    &-title{
      font-size: 24px;
      height:80px;

      float: left;
      width: 100%;
    }

    &-date{
      float: left;
      width: 100%;
      margin: 15px 0;
      font-size: 12px;

      text-transform: uppercase;
      font-family: "AvenirNextLTPro-BoldCn";
    }

    &-excerpt{
      font-size: 16px;
    }

    .btn{
      font-size: 10px;
      text-transform: uppercase;
      padding: 2px 10px;
      border-radius: 15px;
      font-weight: 600;
      background: #fff;

    }

  }
  .owl-dot{
    background: rgba(#fff, 0.6) !important;

    &.active{
      background: #fff !important; ;
    }
  }

}