<template>
    <div style="height: 100vh; width: 100%;">

        <div class="service-landing" >

		<style>
			.service-landing:after{
				background-color: {{pageData.acf.colour}}
			}
		</style>

		 <picture class="full-bg" style="z-index:0;">
			<img v-lazy-load-image :data-src="pageData.acf.featured_image" :alt="pageData.title.rendered">
		</picture>

		<div class="wrapper">

			<span v-if="translations" class="page-title-small">{{translations.our_services}}</span>

			<div class="has-speech">

				<div class="has-speech-main">

					<h1 class="white">{{pageData.title.rendered}}</h1>

					<h2 class="white">{{pageData.acf.subtitle}}</h2>

					<div v-html="pageData.content.rendered"></div>


				</div>

				<service-balloon :service-name="pageData.title.rendered"/>
                
			</div>
                    
		</div>

	</div>


        
  
    </div>
</template>

<script>

import ServiceBalloon from "./service-balloon";

export default {

    components : {ServiceBalloon},
    
	data: () => ({
		
		pageData: {}
		
    }),

    async asyncData ({ route, params, $axios }) {

        let { data } = await $axios.get(`/wp-json/wp/v2/pages?slug=${params.service}&lang=${route.query.lang}`)
		
		return { pageData: data[0] }

	},
	
	computed:{
		
		translations(){ return this.$store.getters['lang/translations'] },
		
	},

	// SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.acf.featured_image}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.acf.featured_image}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }
}
</script>
