<template>
    
    <div class="fixfied is-speech">

        <div class="speech" >

            <div class="speech-cnt">

                <h3>
                    {{serviceName}}

                    <span v-if="lang=='en'">in</span>
                    <span v-else>en</span>

                </h3>

                <v-select label="name" 
                            :options="countries" 
                            v-model="lastSelected" 
                            @input="getCountryServiceDetails">
                </v-select>


                <p v-if="!showLoading && !showDefault && selectedCountryDetails" id="service_description_output">
                    {{selectedCountryDetails.description}}
                    <strong v-if="selectedCountryACF" v-html="selectedCountryACF.office_info"></strong>
                </p>

                <p v-if="!showLoading && showDefault" id="service_description_output">{{ defaultContent }}</p>

                <p v-if="!showLoading && showHelper" >Choose a country above to see country specific information about Global Visa and Immigration</p>

                <div v-if="showLoading" class="loading">
                    <spinner class="dark"/>
                </div>

            </div>

        </div>

       <avatar />

    </div>


</template>

<script>

import 'vue-select/dist/vue-select.css';
import countries from "@/components/countries.js";
import Spinner from "@/components/spinner.vue";
import Avatar from "@/components/avatar";

export default {

    components: { Spinner, Avatar },

    props: ["service-name"],
    
    data: () => ({

        showLoading: false,
        countries: countries,
        lastSelected: "Choose a Country",
        selectedCountryACF:null,
        selectedCountryDetails: null,
        showDefault: false,
        showHelper: false,
        defaultContent: "Whatever the scale and scope of your requirement, Mauve’s extensive range of solutions eliminate all the taxing local groundwork and support you in efficiently realising your international business goals. Our market-leading experience, proven expertise and broad global network will provide your organisation with a valuable partnership, enabling you to streamline operations and focus on the core needs of your business."

    }),

    computed: {

        lang(){

            let lang = this.$route.query.lang ? this.$route.query.lang : "en";
            this.$store.dispatch('lang/setLang', lang);
            return this.$store.getters['lang/lang'];

        },

    },

    mounted(){
        
        // Get the last selected country from local storage
        this.lastSelected = localStorage.getItem("selectedCountry");

        /*
            We call this function on page mounted and on selecting country from the dropdown
            call on mounted so we show the suer the latest selected country upon refresh
        */
        this.getCountryServiceDetails(this.lastSelected)

    },
    

    methods: {

        getCountryServiceDetails(value){

            if(!value) {

                 // Clean the current selected data
                this.selectedCountryDetails = null;
                this.selectedCountryACF = null;

                this.showHelper = true;
                this.lastSelected = this.lang == "en" ? "Choose a Country" : "Seleccione un país";
                return false;

            }

            this.showHelper = false;

            /*
                check if we got the .name key
                we have it when we select the contry from the dropdown
                but we dont have it if we refresh the page
                on page refresh we get the name from local storage
            */
            let countryName = value.name ? value.name : value;

            // Save the selected country 
            this.lastSelected = countryName;

            // Get the selected country
            this.onSelectCountry(countryName);
            
            // Save selected country to local storage so we ca use it after page refresh
            localStorage.setItem("selectedCountry", countryName);

        },

         // Get country details and show it 
        async onSelectCountry(country){

            // Clean the current selected data
            this.selectedCountryDetails = null;

            // Generate slug from country name
            const COUNTRY_SLUG = country.toLowerCase().replace(/\s+/g, '-').replace(/[^\w\-]+/g, '');

            const COUNTRY_INFO_URL = `/wp-json/wp/v2/country/?slug=${COUNTRY_SLUG}=&lang=${this.lang}`;

            // Show loading
            this.showLoading = true;

            // Get country info
            this.$axios.get(COUNTRY_INFO_URL).then( response => {
                
                let countryInfo = response.data[0];
                
                // If country info exists, set it
                if(countryInfo){

                    // Set country data
                    this.selectedCountryDetails = countryInfo;

                    // Get country ACF by country ID
                    this.onSelectCountryACF(countryInfo.id);

                }else{
                    
                    // Otherwise show defualt value
                    this.showDefault = true;

                }
                
                // Hide loading
                this.showLoading = false;

            });

        },

        //  Get country ACF 
        async onSelectCountryACF(id){

            // Clean the current selected data
            this.selectedCountryACF = null;

            const COUNTRY_ACF_URL = `wp-json/acf/v2/term/country/${id}?lang=${this.lang}`;
            
            // Get Country ACF
            this.$axios.get(COUNTRY_ACF_URL).then( response => {
                
                // Set data
                this.selectedCountryACF = response.data.acf;

            });

        },

    }

}
</script>