@font-face {
  font-family: "AvenirNextLTPro-Cn";
  src: url("./AvenirNextLTPro-Cn.eot?#iefix") format("embedded-opentype"), 
  url("./AvenirNextLTPro-Cn.otf") format("opentype"), 
  url("./AvenirNextLTPro-Cn.woff") format("woff"), 
  url("./AvenirNextLTPro-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-BoldCn";
  src: url("./AvenirNextLTPro-BoldCn.eot?#iefix") format("embedded-opentype"), 
  url("./AvenirNextLTPro-BoldCn.otf") format("opentype"), 
  url("./AvenirNextLTPro-BoldCn.woff") format("woff"), 
  url("./AvenirNextLTPro-BoldCn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.avenirbold{
  font-family: "AvenirNextLTPro-BoldCn";
}
.avenircondensed{
  font-family: "AvenirNextLTPro-Cn";
}