<template>

    <div class="add-to-calendar">

        <a :href="`http://www.google.com/calendar/event?action=TEMPLATE
&text=${eventData.title}
&dates=${formatDate(eventData.start_date, 'YMD')}T${formatDate(eventData.start_date, 'hmm')}00/${formatDate(eventData.end_date, 'YMD')}T${formatDate(eventData.end_date, 'hmm')}00
&details=For more details got to: ${eventData.website}
&location=${eventData.venue.address} ${eventData.venue.zip}
&trp=false
&sprop=
&sprop=name:`"
target="_blank" rel="nofollow" :title="translations.google_calendar">
<strong>+</strong> {{ translations.google_calendar }}
        </a>

<a
    :href="`${siteUrl}/?ical=1&tribe_display=[date_start]=${formatDate(eventData.start_date, 'YMD')}T${formatDate(eventData.start_date, 'hmm')}00/${formatDate(eventData.end_date, 'YMD')}T${formatDate(eventData.end_date, 'hmm')}00[timezone]=Europe%2FLondon&e[0][title]=${ eventData.title }[description]=${ eventData.description }[location]=${ eventData.venue.address } ${ eventData.venue.zip }[organizer_email]=`"
    title="ADD TO  ICAL EXPORT">

    <strong>+</strong>
    {{ translations.ical_export }}

</a>



    </div>
    
</template>

<script>
import moment from 'moment';
export default {

    props: [ "eventData" ],
    
    computed:{

        siteUrl(){ return process.env.baseUrl },

        translations(){ return this.$store.getters['lang/translations'] },
 
    },

    methods:{

        formatDate(date, format){
             return moment(date).format(format)
        }

    }
}
</script>