<template>
    <div class="additional-info">

        <h4>{{ translations.additional_information }}</h4>

        <ul class="is-flexy">

            <li>

                <span class="tint">{{ translations.cost }}: </span>

                <div v-if="eventData.cost ==''">
                    {{ translations.free }} 
                </div>

                <div v-else>
                    <!-- {{ eventData.cost_details.currency_symbol }} -->
                    {{ eventData.cost }}
                </div>

            </li>


            <li v-if="eventData.website"><span class="tint">|</span></li>

            <li v-if="eventData.website">

                <span class="tint">{{ translations.website }}: </span>

                <a :href="eventData.website" target="_blank" 
                   :title="`${translations.visit}  ${translations.event} ${translations.website}`">
                
                        {{ translations.visit }} {{ translations.event }} {{ translations.website }}
                
                </a>

            </li>

        </ul>

    </div>
</template>

<script>
export default {

    props:[ "eventData" ],
    
    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
 
    },

}
</script>