
.load-more-wrapper {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
  
    @include tablet {
      margin-top: 15px;
    }
  
  
    .load-more {
      background: transparent;
      border: 0;
      transition: all 1s ease-in;

      display: flex;
      align-items: center;

      font-family: AvenirNextLTPro-BoldCn;
      font-size: 15px;
      line-height: 1;
      
      &:hover {
        #spinner-external {
          transform: translate(-2px, 2px);
        }
  
        #spinner-external-2 {
          transform: translate(2px, 2px);
        }
  
        #spinner-external-3 {
          transform: translate(2px, -2px);
        }
  
        #spinner-external-4 {
          transform: translate(-2px, -2px);
        }
  
        #spinner-inner {
          transform: translate(-2px, 2px);
        }
  
        #spinner-inner-2 {
          transform: translate(2px, 2px);
        }
  
        #spinner-inner-3 {
          transform: translate(2px, -2px);
        }
  
        #spinner-inner-4 {
          transform: translate(-2px, -2px);
        }
      }
  
      &.loading {
        .spinner {
          transform: rotate(1000deg);
        }
      }
  
      .spinner {
        margin-right: 10px;
        overflow: visible;
        width: 40px;
        height: 40px;
        transition: all 3s cubic-bezier(0.18, 1.17, 0.28, 1.54);
  
        .cls-2 {
          fill: $dark-mauve;
          transition-delay: 0.2s;
          transition: all 0.3s cubic-bezier(0.18, 1.17, 0.28, 1.54);
        }
  
        .cls-1 {
          fill: $mauve;
          transition: all 0.6s cubic-bezier(0.18, 1.17, 0.28, 1.54);
        }
      }
    }
  }