.posts-feed {
  float: left;
  padding: 60px 30px 0 0;
  min-height: 60vh;
  width: 100%;


  @include tablet{
    margin-left: -20px;
    padding: 0;
  }

  &--posts {
    float: left;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
      order: 1;
      width: 100%;
      padding: 0;
    }


  }

  

  &--post {
    float: left;
    width: 49%;
    display: flex;
    border-radius: 10px;
    border: 2px solid #E6E4E8;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    color: #000;

    @include mobile {
      border-radius: 0;
      border: 0;
      margin: 2px 0;
      width: 100%;
    }


    &:hover {
      border-color: $orange;
      background: $orange;
      color: #fff;
    }

    .clients &{
      &:hover {
        border-color: $blue;
        background: $blue;
        color: #fff;
      }
    }

    .post-excerpt {
      float: left;
      width: 100%;
      margin-bottom: 0;

      p {
        margin: 0;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &-img {
      position: relative;
      float: left;
      width: 140px;
      max-height: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
      }
    }

    &-cnt {
      float: left;
      width: calc( 100% - 140px);
      padding: 20px;

      > div {
        width: 100%;
      }
    }

  }

  .post-title {
    float: left;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;

    @include mobile {
      font-size: 16px;
    }


    @include tablet {
      font-weight: 600;
    }
  }

  .post-meta {
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;

    @include mobilePortrait {
      display: none;
    }

    .date{

      .clients &{

        display: none;

      }

    }
   

  }

  .post-excerpt {
    float: left;
    width: 100%;
    margin-bottom: 20px;

    @include mobilePortrait {
      display: none;
    }
  }

  .button {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    border: 3px solid #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: bold;

    &:hover {
      box-shadow: 100px 0 0 0 #fff inset, -100px 0 0 0 #fff inset;
      color: $orange;
    }

    .clients &{
      border-color: $blue;
      color: $blue;
    }
  }
}