.articles-page {

    position: relative;
    float: left;
    width: 100%;
    min-height: 80vh; 
    padding-bottom: 50px;
    background: #fff;

}  

@import "posts-header";
@import "posts-feed";
@import "load-more-button";
