.articles--head {
   
    left: 0;
    z-index: 10000;
    width: 100%;
    padding: 25px 0 20px 0;
    margin-bottom: 0;

    &.clients{
      background: $blue;
    }

    &.news, &.posts{
        background: $orange;
      }

    &.tribe_events,
    &.multimedia{
      background: $dark-mauve;
    }

    @include tablet {
      border-bottom: 3px solid #fff;
    }

    @include mobile {
      padding: 15px 0 14px 0;
    }


    .wrapper{position: relative;}

    .custom-dropdown {
      position: absolute;
      right: 10px;
      top:5px;

      @include mobile{top:0;}
    }

    svg {
      width: 40px;
      height: 40px;
      margin-right: 20px;

      @include mobile {
        width: 30px;
        height: 30px;
      }
    }

    h1 {
        padding: 0;
        margin: 0;
        font-size: 28px;
        font-family: "Roboto Slab",sans-serif;
        font-weight: 300;
        text-transform: capitalize;

      @include mobile {
        font-size: 18px;
      }
    }
  }