.is-mobile{
    display: none;
    @include mobile{
        display: block
    }
}

.is-not-mobile{
    display: block;
    @include mobile{
        display: none;
    }
}

.is-tablet{
    display: none;
    @include tablet{
        display: block
    }
}

.is-not-tablet{
    display: block;
    @include tablet{
        display: none;
    }
}