.full-bg{

    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    img{

        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;

    }

}