@import "helpers/perfect-ratio";
@import "helpers/full-bg";
@import "base/base";
@import "helpers/classes";
@import "layout/main";
@import "components/lazy-load.scss";
@import "components/icons.scss";
@import "layout/header";
@import "layout/footer";
@import "layout/fixfied";
@import "libs/owl";
@import "libs/fontawesome";
@import "components/custom-dropdown.scss";
@import "components/post-carousel-component.scss";
@import "components/post-slideshow-component.scss";
@import "components/speech-component.scss";

@import "pages/home/homepage";

@import "pages/posts/posts";
@import "pages/post/post";
@import "pages/events-multimedia/events";


@import "pages/about/about-us";
@import "pages/search/search";
@import "pages/knowledge-resources/knowledge-resources";

@import "pages/services/services-landing";
@import "pages/contact";
@import "pages/page-default";



.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}