<template>

    <div class="about-us-offices">

        <div class="wrapper">

            <span class="page-title-small black">our offices</span>
                
            <h2 class="black">{{ pageData.title.rendered }}</h2>

            <div class="offices">


                <!-- EUROPE OFFICES -->
                <div v-for="(continent, index) in continents" 
                     :key="index" 
                     class="stage">

                    <h3>{{continent}}</h3>

                    <div v-for="office in offices"
                         v-if="office.acf.office_type == continent"
                         :key="office.id"
                         class="office-item">

                        <span class="country is-flexy is-middle">

                            <img :src="require(`~/assets/images/flags/${office.slug}.png`)" :alt="office.post_name">

                            <span v-html="office.title.rendered"></span>

                        </span>

                        <span class="head-name">{{ office.acf.office_head }}</span>

                        <span class="head-position">{{ office.acf.office_address }}</span>

                        <span class="phone"><strong>T:</strong> {{ office.acf.office_phone }}</span>

                        <span class="email">

                            <strong>E:</strong>

                            <a :href="`mailto:${ office.acf.office_email}`">

                                <span v-if="lang == 'en'"> Send an email</span>
                                <span v-else> Enviar un email</span>
                                
                            </a>

                        </span>

                    </div>

                </div>


            </div>

        </div>

    </div>

</template>

<script>
export default {
    

    data: () => ({
		
        offices: {},
        
        continents: ["europe", "americas", "asia" , "africa", "oceania"]
		
    }),

    async asyncData ({ route, params, $axios }) {

        let slug = 'offices';
        let page = "locations";

        let [offices, pageData] = await Promise.all([
			$axios.get(`/wp-json/wp/v2/${slug}?lang=${route.query.lang}&per_page=50`),
			$axios.get(`/wp-json/wp/v2/pages?slug=${page}&lang=${route.query.lang}`),
		]);

		return {
			offices: offices.data,
			pageData: pageData.data[0]
		}
		


	},
    
    computed:{

        lang(){  return this.$store.getters['lang/lang']  },

        translations(){ return this.$store.getters['lang/translations'] },

        
    },
    
    // SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }
}
</script>