<template>

    <div class="page-default">

       <div class="wrapper">

            <h1 class="article-h1">{{pageData.title.rendered}}</h1>
            <div class="article-body" v-html="pageData.content.rendered"></div>

       </div>

    </div>
    
</template>

<script>
export default {
    
    async asyncData ({ route, params, $axios }) {

        let page = "privacy-policy";

        let lang = route.query.lang;

        let { data } = await $axios.get(`/wp-json/wp/v2/pages?slug=${page}&lang=${lang}`)
		
		return { pageData: data[0] }

    },
    
}
</script>