
.custom-dropdown{

    position: relative;
    float: left;
    width: auto;
    border: 2px solid #fff;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    z-index: 10;
  
    display: flex;
    flex-flow: column;
  
    &:after{
  
        content: '';
      vertical-align: middle;
      display: inline-block;
      border: .35em solid transparent;
      border-top: .5em solid;
      position: absolute;
      right: 10px;
      top: calc(50% - .175em);
  
    }
    
    &.language-selection{
      &:hover{
        
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    
        .item{
          height: 30px !important;
          color: #191036;
          opacity: 1 !important;
        }

      }
    }
  
    &.opened{
  
      background: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,0.15);
  
      .item{
        min-height: 30px !important;
        color: #191036;
        opacity: 1 !important;
      }
    }

    .openner{
      position: absolute;
      top:0; 
      left:0;
      width:100%;
      height: 30px;
      background: transparent;
      cursor: pointer;
    }

    &--options{
      display:flex;
      flex-direction:column;

      max-height: 280px;
      overflow-x: hidden;
      width:100%;
    }
  
  
    .item{
      text-align: left;
      float: left;
      padding: 0 35px 0 15px;
      color: #fff;
      background: transparent;
      border: 0;
      overflow: hidden;
  
      font-size: 13px;
      font-family: AvenirNextLTPro-BoldCn;
      text-transform: uppercase;
  
      display: flex;
      align-items:center;
      order: 1;
  
      transition: all .15s ease-in;
  
      box-shadow: none !important;
      outline: none !important;
  
      &:not(.active){
        opacity: 0;
        height: 0;
      }
  
      &:hover{
        color: $orange;
      }
  
      &.active{
        order: 0;
        height: 25px;
        padding: 2px 35px 0 15px;
      }
  
    }
  
  
    .opener{
      position: absolute;
      top: 0;
      right: 5px;
      z-index: 100;
      width: 100%;
      height: 35px;
      // background: url("source/svg/icons/arrows/scroll.svg") no-repeat;
      background-size: 14px 14px;
      background-position: 95% center;
    }
  
  }
  