
.star {
  margin-top: -3px;
  display: inline-block;
}

.contact-close {
  position: absolute;
  top: 90px;
  right: 17px;
  cursor: pointer;
}


.bottom-arrow-wrap {
  width: 170px;
  height: 50px;
  position: absolute;
  bottom: -40px;
  right: 150px;

  path {
    fill: #FFF;
  }
}

// svg specific
.icon-inline {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.arrow-right {
  position: absolute;
  top: 4px;

  &.white {
    .iconsolidbg {
      fill: transparent;
    }

    .iconfgcolor {
      fill: #FFF;
    }
  }
}
