
  
.post-carousel{
    float: left;
    width: 33.3%;
    color: #fff;
    display: flex;
    min-height: 350px;
    flex-direction: column;

    @include mobile{
      width: 100%;
      border: 0 !important;

      padding: 30px 20px !important;
    }


    &-title{
      font-size: 24px;
    }

    &-date{
      float: left;
      width: 100%;
      margin: 15px 0;
      font-size: 12px;

      text-transform: uppercase;
      font-family: "AvenirNextLTPro-BoldCn";
    }

    &-excerpt{
      font-size: 16px;
    }




  &--head {
    float: left;
    width: 100%;
    margin-bottom: 20px;

    svg {
      float: left;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      fill: #fff;

      path{
        fill: #fff;
      }
    }

    span {
      float: left;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      font-family: "AvenirNextLTPro-BoldCn";
    }
  }

  .swiper-slide{

    min-height: 210px;
    padding-bottom: 60px;

    .btn{

      position: absolute;
      bottom: 0;
      left: 0;

    }

  }


  .swiper-nav{
    left: 150px !important;
    bottom: 15px !important;

    > div{
      width: 35px !important;
    }

  }



  &.latest-news {
    padding: 30px 30px 30px 0;
    border-right: 5px solid #fff;
    background: $orange;
  }

  &.case-studies {
    padding: 30px;
    background: $mauve;
  }

  &.upcoming-events {
    padding: 30px 0 30px 30px;
    border-left: 5px solid #fff;
    background: $green;
  }
  
}