.carousel-component {
    float: left;
    width: 100%;
    min-height: 242px;
    border-top: 5px solid #fff;
  
    h2 {
      text-align: center;
      margin: 16px 0;
      float: none;
      clear: both;
    }
  
    &--case {
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  
      @include aspect-ratio(385, 308);
  
      transition: all 0.9s cubic-bezier(0.21, 1.36, 0.55, 1.23);
  
      .view {
        background: #fff;
        font-size: 9px;
        border-radius: 10px;
        text-transform: uppercase;
        color: #666660;
        font-weight: bold;
        padding: 4px 10px 2px 10px;
        border: 1px solid white;
        text-decoration: none;
        transform: translateY(150px);
        transition: all 0.6s cubic-bezier(.13,1.05,.45,1);
  
        &:hover {
          background: transparent;
          color: #fff;
        }
      }
  
      &:hover {
        background: rgba(0,0,0,.1);
  
        .client-icon {
  
          max-height: 40px;
          transform: translate3D(-50%, calc(-50% - 50px), 0);
  
          path{
            fill: #fff;
          }
  
          &[title="nokia"],
          &[title="orange"]{
            transform: translate3D(-50%, calc(-50% - 50px), 0) scale(0.7);
  
          }
  
        }
  
        .view {
          transform: translateY(20px);
        }
  
        .carousel-component {
          &--name {
            opacity: 1;
            transform: translateY(0);
          }
  
          &--intro {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
  
      .client-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        fill: #B7B7B7;
        //max-width: 60%;
        width: auto !important;
        max-height: 80px;
        transform: translate3D(-50%, -50%,0);
        transition: all 0.5s cubic-bezier(.13,1.05,.45,1);
  
        path{
          fill: #B7B7B7;
        }
      }
  
      .carousel-component {
        &--name {
          float: left;
          width: 100%;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
          color: #fff;
          margin: 25px 0 0 0;
          opacity: 0;
          transition: all 0.4s cubic-bezier(.13,1.05,.45,1);
          transform: translateY(20px);
        }
  
        &--intro {
          float: left;
          width: 100%;
          text-align: center;
          font-size: 11px;
          font-weight: 100;
          color: #fff;
          padding: 0 30px;
          opacity: 0;
          transition: all 0.4s cubic-bezier(.13,1.05,.45,1);
          transform: translateY(20px);
        }
      }
    }
  

    .swiper-container {

        @include tablet{
            padding-bottom: 50px;
        }

    }

  
    .swiper-pagination{
        margin-top: 50px;
      display: none;
      @include tablet{
        display: block;
      }
    }


  }
  