.has-speech{
    float: left;
    width: 100%;
    display: flex;
    min-height: 90vh;
  
    @include tablet{
      display: flex;
      flex-flow: column;
    }
  
    &-main{
      float: left;
      width: calc(100% - 350px);
      padding-right: 50px;
      padding-bottom: 50px;
  
      @include tablet{
        float: left;
        padding-right: 0;
        width: 100%;
        //order: 1;
      }
    }
}
  
  
    .speech{
      height: 360px;
      background: #fff;
      color: #444;
  
      @include tabletLandscape{
        height: 310px;
      }
  
      @include tablet{
        margin-bottom: 0;
      }
  
      &:after{
        content: '';
        width: 100%;
        height: 80px;
        background: url("~assets/images/balloon-arrow-white.png") no-repeat;
        background-size: contain;
        background-position: 120px -10px;
        transform: rotateY(180deg);
        z-index: -1;

        position: absolute;
        bottom:-50px;
        left:-10px;
        content: '';
    
    
        @include tablet{display: none;}
        
      }
  
      h3{
  
        color: $dark-mauve;
        float: left;
        width: 100%;
        margin-bottom: 15px;
  
        font-size: 20px !important;
        font-family: "Roboto Slab", sans-serif !important;
  
      }

      p{
        color: black;
        font-size: 12px;
        line-height: 20px;
      }
  
  
      &-cnt{
        float: left;
        width: 100%;
        height:100%;
        overflow-x: hidden;
  
        .icon{
          cursor: pointer;
          float: left;
          width: 15px;
          margin-top: 10px;
  
          &.tips{
            position: relative;
  
            &:hover{
              &:before,
              &:after{
                opacity:1;
              }
            }
  
            &:before,
            &:after{
              opacity: 0;
              transition: all .3s ease-in;
              transition-delay: 0.3s;
            }
  
            &:after{
              position: absolute;
              top:-15px;
              left: 0;
  
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 14px 7px 0 7px;
              border-color: $dark-mauve transparent transparent transparent;
            }
  
            &:before{
              position: absolute;
              top:-11px;
              left: -35px;
              content: attr(data-label);
              transform: translate(-70%, -100%);
  
              width: 210px;
              padding: 10px;
  
              color: #fff;
              background: $dark-mauve;
              border-radius: 15px;
              border: 3px solid #fff;
  
              font-size: 12px;
              text-align: center;
            }
          }
        }
  
      }
    }
  

  
  
  .speech{
    width: 100%;
    position: relative;
    margin-bottom: 55px;
    border-radius: 8px;
    padding: 15px 15px 35px 15px;
  
    @include tabletLandscape{
      margin-bottom: 10px;
    }
  
    @include mobilePortrait{
      float: left;
      height: auto !important;
    }
  
  
  }