<template>

    <div class="article-single news">

        <post-header :post-type="postsData.wmp_category[0].name" 
                     :post-title="postsData.title.rendered" 
                     :post-sub-title="postsData.acf.subtitle" 
                     :post-thumbnail="postsData.wmp_thumbnail"/>


        <div class="wrapper is-flexy">

            <!-- CONTENT  -->
            <div class="article-single-content">

                <!-- META INFO -->
                <post-meta :post-category="postsData.wmp_category[0].name" 
                           :post-date="postsData.date"
                           :post-content="postsData.content.rendered"
                           :post-downloads="postsData.acf.file" />

                <div class="cnt">

                    <!-- VIDEO MODAL -->
                    <post-video v-if="postsData.acf.video_url" 
                                :video-cover="postsData.acf.video_cover" 
                                :video-embed="postsData.acf.video_url" />

                    <!-- FILE DOWNLOAD -->
                    <a v-if="postsData.acf.file" 
                        :href="postsData.acf.file" target="_blank" class="article-video">
                        <img :src="postsData.acf.video_cover" 
                             :alt="postsData.title.rendered" 
                             class="class-toggler">
                        <div class="download-banner" style="background: none;">
                            <svg role="img" viewBox="0 0 24.86 22.81"><defs><style>.cls-1{opacity:.5}.cls-2{fill:#515455}</style></defs><title>download-icon</title><g id="Layer_2" data-name="Layer 2"><g class="cls-1" id="Layer_6" data-name="Layer 6"><path class="cls-2" d="M4.96 18.81h15v4h-15zM12.62 16.4L0 2.71 2.94 0l9.63 10.45L21.88.02l2.98 2.67L12.62 16.4z"></path></g></g></svg>
                        </div>
                    </a>

                    <!-- CONTENT -->
                    <div v-html="postsData.content.rendered"></div>

                    <!-- <back-to-articles /> -->

                </div>

                <!-- SHARE MODAL -->
                <share-modal :post-title="postsData.title.rendered" 
                             :post-decription="postsData.content.rendered" 
                             :post-slug="postsData.slug" />

            
            </div>

            <!--  SIDEBAR  -->
            <div class="sidebar">

                <!-- RELATED POSTS -->
                <related-posts post-type="multimedia" 
                               post-filter-category-name="multimedia_cat"
                               :exclude-post="postsData.id"
                               :categoryId="postsData.multimedia_cat[0]"/>

            </div>
            

        </div>

    </div>
    
</template>

<script>

import PostHeader from "@/components/post/post-header.vue";
import PostMeta from "@/components/post/post-meta.vue";
import ShareModal from "@/components/post/share-modal.vue";
import BackToArticles from "@/components/back-to-article.vue";
import RelatedPosts from "@/components/post/related-posts.vue";
import PostVideo from "@/components/post/post-video.vue";

export default {

    components: { 
        PostHeader, 
        PostMeta, 
        ShareModal,
        BackToArticles, 
        RelatedPosts,
        PostVideo
    },


     async asyncData ({ route, params, $axios }) {

        let slug = route.params.slug;

        let lang = route.query.lang;

        let { data } = await $axios.get(`/wp-json/wp/v2/multimedia?slug=${slug}&lang=${lang}`)
		
		return { postsData: data[0] }

	},
    
    computed:{

        lang(){  return this.$store.getters['lang/lang']  },

        translations(){ return this.$store.getters['lang/translations'] },
 
    },

    // SEO
    head () {

        let pageData = this.postsData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }
    
}
</script>