<template>
    
    <div class="articles-page events">

       <posts-header :page-title="translations.multimedia_title" :post-type="postType" :post-filter-category="postFilterCategory"/>

       <div class="is-flexy is-full">

           <div class="wrapper">

            <posts-loader :post-type="postType" :post-filter-category="postFilterCategory"/>
           

        </div>

       </div>

    </div>   

</template>

<script>

import PostsHeader from "@/components/posts/posts-header.vue";
import PostsLoader from "@/components/posts/posts-loader.vue";

export default {

    components: { PostsHeader, PostsLoader},

     data: () => ({
		
        postType: "multimedia",
        postFilterCategory: "multimedia_cat",
   
		
    }),

    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
        
    },
    
    
}
</script>