<template>
    <div class="avatar">
            <svg role="img" viewBox="0 0 336 402">

            <title>woman</title><style>.st0{fill:#fff}</style><path class="st0" d="M318 249.1c-7.7-7.8-31.9-14.9-55.5-21.9-25-7.4-49.6-14.8-53.9-22.8-3.4-6.3-.9-20.7 1.6-22.8.7-.6 1.3-1.1 1.9-1.7 0-.1 42.5-21.7 50.8-49.6C275-7.5 149.2-14.3 120 12.5 91.2 15 64 81.3 79.3 130.2c6.6 21.1 44.8 48.1 46.2 49.5.1.1.2.2.3.2.5.6 1.1 1.1 1.7 1.6 2.5 2.1 5 16.5 1.6 22.8-4.5 8.3-30.2 15.8-56 23.4-23 6.9-46 13.8-53.6 21.3-8 8-15 127-18.8 152.9h336C333 376.1 326 257.1 318 249.1zM169 13.4c26.1 0 47.8 13.9 53.5 32.5-11.1-12-30.9-20-53.5-20s-42.4 8-53.5 20c5.7-18.6 27.4-32.5 53.5-32.5zm-57.7 98.7c1.5-9.9 15.5-54.1 15.5-54.1 1.8 24.3 93 30.1 102.4 46.7-2.8 47.8-10.3 59.9-23.3 72.2-6.6 6.6-24.5 16-37 16-12.4 0-30.4-9.4-36.9-16-10-9.4-26.2-37-20.7-64.8zM169 314.2c-15.3-9.7-47.1-62.7-56.1-88.3 0 0 14-6.8 19.3-15 1.2-1 2-2 2.6-3 2.1-3.9 2.9-13 1.7-20.6 8.3 5.7 22.3 11.3 32.5 11.3 10.3 0 24.3-5.7 32.6-11.3-1.3 7.6-.5 16.6 1.7 20.6.5 1 1.4 2 2.6 3 5.3 8.3 19.3 15 19.3 15-7.6 20.1-40.1 78.2-56.2 88.3z"></path></svg>
        </div>
</template>