<template>

    <span :title="translations.back" 
           class="back-from-single"
           @click="$router.back()">

        <back-icon />

        {{ translations.back }}

    </span>
    
</template>

<script>

import BackIcon from "@/assets/svg/icons/chevron.svg";
export default {

    components: { BackIcon },

    props: ["backTo"],

    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
 
    },

    
}
</script>