<template>
    
    <div class="custom-dropdown"  ref="custom-dropdown" :class="{opened: dropdownOpened}">
        <div class="openner"  @click="openDropdown(true)"></div> 

        <div class="custom-dropdown--options" ref="dropdown-options">
            <slot></slot>
        </div>
       
    </div>
    
</template>

<script>
export default {
    
    data: () => ({

        dropdownOpened: false

    }),

    mounted(){

        let vm = this;

        // CLICK OUTSIDE -> todo : make dropdown a component
        var specifiedElement = this.$refs["custom-dropdown"];

        document.addEventListener('click', function(event) {
           
            let isClickInside = specifiedElement.contains(event.target);

            if (!isClickInside) {
                vm.openDropdown(false)
            }

        });


        //  CLOSE DROPDOWN IF OPTION IS CLICKED
        var options = this.$refs["dropdown-options"];

        options.addEventListener('click', function(event) {
           
           vm.openDropdown(false)

        });

    },
    

    methods:{

         openDropdown(open){

           this.dropdownOpened = open
           
        },

    }
}
</script>