<template>
    <div>

        <nuxt-link to="/contact-us" title="Get in touch to find out how we can help you" id="get-in-touch-strap">

            <div class="wrapper">

                Get in touch to find out how we can help you

                <span class="icon-inline">
                    <svg class="arrow-right white" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <circle class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                        <path class="iconfgcolor" d="M15,30A15,15,0,1,1,30,15,15,15,0,0,1,15,30ZM15,4A11,11,0,1,0,26,15,11,11,0,0,0,15,4ZM12.63,22.94,10,20l5.35-4.77L9.94,10.25l2.71-2.94,8.61,7.93Z"></path>
                    </svg>
                </span>

            </div>

        </nuxt-link>


        <footer id="footer">

            <div class="wrapper is-flexy">

                <!-- FOOTER SERVICES SECTION -->
                <div class="footer-col footer-services">

                    <h5 class="white">OUR SERVICES</h5>

                    <ul v-if="services">

                        <li v-for="service in services" :key="service.id">

                             <nuxt-link :to="`/mauve-group-services/${service.slug}`" :title="service.title.rendered">

                                {{service.title.rendered}}

                            </nuxt-link>

                        </li>

                    </ul>

                </div>

                <!-- FOOTER CONTACT SECTION -->
                <div v-if="translations" class="footer-col footer-contact">


                    <h5 class="white">{{ translations.quick_contact }}</h5>

                    <span> {{ translations.quick_contact_intro }}</span>

                        <div class="is-flexy">

                            <ul>
                        
                                <li v-for="(item, index) in translations.contacts"
                                    :key="index" 
                                    class="is-flexy">

                                    <img v-lazy-load-image :data-src="`https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/${toLowercase(item.quick_contact_country)}.png`">
                                    <h4>{{ item.quick_contact_country }}: </h4>
                                    <span>{{ item.quick_contact_phone }}</span>

                                </li>


                        </ul>
                                    
                    </div>
            
                </div>

            </div>

            <div v-if="translations" class="copyright is-full">

                <div class="wrapper  is-flexy is-between is-middle">

                    <p>Copyright  {{now}} {{ translations.footer_copy }}</p>

                    <div class="menu-footer-menu-container">

                        <ul>

                            <li class=" menu-item">

                                <nuxt-link to="/legal-notice/" title="Legal Notice">Legal notice</nuxt-link>
                                
                            </li>
                        
                            <li class="menu-item">

                                <nuxt-link to="/privacy-policy/" title="Privacy Notice">Privacy Notice</nuxt-link>

                            </li>

                        </ul>


                    </div>

                </div>

            </div>

        </footer>

    </div>
</template>

<script>

import moment from 'moment';
export default {


    computed:{

        now(){

            return moment().year();
        },

        services(){

            return this.$store.getters['services/services'];

        },

        loaded(){

            return this.$store.getters['services/loaded'];

        },

        translations(){

            return this.$store.getters['lang/translations'];

        }

    },

    methods:{

        toLowercase(str){
            return str.toLowerCase()
        }

    }
    
}
</script>
