<template>
    
      <header class="header">


				<div class="top-bar">

					<div class="wrapper is-flexy is-right">
						
              <language-selection/>
            
					</div>

				</div>


				<div class="wrapper is-flexy is-nowrap is-middle">

        <!-- LOGO -->
        <logo/>

        <!-- NAVIGATION -->
        <div class="header-nav is-not__mobile desktop" :class="{showMenu: showMenu}">

          <div class="mobile-nav--head is-flexy is-middle is-center is-mobile"  @click="showMenu=false">>
            <svg role="img" class="class-toggler" data-target=".is-active" data-class="is-active" viewBox="0 0 46 46"><path  d="M23,0A23,23,0,1,0,46,23,23,23,0,0,0,23,0Zm0,42A19,19,0,1,1,42,23,19,19,0,0,1,23,42Zm6.09-27.91L23,20.17l-6.09-6.08-2.82,2.82L20.17,23l-6.08,6.09,2.82,2.82L23,25.83l6.09,6.08,2.82-2.82L25.83,23l6.08-6.09Z"></path></svg>
            <span>MAIN MENU</span>
          </div>

          <!-- MAIN NAVIGATION EN -->
          <main-nav-en v-if="lang == 'en'"/>

           <!-- MAIN NAVIGATION ES -->
          <main-nav-es v-if="lang == 'es'"/>

        </div>

        <div class="header-right is-stick__right is-flexy is-middle">

            <!-- SOCIAL LINKS -->
            <SocialLinks />

            <!-- SEARCH -->
            <search-component />

            <button class="hamburger"  type="button" @click="showMenu=true">
            
              <HamburgerIcon />
            
            </button>

        </div>

        <!-- CONTACT -->
        <div id="contact">

            <nuxt-link :to="{ path: '/contact-us', query: { lang: lang }}"  class="btn-medium-outline white">

                <span class="is-not__mobile">{{ translations.contact_us}}</span>

                <ContactUsIcon />

            </nuxt-link>

        </div>

      </div>

    </header>

</template>
<script>

import Logo from '@/components/logo.vue';

import LanguageSelection from "@/components/language-selection.vue";
import SearchComponent from "@/components/search.vue";
import MainNavEn from "@/components/main-nav-en.vue";
import MainNavEs from "@/components/main-nav-es.vue";

import SocialLinks from "@/components/social-links.vue";

import HamburgerIcon from "@/assets/svg/icons/menu-icon.svg";
import ContactUsIcon from "@/assets/svg/icons/contact-us-icon.svg";

export default {
    components: {
      Logo,
      LanguageSelection,
      SocialLinks,
      HamburgerIcon,
      ContactUsIcon,
      SearchComponent,
      MainNavEn,
      MainNavEs
    },

    data: () => ({
      showMenu: false
    }),

    computed:{

      lang(){ return this.$store.getters['lang/lang'] },

      translations(){ return this.$store.getters['lang/translations'] },
    
    }
}
</script>