
<template>
    
    <div class="custom-dropdown language-selection" :class="{opened: langOpened}">
         <div class="openner" @click="openLang(true)"></div>
        <button class="item" :class="{active: selectedLanguage == 'en'}" @click="onSelectLanguage('en')">ENGLISH</button>
        <button class="item" :class="{active: selectedLanguage == 'es'}" @click="onSelectLanguage('es')">SPANISH</button>
    </div>

</template>


<script>

export default {

  data: () => ({

    selectedLanguage: "en",
    langOpened: false,

  }),

  methods: {

    openLang(isOpen){
      this.langOpened = isOpen;
    },

    onSelectLanguage(lang){

      document.querySelectorAll(".custom-dropdown .item").forEach(el => {

        el.classList.remove('active');

      });

      event.target.classList.add('active');
      
      this.$store.dispatch('lang/setLang', lang);

      window.location.href = `?lang=${lang}`;

    },

     getUrlParameter(name) {
      
        let lang = this.$route.query.lang
                    
        return lang ? lang : "en";
    }

  },

  computed:{
     
  },

  mounted(){

    let lang = this.$route.query.lang ? this.$route.query.lang : "en";

    this.$store.dispatch('lang/setLang', lang);
    this.$store.dispatch('lang/getTranslations', lang)
    this.selectedLanguage = this.getUrlParameter('lang');



  }
  
}
</script>

<style lang="scss">

.language-selection{
  
  width: 95px !important;

  .item{

    &:hover{

      color: #F49623 !important;

    }
    
  }
  
}


</style>