<template>
  
  <a id="logo" href="/" title="Mauve">

    <MauveLogoSvg/>

  </a>

</template>

<script>

import MauveLogoSvg from '@/assets/svg/logo.svg';
export default {
  components: {MauveLogoSvg}
  
}
</script>