<template>
    <nav class="main-nav">

        <ul class="nav-wrapper">

            <li><nuxt-link :to="{ path: 'about-us', query: { lang: 'es' }}"  :title="translations.our_story">{{ translations.our_story }}</nuxt-link></li>

            <li><nuxt-link :to="{ path: 'mauve-group-services', query: { lang: 'es' }}" :title="translations.our_services">{{ translations.our_services}}</nuxt-link></li>

        </ul>

    </nav>
</template>

<script>
export default {
    
    computed: {
        translations(){ return this.$store.getters['lang/translations'] },
    }
}
</script>
