<template>
    <nav class="main-nav">

        <ul class="nav-wrapper">

            <li class="">

            <nuxt-link to="/about-us"  title="OUR STORY">OUR STORY</nuxt-link>

            </li>

            <li class="has-sub-menu">

            <nuxt-link to="/mauve-group-services" title="OUR SERVICES">OUR SERVICES</nuxt-link>

                <section class="sub-menu full">

                <MenuServiceDropdown/>

                </section>

        
            </li>

            <li><nuxt-link to="/locations" title="LOCATIONS">LOCATIONS</nuxt-link></li>

            <li><nuxt-link to="/news" title="NEWS">NEWS</nuxt-link></li>

            <li><nuxt-link to="/events" title="EVENTS">EVENTS</nuxt-link></li>

            <li class="has-sub-menu">

            <nuxt-link to="/knowledge-and-resources">RESOURCES</nuxt-link>

                <section class="sub-menu simple">

                <nav>

                    <nuxt-link to="/knowledge-and-resources" title="DOWNLOADS" class="downloads">
                    
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.86 22.81"><defs><style>.cls-1{opacity:0.5;}.cls-2{fill:#515455;}</style></defs><title>download-icon</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><g class="cls-1"><rect class="cls-2" x="4.96" y="18.81" width="15" height="4"/><polygon class="cls-2" points="12.62 16.4 0 2.71 2.94 0 12.57 10.45 21.88 0.02 24.86 2.69 12.62 16.4"/></g></g></g></svg>
                    </div>
                    DOWNLOADS
                    
                    </nuxt-link>

                    <nuxt-link to="/multimedia-library" title="MULTIMEDIA" class="multimedia">
                    
                    <div class="icon" style="padding-left:2px">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 155.908 155.908" style="enable-background:new 0 0 155.908 155.908;" xml:space="preserve">
                        <g>
                        <path d="M143.878,58.015L46.02,6.45c-9.816-5.172-21.348-4.838-30.848,0.894C5.672,13.076,0,23.122,0,34.218v87.473
                            c0,11.096,5.672,21.142,15.172,26.874c5.018,3.028,10.601,4.549,16.2,4.549c5.001,0,10.016-1.215,14.647-3.655l97.858-51.566
                            c7.42-3.91,12.03-11.55,12.03-19.938S151.298,61.926,143.878,58.015z M135.486,81.968l-97.858,51.566
                            c-4.249,2.239-9.045,2.101-13.157-0.381C20.358,130.671,18,126.493,18,121.69V34.218c0-4.803,2.358-8.981,6.471-11.462
                            c2.169-1.309,4.529-1.966,6.898-1.966c2.122,0,4.251,0.527,6.259,1.585l97.858,51.565c2.186,1.152,2.422,3.191,2.422,4.014
                            S137.672,80.816,135.486,81.968z"/>
                        </g>
                        </svg>
                    </div>
                    MULTIMEDIA
                    
                    </nuxt-link>

                    <nuxt-link to="/case-studies" title="CASE STUDIES" class="clients">
                    
                    <div class="icon" style="padding-left:2px">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.9 50.25"><defs><style>.mauve-case-study_svg__cls-1{fill:#fff}.mauve-case-study_svg__cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:4px}</style></defs><circle cx="21.66" cy="16.66" r="6.6" class="mauve-case-study_svg__cls-1"></circle><path d="M27.06 23.54a10.58 10.58 0 01-11-.12 13.72 13.72 0 00-8.34 12.63l14 4.37 13.48-4.37a13.71 13.71 0 00-8.14-12.51z" class="mauve-case-study_svg__cls-1"></path><circle cx="21.06" cy="21.06" r="19.06" class="mauve-case-study_svg__cls-2"></circle><path d="M35.56 34.07l15.99 14.71" class="mauve-case-study_svg__cls-2"></path></svg>
                    </div>

                    CASE STUDIES
                    
                    </nuxt-link>

                </nav>

                </section>


            </li>

        </ul>

    </nav>
</template>
<script>

import MenuServiceDropdown from "@/components/menu-services-dropdown.vue";
export default {
    components: {MenuServiceDropdown}
}
</script>