<template>

        <div class="full-width home-service-slider service-slider" id="services">

            <div class="service-slider__slides is-flexy is-middle">


                    <div v-swiper:mySwiper="swiperOption">

                        <!-- SHIMMER -->
                        <div v-if="!loaded" class="swiper-wrapper swiper-shimmer">
                        
                          <div class="swiper-slide swiper-slide-active">
                            <div class="service-slider__slide slide_0 slide_global-workforce-mobility-solutions">
                                <div class="wrapper is-flexy is-middle">
                                    <div class="service-slider__slide-content">
                                        <div class="shimmer-title"></div>
                                        <div class="shimmer-text">
                                            <span class="is-full"></span>
                                            <span class="is-8of12"></span>
                                            <span class="is-half"></span>
                                        </div>

                                        <a href="#" class="btn btn-medium-outline white shimmer-button">LOADING...</a>
                                      
                                      </div>
                                    
                                    <div class="services-cycle is-flexy is-middle is-center">
                                        <div class="shimmer-image"></div>
                                    </div>
                                </div>
                            </div>
                    
                    
                          </div>

                        </div>

                        <!-- CAROUSEL CONTENT -->
                        <div v-if="loaded"  class="swiper-wrapper">

                            <div v-for="(service, index) in services"  
                                 :key="service.id"
                                 class="swiper-slide" >

                                <div :class="`service-slider__slide slide_${index} slide_${service.slug}`">

                                      <picture class="full-bg" style="z-index:0;">
                                          <img v-lazy-load-image :data-src="service.acf.featured_image" :alt="service.title.rendered">
                                      </picture>

                                    <div class="wrapper is-flexy is-middle">

                                        <div class="service-slider__slide-content">

                                            <div class="statement white">{{ service.title.rendered }}</div>

                                            <p class="white" v-html="service.excerpt.rendered"></p>

                                            <nuxt-link :to="`/mauve-group-services/${service.slug}`" :title="service.title.rendered " class="btn btn-medium-outline white">Read More</nuxt-link>

                                        </div>

                                        <div class="services-cycle is-flexy is-middle is-center">

                                            <component :is="service.slug" />

                                        </div>

                                    </div>

                                </div>
                            
                            </div>

                        </div>
                        
                        
                        <!-- CAROUSEL NAVIGATION -->
                        <div class="swiper-nav">

                            <div class="swiper-button-prev" slot="button-prev">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve">
                                    <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                                    <path fill="#fff" class="iconfgcolor" d="M15,0c8.3,0,15,6.7,15,15s-6.7,15-15,15S0,23.3,0,15S6.7,0,15,0z M15,26c6.1,0,11-4.9,11-11S21.1,4,15,4S4,8.9,4,15 S8.9,26,15,26z M17.4,7.1L20,10l-5.4,4.8l5.4,5l-2.7,2.9l-8.6-7.9L17.4,7.1z"></path>
                                </svg>
                            </div>

                            <div class="swiper-button-next" slot="button-next">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                    <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                                    <path fill="#fff" class="iconfgcolor" d="M15,30A15,15,0,1,1,30,15,15,15,0,0,1,15,30ZM15,4A11,11,0,1,0,26,15,11,11,0,0,0,15,4ZM12.63,22.94,10,20l5.35-4.77L9.94,10.25l2.71-2.94,8.61,7.93Z"></path>
                                </svg>
                            </div>

                        </div>
                        <!-- <div class="swiper-pagination swiper-pagination-bullets"></div> -->

                    </div>

            
            </div>

        </div>

</template>

<script>

import globalWorkforceSolutions from "@/assets/svg/services/global-workforce-mobility-solutions.svg";
import globalWorkforceMobilitySolutions from "@/assets/svg/services/global-workforce-mobility-solutions.svg";
import globalBusinessExpansion from "@/assets/svg/services/global-business-expansion.svg";
import globalVisaAndImmigration from "@/assets/svg/services/global-visa-and-immigration.svg";
import globalPayroll from "@/assets/svg/services/global-payroll.svg";
import projectManagement from "@/assets/svg/services/project-management.svg";
import consultancyServices from "@/assets/svg/services/consultancy-services.svg";
import valueAddedServices from "@/assets/svg/services/value-added-services.svg";

export default {

  components:{
    globalWorkforceSolutions,
    globalWorkforceMobilitySolutions,
    globalBusinessExpansion,
    globalVisaAndImmigration,
    globalPayroll,
    projectManagement,
    consultancyServices,
    valueAddedServices
  },
    
  data: () => ({

    swiperOption: {
      loop: false,
      slidesPerView: 1,
      centeredSlides: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }

  }),

  computed:{

    services(){

      return this.$store.getters['services/services'];

    },

    loaded(){

      return this.$store.getters['services/loaded'];

    }
    
  },


  methods: {

     applyCSS(index, colour) {
     
       return `.slide_${index}:after{background: ${colour}  }`
     
     }

  }

}
</script>
<style lang="scss">

.swiper-shimmer{

  .shimmer-title{
    height: 100px; 
    width: 100%;
    margin-bottom: 50px;
    background: rgba(255,255,255,0.5);
  }

  .shimmer-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    span{
      height: 15px;
      margin-bottom: 5px;
      background: rgba(255,255,255,0.5);
    }
  }

  .shimmer-image{
    width: 100%;
    height: 450px;
    background: rgba(255,255,255,0.5);
  }

}

.my-swiper {
    height: 300px;
    width: 100%;
    .swiper-slide {
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-pagination {
      > .swiper-pagination-bullet {
        background-color: red;
      }
    }
  }


.service-slider {

    width: 100%;
    float: left;
    margin-top: 0;
    padding: 0;

    &__slides {
        width: 100%;
        position: relative;

    h5 {
        position: absolute;
        z-index: 10;
        top: 100px;

        @media all and (max-width: 768px) {
            top: 20px;
        }
    }
}

  &__slide {
   
   position: relative;
    padding: 60px 0;
    background-size: cover;
    background-position: center;

    @media all and (max-width: 768px) {
      padding-bottom: 100px;
    }

    .wrapper {
      position: relative;
      z-index: 999;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.7s ease-in;
    }

    &-content {
      float: left;
      width: 50%;

      @media all and (max-width: 768px) {
        width: 100%;
      }
    }

    .statement {
      line-height: 50px;
      margin-bottom: 50px;

      @media all and (max-width: 768px) {
        margin-bottom: 20px;
        line-height: 30px;
      }
    }
  }
}

.swiper-slide-active {
  .services-cycle {
    opacity: 1;
  }

  .service-slider__slide {
    &:after {
      opacity: 0.85 !important;
    }
  }
}

.services-cycle {
  position: relative;
  float: left;
  width: 50%;
  z-index: 99999;
  padding-left: 50px;
  opacity: 0;
  transition: all 0.7s ease-in;

  svg {
    width: 100%;
  }

  @media all and (max-width: 768px) {
    display: none;
  }
}



</style>