<template>
    <div class="sub-menu--container">

        <div class="wrapper">

            <div class="offices">
            
                <div class="stage">

                    <h3>Europe</h3>
                
                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>
                    
                </div>

                 <div class="stage">

                    <h3>Europe</h3>
                
                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>

                    <div class="office-item">

                        <span class="country is-flexy is-middle">

                            <img src="https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/cyprus.png" alt="">

                            CYPRUS

                        </span>

                        <span class="head-name">Lynn Tarrier</span>

                        <span class="head-position">ABC Business Centre Charalambou Mouskou Paphos 8010</span>

                        <span class="phone"><strong>T:</strong> +357 26 818210</span>

                        <span class="email">

                            <strong>E:</strong>
                            <a href="mailto:lynn.tarrier@mauvegroup.com">

                                    Send an email
                            </a>

                        </span>

                    </div>
                    
                </div>
            
            </div>

        </div>
    </div>

</template>