<template>
    <div class="sub-menu--container">

        <div class="wrapper">

            <ul v-if="!loaded" class="is-flexy is-left">

                <li style="opacity:0.4">

                    <a class="is-flexy is-center is-column is-top">
                        
                        <GlobalBusinessExpansion  class="service-icon" />
                        <span class="menu-title item">LOADING SERVICES...</span>

                    </a>

                </li>
                  
            </ul>

            <ul v-if="loaded" class="is-flexy is-center">

                <li v-for="service in services"
                    :key="service.id">

                    <nuxt-link :to="`/mauve-group-services/${service.slug}${lang}`"  
                               :class="`is-flexy is-center is-column is-top ${service.slug}`"
                               :title="service.title.rendered">

                        <component :is="service.slug" class="service-icon"/>
                        
                        <span class="menu-title item">{{service.title.rendered}}</span>
                    </nuxt-link>

                </li>
                  
            </ul>

        </div>

    </div>

</template>

<script>


import GlobalBusinessExpansion from '@/assets/svg/icons/global-business-expansion.svg';
import GlobalWorkforceSolutions from '@/assets/svg/icons/global-workforce-solutions.svg';
import GlobalWorkforceMobilitySolutions from '@/assets/svg/icons/global-workforce-solutions.svg';
import GlobalVisaAndImmigration from '@/assets/svg/icons/global-visa-and-immigration.svg';
import GlobalPayroll from '@/assets/svg/icons/global-payroll.svg';
import ProjectManagement from '@/assets/svg/icons/project-management.svg';
import ConsultancyServices from '@/assets/svg/icons/consultancy-services.svg';
import ValueAddedServices from '@/assets/svg/icons/value-added-services.svg';


export default {
    
    components: {
    
        GlobalBusinessExpansion,
        GlobalWorkforceSolutions,
        GlobalWorkforceMobilitySolutions,
        GlobalVisaAndImmigration,
        GlobalPayroll,
        ProjectManagement,
        ConsultancyServices,
        ValueAddedServices

    },

    computed:{

         lang(){

             let lang = this.$store.getters['lang/lang'];
        
            return lang ? `?lang=${lang}`: "";
        
        },

        services(){

            return this.$store.getters['services/services'];

        },

        loaded(){

            return this.$store.getters['services/loaded'];

        }

    },

}
</script>