<template>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <button class="modal-default-button" @click="$emit('close')">
            <svg role="img" title="Close" viewBox="0 0 46 46"><defs><style>.cls-1{fill:#100a35}.cls-2{fill:#fff}</style></defs><title>modal-close</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><circle class="cls-1" cx="23" cy="23" r="21"></circle><path class="cls-2" d="M23 46a23 23 0 1 1 23-23 23 23 0 0 1-23 23zm0-42a19 19 0 1 0 19 19A19 19 0 0 0 23 4z"></path><path class="cls-2" transform="rotate(-45 22.998 23.004)" d="M21 12.39h4V33.6h-4z"></path><path class="cls-2" transform="rotate(-45 22.998 23.004)" d="M12.39 21H33.6v4H12.39z"></path></g></g></svg>
          </button>

          <div class="modal-header">
            <slot name="header">
             
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
             
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
             
              
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<style lang="scss">

.modal-mask {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25,16,54,.8);
  display: table;
  transition: opacity .3s ease;
  
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;

  .modal-default-button{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 99999;
    width: 30px;
    transition: all .3s cubic-bezier(0,1.54,.66,.91);
    padding:0;
    background: none;
    border:0;

    path{
      opacity: 1 !important;
      fill: #191036 !important;
      stroke: none;
    }
    circle{
      opacity: 1 !important;
      fill: #fff !important;
    }


  }
}

.modal-container {
  position: relative;
  max-width: 800px;
  margin: 0px auto;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  border: 6px solid #fff;


  iframe{
    width: 100%;
    height: 445px;
  }

}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

</style>
