<template>
    
    <div class="carousel-component" :class="category" v-observe-visibility="visibilityChanged">
        
        <h2>{{title}}</h2>

        <div class="wrapper">

             <div v-swiper:carouselSwiper="swiperOptionCarousel">

                <!-- CAROUSEL CONTENT -->
                <div class="swiper-wrapper">
                    
                    <div v-for="post in posts"
                         :key="post.id"
                         class="carousel-component--case swiper-slide">

                        <!-- CLIENT EXTERNAL LINK -->
                        <a  v-if="post.acf.client_custom_fields_type == 'link'" 
                            :href="post.acf.client_custom_fields_link" 
                            target="_blank" 
                            title="go to website" 
                            class=" content is-flexy is-column is-center is-middle">

                            <img v-lazy-load-image :data-src="post._embedded['wp:featuredmedia']['0'].source_url" class="client-icon">

                            <div class="carousel-component--name">{{post.title.rendered}}</div>

                            <span class="view" title="Visit Website">Visit website</span>

                        </a>

                        <!-- CLIENT CASE STUDY LINK -->
                        <nuxt-link  v-if="post.acf.client_custom_fields_type == 'case'"
                                    :to="`/case-studies/${post.acf.client_custom_fields_associated_case_study.post_name}`" 
                                    title="go to case study" 
                                    class=" content is-flexy is-column is-center is-middle">

                                    <img v-lazy-load-image :data-src="post._embedded['wp:featuredmedia']['0'].source_url" class="client-icon">

                                    <div class="carousel-component--name">{{post.title.rendered}}</div>

                                    <span class="view" title="VIEW PROJECT">View Project</span>

                        </nuxt-link>

                        <!-- CLIENT TESTIMONY POPUP -->
                        <a  v-if="post.acf.client_custom_fields_type == 'none'"
                            :href="post.acf.affiliate_custom_fields_url" 
                            target="_blank" 
                            title="go to website" 
                            class=" content is-flexy is-column is-center is-middle">

                            <img v-lazy-load-image :data-src="post._embedded['wp:featuredmedia']['0'].source_url" class="client-icon">

                            <div class="carousel-component--name">{{post.title.rendered}}</div>

                            <span class="view" title="VIEW PROJECT">View testimonial</span>

                        </a>

                        <!-- AFILIATES LINK -->
                        <a  v-if="!post.acf.client_custom_fields_type"
                            :href="post.acf.affiliate_custom_fields_url" 
                            target="_blank" 
                            title="go to website" 
                            class=" content is-flexy is-column is-center is-middle">

                            <img v-lazy-load-image :data-src="post._embedded['wp:featuredmedia']['0'].source_url" class="client-icon">

                            <div class="carousel-component--name">{{post.title.rendered}}</div>

                            <span class="view" title="VIEW WEBSITE">View Website</span>

                        </a>

                      </div>

                </div>

                <div class="swiper-pagination swiper-pagination-bullets"></div>


            </div>


        </div>

    </div>

</template>

<script>
export default {

    props:["title","category"],
    
    data: () => ({

        posts: null,
        loaded: false,

        swiperOptionCarousel: {
            loop: false,
            slidesPerView: 5,
            spaceBetween: 50,
            // init: false,
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            breakpoints: {
                1024: {
                slidesPerView: 4,
                spaceBetween: 40
                },
                768: {
                slidesPerView: 3,
                spaceBetween: 30
                },
                640: {
                slidesPerView: 2,
                spaceBetween: 20
                },
                320: {
                slidesPerView: 1,
                spaceBetween: 10
                }
            }
                
        }
        
    }),

    mounted(){

    },

    methods:{

        visibilityChanged (isVisible, entry) {

            if(isVisible)  this.getPosts();
        
        },

        async getPosts() {

            const VM = this;

            try {

                const response = await this.$axios.get(`/wp-json/wp/v2/${VM.category}?_embed&per_page=10&order=desc`);
                
                VM.posts = response.data;

                VM.loaded = true;

            } catch (error) {
            
                console.error(error);

                VM.loaded = true;
            
            }

        }

        
    }

}
</script>


<style lang="sass">

    .affiliate{  background: #9c9c94; }
    .clients_item{  background: #008BB4; }

</style>