<template>

         <div class="post-carousel" :class="category" v-observe-visibility="visibilityChanged">

            <div class="post-carousel--head is-flexy is-left is-middle">

                <!-- POST TYPE ICON -->
                <component :is="category" />

                <!-- POST TYPE TITLE -->
                <span>{{ slideshowTitle }}</span>

            </div>

            <!-- LOADING -->
            <div v-if="!loaded" class="loading">LOADING...</div>

            <!-- CAROUSEL -->
            <div v-swiper:mySwiper="swiperOption">

                <!-- CAROUSEL CONTENT -->
                <div class="swiper-wrapper">

                    <div v-for="post in posts" 
                         :key="post.id"
                         class="swiper-slide" >

                        <!-- POST TITLE -->
                        <div class="post-carousel-title" v-html="post.title.rendered"></div>

                        <!-- POST DATE -->
                        <div class="post-carousel-date">{{ formatDate(post.date) }}</div>

                        <!-- POST EXCERPT -->
                        <!-- <div class="article-excerpt">sdfsdfdsfdsf</div> -->

                        <!-- POST LINK -->
                        <nuxt-link :to="createLink(post.slug)" :title="post.title.rendered" class="btn btn-medium-outline white">read more</nuxt-link>
              
                    </div>
                      
                </div>        
                
                <!-- CAROUSEL NAVIGATION -->
                <div class="swiper-nav">

                    <div class="swiper-button-prev" slot="button-prev">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve">
                            <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                            <path fill="#fff" class="iconfgcolor" d="M15,0c8.3,0,15,6.7,15,15s-6.7,15-15,15S0,23.3,0,15S6.7,0,15,0z M15,26c6.1,0,11-4.9,11-11S21.1,4,15,4S4,8.9,4,15 S8.9,26,15,26z M17.4,7.1L20,10l-5.4,4.8l5.4,5l-2.7,2.9l-8.6-7.9L17.4,7.1z"></path>
                        </svg>
                    </div>

                    <div class="swiper-button-next" slot="button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                            <path fill="#fff" class="iconfgcolor" d="M15,30A15,15,0,1,1,30,15,15,15,0,0,1,15,30ZM15,4A11,11,0,1,0,26,15,11,11,0,0,0,15,4ZM12.63,22.94,10,20l5.35-4.77L9.94,10.25l2.71-2.94,8.61,7.93Z"></path>
                        </svg>
                    </div>

                </div>

                <!-- <div class="swiper-pagination swiper-pagination-bullets"></div> -->

            </div>

        </div>

</template>

<script>

import moment from "moment";

import LatestNews from "@/assets/svg/megaphone.svg";
import UpcomingEvents from "@/assets/svg/calendar.svg";
import CaseStudies from "@/assets/svg/mauve-case-study.svg";

export default {

  components: {
    LatestNews, 
    UpcomingEvents,
    CaseStudies
  },

  props: [
    'postType', 
    'slideshowTitle',
    'apiEndpoint'
  ],

   data: () => ({

    posts: null,
    loaded: false,

    swiperOption: {
      loop: false,
      slidesPerView: 1,
      centeredSlides: false,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev'
      }
    }

  }),

  computed:{

    category(){

      let category;

      if(this.postType == "latest news") category = "latest-news";
      if(this.postType == "case studies") category = "case-studies";
      if(this.postType == "upcoming events") category = "upcoming-events";

      return category;

    }

  },
  

  mounted(){

    
    
  },

  methods:{

    visibilityChanged (isVisible, entry) {
      
      if(isVisible)  this.getPosts();
      
    },

    async getPosts() {

      const VM = this;

      let post_type;

      switch(this.postType) {
        case "latest news":
          post_type = "posts";
          break;
        case "upcoming events":
          post_type = "tribe_events";
          break;
        case "case studies":
          post_type = "clients";
          break;
        default: 
          post_type = "posts";
      }


      try {

        const response = await this.$axios.get(`/wp-json/wp/v2/${post_type}?per_page=5&sticky=true&order=desc`);
        
        VM.posts = response.data;

        VM.loaded = true;

      } catch (error) {
      
        console.error(error);

        VM.loaded = true;
      
      }

    },

    formatDate(date){

       return moment(date).format('DD MMMM YYYY')

    },

    createLink(slug){

      let link;

      switch(this.postType) {
        case "latest news":
          link = `/${slug}`;
          break;
        case "upcoming events":
          link =  `/event/${slug}`;
          break;
        case "case studies":
          link =  `/case-studies/${slug}`;
          break;
        default: 
          link =  `/${slug}`;
      }

      return link;


    },

  }


}
</script>
<style lang="scss">

.swiper-container{
  width: 100%;;
}

</style>