<template>

    <div>

        <div id="search" @click="showSearch = true">  <search-icon class="search-button"/> </div>

        <div class="search-bg" :class="{show : showSearch}">

            <div class="search-close"  @click="showSearch = false">

                <close-icon />

            </div>

            <div class="container search-content">

                <div class="row is-flexy is-column is-center">

                    <div class="col-lg-12">

                        <span class="small-title">{{ translations.type_in_your_search }}</span>

                    </div>

                    <div class="col-lg-12 search-input">

                        <form>

                            <label for="search-input">

                                <input  type="text" 
                                        autofocus 
                                        v-model="searchString"
                                        @keyup="search"/>

                            </label>

                        </form>

                    </div>

                </div>

            </div>

            <div v-if="loading" class="search-preloader-cont">

                <div class="search-preloader">

                    <svg class="circle-loader" width="40" height="40" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="20" cy="20" r="15" ></circle>
                    </svg>

                </div>

            </div>

            <div v-if="searchResults" class="container">

                <div class="row is-column is-center">

                    <div class="col-lg-12" id="search-results">

                        <div v-for="item in searchResults" :key="item.id">
                            <a :href="item.url" :title="item.title">
                                <span v-html="item.title"></span>
                            </a>
                        </div>

                        <div v-if="searchResults && !searchResults.length">Sorry, there were no results found.</div>

                    </div>

                </div>

            </div>

        </div>


    </div>

</template>
<script>

import SearchIcon from "@/assets/svg/icons/search.svg";
import CloseIcon from "@/assets/svg/cross.svg";

export default {
    
    components: {SearchIcon, CloseIcon},

    data: () => ({
        
        showSearch: false,
        searchString: null,
        searchResults: null,
        loading: false

    }),

    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
        
    },

    methods: {

        search(){
        
            if(this.searchString.length <= 3) return false;

            this.searchResults = null;

            this.loading = true;

            this.$axios.get(`/wp-json/wp/v2/search?search=${this.searchString}`)

            .then( response => {

                this.searchResults = response.data;

                this.loading = false;

            }).catch( error => console.log(error));
            

        }

    }

}
</script>

<style lang="scss">

#search{cursor: pointer;}

// Search

  .search-bg {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 9999;
    display: none;

    &.show{display: block}
  }

  .search-content {
    margin-top: 2em;
    text-align: center;
    position: relative;
  }

  .search-close {
    width: 25px;
    position: absolute;
    top: 25px;
    right: 30px;
    z-index: 9999999;
    cursor: pointer;
  }

  .search-input {
    margin-top: 2em;
  }

  #search-results {
    text-align: center;
    font-size: 20px;
    font-family: "Roboto Slab", sans-serif;

    div {
      padding: 1em 0;
      border-bottom: 1px solid #eee;
    }
  }

  input {
    padding-bottom: 0.5em;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 40px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
  }

 

.search-preloader-cont {
  height: 40px;
  margin: 1em;
}

.circle-loader {
  margin-left: 49%;
  fill: transparent;
  stroke: #ccc;
  stroke-width: 2;
  animation: dash 2s ease infinite, rotate 2s linear infinite;

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 95;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -25;
    }

    100% {
      stroke-dasharray: 85, 95;
      stroke-dashoffset: -93;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}


</style>