<template>
     <div id="social" class="is-not__mobile">

        <a href="#" target="_blank" class="icon">
            <i class="fa fa-facebook"></i>
        </a>
        
        <a href="#" target="_blank" class="icon">
            <i class="fa fa-twitter"></i>
        </a>
        
        <a href="#" target="_blank" class="icon">
            <i class="fa fa-linkedin"></i>
        </a>

    </div>

</template>

<style lang="scss">

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

#social {
  float: left;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 20px;


  .icon{
    float: left;
    margin-right: 1em;

    i{
      font-size: 20px;
      color: #fff;
    }
  }

  .fa{

    &-facebook{

      &:hover{
        color: #3b5998;
      }

    }

    &-twitter{

      &:hover{
        color: #1da1f2;
      }

    }

    &-linkedin{

      &:hover{
        color: #0077b5;
      }

    }

    &-instagram{

      &:hover{
        color: #e1306c;
      }

    }

    &-google-plus{

      &:hover{
        color: #dd4b39;
      }

    }

    &-youtube-play{

      &:hover{
        color: #cd201f;
      }

    }

  }


}

</style>