<template>
    <div class="spinner"><spinner/></div>
</template>
<script>
import Spinner from "@/assets/svg/icons/spinner.svg";
export default {
    components:{Spinner}
}
</script>
<style lang="scss">

.spinner {

  display: flex;
  align-items: center;

  svg{

    overflow: visible;
    width: 35px;
    height: 35px;
    transition: all 3s cubic-bezier(.18,1.17,.28,1.54);
    margin-right: 15px;
    animation: rotating 2s linear infinite;

  }

  &:after{

    content: "LOADING...";
    color:#fff;
    font-weight: 400;
    font-size: 12px;

  }

  &.dark{

      &:after{
          color: #191036;
      }

  }

}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

</style>