<template>
    
     <div class="modal videomodal">

        <div class="videowrapper">

            <span class="close-modal class-toggler" data-target=".videomodal" data-class="show">

            <svg role="img" title="Close" viewBox="0 0 46 46">
                
            <defs><style>.cls-1{fill:#100a35}.cls-2{fill:#fff}</style></defs><title>modal-close</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_6" data-name="Layer 6"><circle class="cls-1" cx="23" cy="23" r="21"></circle><path class="cls-2" d="M23 46a23 23 0 1 1 23-23 23 23 0 0 1-23 23zm0-42a19 19 0 1 0 19 19A19 19 0 0 0 23 4z"></path><path class="cls-2" transform="rotate(-45 22.998 23.004)" d="M21 12.39h4V33.6h-4z"></path><path class="cls-2" transform="rotate(-45 22.998 23.004)" d="M12.39 21H33.6v4H12.39z"></path></g></g></svg>

            </span>

            <iframe src="https://player.vimeo.com/video/264604830?title=0&amp;byline=0&amp;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
            </iframe>
            <script src="https://player.vimeo.com/api/player.js"></script>

        </div>

    </div>

</template>