<template>

    <div class="article-single event event-page">

        <!-- EVENT HEADER -->
        <post-header :post-type="postData.categories[0].name" 
                     :post-title="postData.title" 
                     :post-thumbnail="postData.image.url"/>


        <div class="wrapper is-flexy" :class="postData.categories[0].name">

            <!-- CONTENT  -->
            <div class="article-single-content">

                <!-- EVENT META DATA -->
                <event-meta :post-category="postData.categories[0].name" 
                            :event-start-date="postData.start_date"
                            :event-data="postData" />

                <div class="cnt">
                    
                    <!-- EVENT ADDITIONAL INFORMATION -->
                    <event-info :event-data="postData"/>

                    <!-- ADD TO CALENDAR -->
                    <add-to-calendar :event-data="postData" />


                    <!-- {{ include('includes/pages/single/article-video.twig') }} -->

                    <!-- EVENT CONTENT -->
                    <div v-html="postData.description"></div>

                    <div v-if="postData.venue.zip">

                        <h4>{{ translations.location }}</h4>

                        <iframe frameborder="0" style="border:0; width: 100%; height: 400px;"
                                :src="`https://www.google.com/maps/embed/v1/place?key=AIzaSyBODDo5BAuYpV1vuq905zvV8b4f7Dd9IE0
                                    &q=${ postData.venue.address },${ postData.venue.zip }`"
                                allowfullscreen>
                        </iframe>

                    </div>

                    <!-- BACK  -->
                    <back-to-articles />

                </div>
                
                <!-- SHARE MODAL -->
                <share-modal :post-title="postData.title" 
                             :post-decription="postData.description" 
                             :post-slug="`events/${postData.slug}`" />

            
            </div>

            <!--  SIDEBAR  -->
            <div class="sidebar">

                <!-- RELATED EVENTS -->
                <related-posts post-type="tribe_events" 
                               post-filter-category-name="tribe_events_cat"
                               :exclude-post="postData.id"
                               :categoryId="postData.categories[0].term_taxonomy_id"/>

            </div>
            

        </div>

    </div>
    
</template>

<script>

import PostHeader from "@/components/post/post-header.vue";
import EventMeta from "@/components/post/event-meta.vue";
import ShareModal from "@/components/post/share-modal.vue";
import BackToArticles from "@/components/back-to-article.vue";
import RelatedPosts from "@/components/post/related-posts.vue";
import EventInfo from "@/components/event/event-info.vue";
import AddToCalendar from "@/components/event/add-event-to-calendar.vue";

export default {

    components: { 
        PostHeader, 
        EventMeta, 
        ShareModal,
        BackToArticles, 
        RelatedPosts,
        EventInfo,
        AddToCalendar
    },


     async asyncData ({ route, params, $axios }) {

        let slug = route.params.slug;

        let lang = route.query.lang;

        let tribeEventData  = await $axios.get(`/wp-json/tribe/events/v1/events/by-slug/${slug}`)

        let { data } = await $axios.get(`/wp-json/wp/v2/tribe_events?slug=${slug}&lang=${lang}`);

        return { 
            postData: tribeEventData.data
        }

	},
    
    computed:{

        lang(){  return this.$store.getters['lang/lang']  },

        translations(){ return this.$store.getters['lang/translations'] },
 
    },


    // SEO
    head () {

        let pageData = this.postData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.image.url}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.image.url}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }
 
    
}
</script>