.fixfied{
    position: sticky;
    right: 20px;
    bottom:0;
    z-index: 1001;
    margin-top: auto;
    margin-bottom: -65px;
  
    width: 350px;
  
    &.unfix{
      position: absolute;
    }
  
    @include fromSiteWidth{
      right: calc((100vw - #{$max-width} + 40px) / 2);
    }
  
    @include tablet{
      float: left;
      position: relative !important;
      width: 100%;
      left: 0;
      height: auto !important;
      //order: 0;
      margin-bottom: 30px;
    }
  
    &.is-speech{
      &.unfix{
        bottom: -$cta_height;
      }
  
    }

    .avatar{
      float: right;
      width: 120px;
      margin-top: -40px;
      
      @include mobile{ display: none;}

      @include tabletLandscape{
        margin-top: 0;
      }
    }
  }