#get-in-touch-strap {
    position: relative;
    z-index: 100;
    float: left;
    width: 100%;
  
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    height:$cta_height;
  
    display: flex;
    align-items: center;
    background: #22164a;
    cursor: pointer;
  }

  #footer {
    position: relative;
    z-index: 1000;
  
    float: left;
    width: 100%;
    background-color: $dark-mauve;
    padding-top: 45px;
  
    min-height: 100px;
  
    >div.wrapper {
      padding-bottom: 30px;
    }
  
    .opened &{display: none;}
  
  
    .copyright {
      float: left;
      font-size: 12px;
      padding: 1em 0;
      background: $mauve;
      color: #fff;
  
      ul{
        li{
          list-style: none !important;
        }
      }
  
      p {
        margin: 0;
  
        @include mobile {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  
  .footer-col{
    float: left;
    color: #fff;
    padding-right: 40px;
    width: 50%;
  
  
    h5 {
      font-family: AvenirNextLTPro-BoldCn;
      margin: 0 0 25px 0;
    }
  
    ul {
      flex-direction: row;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
  
      &:nth-child(n+2) {
        padding-left: 25px !important;
      }
  
      li {
        list-style: none;
        margin-bottom: 15px;
        color: #FFF;
        position: relative;
        list-style: none !important;
        padding-left: 15px;
        line-height: 36px;
        font-family: Helvetica,sans-serif;
        font-size: 14px;
        margin: 0 !important;
        min-width: 50%;
  
        &::before {
          content: ' ';
          display: inline-block;
  
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%) !important;
  
          border-left: solid 7px white;
          border-bottom: solid 7px transparent;
          border-top: solid 7px transparent;
  
          transform: scaleY(.7);
        }
  
        a {
          color: #FFF;
          font-weight: 200;
          line-height: 20px;
          font-size: 14px;
          text-decoration: none;
  
          &:before {
            display: none;
          }
  
          &:hover {
            color: $mauve;
          }
        }
      }
    }
  
    &.footer-contact{
  
      h5 {
        margin-bottom: 0;
        & + span {
          display: block;
          margin: 35px 0;
        }
      }
  
      li {
        padding-left: 0!important;
        &::before {content: none !important;}
      }
  
      div{
  
        img{
          float: left;
          width: 30px;
          height: 30px;
          margin: 3px 5px 0 0;
          box-sizing: border-box;
          border: 2px solid white;
          border-radius: 50%;
        }
  
        h4{
          float: left;
          color: #fff;
          margin: 0;
          margin-right: 5px;
        }
      }
    }
  
    @media (max-width: 970px) {
      >div.is-flexy {
        display: block;
        ul {
          &:nth-child(n+2){
            padding-left: 0 !important;
          }
        }
      }
    }
    @media (max-width: 560px) {
      width: 100%;
        &:nth-child(n+2) {
          margin-top: 30px;
        }
    }
  }
  
  /*****************************************************/
  
  .menu-footer-menu-container {
    float: right;
    width: auto;
  
    @include mobile {
      width: 100%;
    }
  
  
    li {
      float: left;
      margin: 0 15px 0 0;
  
      @include mobile {
        width: 100%;
        margin: 0;
        text-align: center;
      }
  
  
      a {
        color: white;
        font-size: 12px !important;
        font-weight: 200;
        line-height: 20px;
        text-transform: uppercase;
  
        &:hover {
          color: $dark-mauve !important;
        }
  
        @include mobile {
          font-size: 10px !important;
        }
      }
    }
  }