.header{
    position: fixed;
    top:0;
    left: 0;
    z-index:99999;

    width: 100vw;
    height: $header_height;
    background: $dark-mauve;

    display: flex;
    flex-direction: column;


    .header-right{ 
    
      height: 100%;

      @include tablet{
        
        order: 1;
        margin-left: 0;

      }

    }

    .wrapper{ 
        
        flex:1;
        align-items: flex-start;
    
    }


    #logo{

      margin: 10px 0 0 0;

      svg{
        
        height: 40px;
  
      }
  
    }

    .hamburger {
    
      display: none;
      margin-top: 0;
      margin-left: 8px;
      padding: 0;
      background: none;
      width: 30px;
      height: 30px;
      border: 0;
      outline: none;
      box-shadow: none;

      @include mobile{
        display: block;
      }
    
    }

    #contact{

      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;

      svg{

        width: 15px;

        display: none;

      }

      @include tablet{
        
        order: 0;
        margin-left: auto;

      }

      @include mobile{ 

       a{
        width: 30px;
        height: 30px;
        padding: 5px 0 0 6px;
       }

        svg{display: block;}

      }

    }
  

    .top-bar{

      float: left;
      width: 100%;
      min-height: 30px;
      padding: 0;
      background: $dark-mauve;

      .wrapper{

        position: relative;
        
      }

      .custom-dropdown{

        position: absolute;
        right:20px;
        top: 10px;
        z-index: 100;

      }

    }

}

@import "menu.scss";
@import "sub-menu.scss";
