
.header-nav {
    float: left;
    height: 100%;
  
    .wrapper {
      height: 100%;
    }

  
    .main-nav{
        float: left;
        height: 100%;
    }
  
    .nav-wrapper{
      display: flex;
      height:100%;
      float: left;
      margin: 0 0 0 35px;
      display: flex;
      align-items: center;
      
  
      > li{
        
        position: relative;
        float: left;
        height:70px;

        &.has-sub-menu{

            &:before{
                position: absolute;
                bottom: -10px;
                left: 50%;
                content: "";
                transform: translateX(-50%);
                transition: all .3s cubic-bezier(.21,1.36,.55,1.23);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 15px;
                border-color: transparent transparent #fff;
            }

        }

        &:hover,
        &.show{

            &:before{

                border-width: 0 15px 15px;
                border-color: transparent transparent #fff;

            }

            .sub-menu{

                height: 168px;

                @extend .is-not-mobile;

                &.locations{

                    height: calc(100vh - #{$header_height});

                }

            }

        }
  
        > a{
  
          float: left;
          align-items: center;
          justify-content: center;
          display: flex;
          height: 100%;
          padding: 0 25px;
          color: #FFF;
          text-decoration: none;
          text-transform: uppercase;
          font-family: "AvenirNextLTPro-BoldCn";
  
          @include tabletLandscape{
            padding: 0 20px;
          }
  
          &:hover{
            color: $mauve;
          }
  
        }
      }
  
    }



    // MOBILE NAV
    @include tablet{

      display: block !important;
      position: fixed;
      top:0;
      left:0;
      z-index: 100;

      transform: translateX(100%);
      transition: all .3s ease;

      width: 100%;
      height: 100vh;
      background: #fff;

      &.showMenu{
        transform: translateX(0);
      }

      .main-nav{
        width: 100%;
      }

      .mobile-nav--head{
        float: left;
        width: 100%;
        height: 65px;
        text-align: center;
        background: #191036;
        display: flex;

        svg{
          position: absolute;
          right: 20px;
          top: 17px;
          width: 30px;
          height: 30px;
          fill: #fff;
        }
        span {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
        }
      }

      .nav-wrapper{

        width: 100%;
        padding:0;
        margin:0;
        display: flex;
        flex-direction: column;

        li{
          width:100%;
          height: auto;

          a{
            float: left;
            width: 100%;
            padding: 20px;
            font-size: 16px;
            font-weight: 400;        
            text-align: left;
            justify-content: flex-start;
            color: $dark-mauve;
            border-bottom: 1px solid #EFEDF2;
          }
        }

      }

    }
  }
  