.sub-menu{

    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background-color: #FFF;
    height: 0;
    width: 200px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);


    &.full{
        position: fixed;
        top: 120px;
        left: 0;
        width: 100%;
    }


    &.simple{

        display: flex;
        flex-direction: column;
    
        nav{
            
            float: left;
            height: 100%;
            width: 100%;
            padding: 20px 0;
            
            a{
                float: left;
                width: 100%;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                font-family: AvenirNextLTPro-BoldCn;
                
                &.downloads{ color: $orange;}
                &.multimedia{ color: $green;}

                &:hover{

                    background: #f4f3f5;

                }

                .icon{

                    width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: currentColor;

                    svg{ 
                        
                        width: 12px;
                        
                        path,rect, polygon{
                            fill: #fff;
                        }

                        *{opacity: 1;}

                    }

                }
    
            }
        }

    }


    &--container{

        float: left;
        width:100%;
        height: 100%;

        ul{

            height: 100%;
            margin: 0;
            padding: 0;


            li{

                position: relative;
                flex: 1;
                height: 100%;
                max-width: 175px;
                cursor: pointer;

                a{
                    height: 100%;
                    padding: 25px 0;

                    &:hover{
                        background: #f4f3f5;
                    }

                    .service-icon {

                        float: left;
                        width: 80px;
                        height: 80px;
                        overflow: visible;
                        
                    }

                    .menu-title {

                        float: left;
                        width: 100%;
                        max-width: 125px;
                        margin-top: 10px;
                        text-align: center;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 13px;
                        color: #191036;
                        font-family: AvenirNextLTPro-BoldCn;
                    
                    }
                }

            }

        }

    }

}