

.single-tribe_events{

  h3{
    color: $blue;
  }


  .avatar{
    fill: $blue;
  }

  .article-single--head{

    .wrapper{
      display: flex;
      align-items: center;
      height: 100%;
      flex-wrap: wrap;
    }

    .client-icon{
      position: relative;
      z-index: 100;

      float: left;
      width: 100px;
      fill: #fff;
      padding-right: 40px;

      path{
        fill: #fff;
      }

    }


    h1{
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      @extend .is-fill;
    }

  }

}
.clients,
.case-studies{
  .avatar{
    path{
      fill: $blue;
    }
  }
}