.events{

  .events-feed{
    float: left;
    width: 100%;
    margin-top: 30px;
    @include tablet{
      margin-top: 20px;
    }
  }

  @import "events-item";
}

@import "event-single-head";
@import "event-single";