.event-page {

  .webinar{.tint{color: $green;}}
  .exhibition{.tint{color: $blue;}}
  .event{.tint{color: $salmon;}}

  .cnt{

    ul{
      padding: 0 0 0 40px;
      margin: 14px 0;
      list-style: disc;
    }

    a{
      color: $blue;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .meta{
    @include tablet{
      max-height: 120px;

      img{display: none;}

      span{
        width: 100%;

        &:after {
          display: none;
        }
      }
    }

  }


  .additional-info{
    float: left;
    width: 100%;
    margin-bottom: 30px;

    ul{
      float: left;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li{
        margin-right: 10px;
        margin-bottom: 5px;

        span,div{float:left;}

        a{
          color: inherit;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }


  .pagination{

    float: left;
    width: 100%;
    margin-top: 80px;

    .back{

      svg{
        float: left;
        transform: rotate(180deg);
      }

    }

    .post-pagination{

      svg{
        float: right;
      }

    }

    span{
      padding: 0 5px;
      @extend .avenircondensed
    }

    svg{
      margin-top: -5px;
      width: 25px;
      height:25px;
      padding: 5px;
      border-radius: 30px;
      border: 2px solid CurrentColor;

      path{fill: CurrentColor;}
    }

  }


  .add-to-calendar{

    float: left;
    width: 100%;
    margin: 0 0 30px 0;

    a{
      float: left;
      margin: 0 10px 10px 0;
      padding: 5px 15px;
      font-size: 12px;
      border-radius: 15px;
      background: $dark-mauve;
      color: #fff;

      &:hover{
        strong{
          transform: scale(1.5);
        }
      }

      strong{
        float: left;
        margin-top: -1px;
        margin-right: 8px;
        transition: all .3s ease-in;
      }
    }

  }


}