.event-item{

  float: left;
  width: calc(100% / 4 - 20px);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  margin-right: 20px;

  @include aspect-ratio(414,308);

  @include tabletLandscape{
    width: calc(100% / 3 - 20px);
  }

  @include tablet{
    width: calc(100% / 2 - 20px);
  }

  @include mobilePortrait{
    width: 100%;
    margin-right: 0;
  }

  &-cnt{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
    background: rgba($dark-mauve, 0.8);
    padding: 25px 15px 15px;

    display: flex;
    align-items: center;
  }

  .event-title{
    color: #fff;
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 15px;
  }

  .event-cat{
    position: absolute;
    left:0;
    top:0;
    transform: translateY(-50%);
    color: #fff;
    padding: 4px 6px;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 10px 2px;
    font-family: AvenirNextLTPro-BoldCn;

    @extend .avenircondensed;
  }

  .event-date{
    position: absolute;
    top:0;
    left: 0;
    font-size: 14px;
    color: #fff;
    padding: 8px 12px;
    text-transform: uppercase;
    border-radius: 0 0 10px 0;

    @extend .avenircondensed;
  }

  .event-icon{
    position: absolute;
    top:5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    padding: 9px;

    &.exhibition{
      padding: 6px 4px;
    }

    &.webinar{
      padding: 11px 8px;
    }

    img{
      width: 100%;
    }
  }


  .webinar{
    background: $green;
  }

  .event,
  .videos{
    background: $salmon;
  }

  .exhibitions,
  .presentation{
    background: $blue;
  }


}