#mobile_continents {
    position: fixed;
    top: 115px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    transition: all .3s ease-in;

    &.open{left:0;}

}