.country-list{
  float: left;
  position: relative;
  height: 100%;
  padding: 30px;

  @include mobilePortrait{
    width: 100%;
  }


  .close{
    float: left;
    border: 3px solid rgba(#000, 0.5);
    border-radius: 30px;
    padding: 5px 5px 5px 7px;
    width: 35px;
    height: 35px;
    opacity: 0.5;
    cursor: pointer;
    transition: all.3s ease-in;
    transform: rotate(180deg);

    path{
      opacity:0.5;
      fill: #000;
    }

    &:hover{
      opacity: 1;
    }


  }

  .countries{
    float: left;
    width: 100%;
    height: calc(100% - 200px);
    margin-top: 20px;
    overflow: auto;

    .item{
      float: left;
      width: calc(100% / 3 - 20px);
      margin-right: 20px;


      &.active{
        .country{
          color: #fff;

          &:after,
          .check{
            opacity: 1;
          }
        }
      }


      .office-icon{
        position: absolute;
        right: 10px;
        margin: 0;
        width: 20px !important;
        height: 20px !important;
       // border-radius: 20px;
        z-index: -1;
        display: none;

      }

      &.global .mauve-office-icon{ display: block; }

      &.stuff .mauve-entity-icon{ display: block; }
      &.regional .mauve-entity-icon{ display: block; }



      @include tabletLandscape{
        width: calc(50% - 20px)
      }

      @include tabletPortrait{
        width: 100%;
        margin-right: 0;
        margin-left: -8px;

        .country{
          margin-left: 5%;
          max-width: 90%;
        }
      }

      @include mobile{
        width: 100%;
        margin-right: 0;
        margin-left: -10px;

        .country{
          margin-left: 5%;
          max-width: 90%;
        }
      }


    }

    .country{
      position: relative;
      float: left;
      width: 100%;
      max-width: 240px;
      height: 50px;
      border-bottom: 1px solid rgba($mauve, 0.7);
      padding: 6px 19px 6px 10px;
      font-size: 14px;
      cursor: pointer;
      transition: all .3s ease-in;

      display: flex;
      align-items: center;

      &:hover{
        color: #fff;
        &:after,
        .check{
          opacity: 1;
        }

        @include mobilePortrait{
          color: $dark-mauve !important;
          &:after,
          .check{
            opacity: 0 !important;
          }
        }
      }

      svg{
        float: left;
        height: 25px;
        margin-left: -5px;
      }

      img{
        width: 30px;
        // height: 30px;
      }

      span{
        float: left;
        margin-left: 5px;
      }


      &:after{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        opacity: 0;
        background-color: $dark-mauve;
        border-radius: 25px;
        transition: all .2s ease-in;
      }

      .check{
        margin-left: auto;
        background: #fff;
        width: 22px;
        height: 22px;
        padding: 4px;
        border-radius: 12px;
        margin-right: -9px;
        opacity:0;

        path{
          fill: $dark-mauve;
        }
      }


    }

    @include tablet{
      padding-left: 0 !important;
    }
  }
}