.country-detail{
  position: relative;
  float: right;
  width: 45%;
  height: 100%;
  overflow: hidden;
  background: $dark-mauve;
  transition: all .3s cubic-bezier(.23,.82,.29,1.05);
  transform: translate3D(100%,0,0);

  &.active{
    transform: translate3D(0,0,0);
  }

  .close{
    position: absolute;
    float: right;
    z-index:999;
    width: 35px;
    height: 35px;
    cursor: pointer;
    top: 30px;
    right: 20px;

    @include fromSiteWidth{
      right: calc(((100vw - #{$max-width}) / 2 ) + 20px);
    }

    path{
      opacity:0.5;
      fill: #fff;
    }

    &:hover{
      path{ opacity: 1;}
    }

  }


  .holder{
    position: relative;
    z-index: 100;
    float: left;
    width: 100%;
    height: 100%;
    background: $dark-mauve;
    overflow-x: hidden;

    padding: 60px calc(((100vw - #{$max-width}) / 2 ) + 20px) 0 30px;

    &:after{
      content: '';
      position: absolute;
      top:0;
      left:0;
      z-index: 0;
      width: 100%;
      height:100%;
      background: rgba($dark-mauve, 1);

      @include mobile{
        background: rgba($dark-mauve, 1);
      }
    }

    *{
      position: relative;
      z-index:100;}

    img{
      z-index: 0;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    h2,p{
      margin-bottom: 15px;
      color: #fff;
      float: left;
      width: 100%;
    }

    .stage{
      float: left;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 9;
      overflow: hidden;
    }
  }

  .services{
    float: left;
    width: 100%;
    margin-bottom: 20px;

    .service-item{
      font-size: 13px;
      margin: 10px 9px 0 0;
      padding:2px 10px 3px 3px !important;
      transition: all .3s ease-in;
      cursor: pointer;

      width: 158px;
      display: flex;
      align-items: center;

      span{font-size: 10px; margin-left: 5px;}

      &[title="global-payroll"],
      &[title="project-management"]{
        span{width: 130px;}
      }



      &[title="global-workforce-mobility-solutions"]{
        svg{
          path{fill: #e76556 !important;}
        }
      }
      &[title="global-business-expansion"]{
        svg{
          path{fill: #0087b5 !important;}
        }
      }
      &[title="global-visa-and-immigration"]{
        svg{
          path{fill: #12ba15 !important;}
        }
      }
      &[title="global-payroll"]{
        svg{
          path{fill:#f39200 !important;}
        }
      }
      &[title="project-management"]{
        svg{
          path{fill:#191036 !important;}
        }
      }
      &[title="consultancy-services"]{
        svg{
          path{fill:#bdbade !important;}
        }
      }
      &[title="value-added-services"]{
        svg{
          path{fill:#b7b7b7 !important;}
        }
      }


      svg{

        border-radius: 50px;
        background: #fff;
        min-width: 36px;
        min-height: 36px;
        max-width: 36px;

        path{
          transition: all .2s ease-in;

        }
      }

      &:hover,
      &.active{
        color: $dark-mauve;
        box-shadow: 120px 0 15px 0 #fff inset, -120px 0 15px 0 #fff inset;

        svg{
          path{
            fill: $dark-mauve;
          }
        }
      }
    }
  }


  #go-to-service{
    text-align: center;
    width: 170px;
    display: none;

    @include mobilePortrait{
      position: fixed;
      bottom: -15px;
      left: 0;
      width: 100%;
      border: 0;
      border-radius: 0;
      background: #fff;
      color: $dark-mauve;
      padding: 20px 0;
      text-align: center;
    }
  }



  @include mobilePortrait{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .holder{
      padding: 60px 20px 60px;
    }
  }

}

