.country-selection{

  position: fixed;
  top: $header_height;
  left: -100%;
  width: 100%;
  height: calc(100% - #{$header_height});
  background: #fff;
  z-index: 100;
  overflow: hidden;

  transition: all .3s cubic-bezier(.23,.82,.29,1.05);

  &.active{
    left: 0;
  }


  h2{
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    color: $dark-mauve;

    .continent-output{
      text-transform: capitalize;
    }

    @include mobilePortrait{
      margin: 10px 0 5px 0;
      font-size: 24px;
    }
  }


  h4{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 18px;
    @extend .avenirbold;
  }

  .office-info{

    float: left;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;

    &.hide{
      display: none;
    }

    &.show{
      display: block;
    }

    strong{

      margin-right: 6px;
      float: left;
      text-transform: uppercase;
      @extend .avenirbold;

    }

    span{

      float: left;
      margin-top: -3px;

    }

    p{
      font-weight: 300;
      width: auto;
      @extend .avenircondensed;
      margin-bottom: 0 !important;
    }

  }
}
