.globe-wrapper{
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  min-height: 90vh;
  padding: 200px 0 0 0;

  h2{ font-size: 40px; }
  p{ width: 300px; }
  a{
    color: rgba(#fff, 0.5);
    &:hover{
      text-decoration: underline;
    }
  }

  @include tablet{
    display: none;
  }

  .skip{
    display: flex;
    align-items: center;
    flex-flow: column;

    svg{
      margin-top: 10px;
      width: 20px;
      height: 20px;
      opacity: 0.6;
      transform: rotate(90deg);
    }
  }

}

.globe{
  float: left;
  width: 120%;
  height: 75vh;
  margin-left: 50%;
  transform: translateX(-50%);

  background: #fff;
  padding: 100px 0;
  margin-top: 100px;
  border-top-left-radius: 70%;
  border-top-right-radius: 70%;

  display: flex;
  justify-content: center;

  .map{
    margin: 0 auto;
    height: 500px;

    path{fill: $mauve; transition: all .2s ease-in; cursor: pointer;}


      .country-path:hover{
        fill: $orange;
        box-shadow: 0 0 4px rgba(0,0,0,.3);

        path{
          fill: $orange;
          box-shadow: 0 0 4px rgba(0,0,0,.3);
        }
      }

  }
}