#mobile_continents{

  position: fixed;
  top:70px;
  left:-100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;

  transition: all .3s ease-in;

  &.open{
    left: 0;
  }


  .country-path{
    float: left;
    width: 100%;
    padding: 20px;
    font-size: 16px;

    color: $dark-mauve;
    border-bottom: 1px solid $mauve;

    @extend .avenirbold;

    &:hover{
      background: $dark-mauve;
      color: #fff;
    }
  }

  .back{
    float: left;
    width: 100%;
    padding: 30px 20px;
    background: $dark-mauve;
    color: #fff;
    display: flex;

    svg{
      float: left;
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
    }

    h2{
      margin: -2px 0 0 10px;
      padding: 0;
      float: left;
      font-size: 18px;
    }
  }

}