
@import "home-top";
@import "globe/globe";
@import "globe/country-selection";
@import "globe/mobile_continents";
@import "globe/country-list";
@import "globe/country-detail";
@import "globe/continent-list";


.home{
  background: $dark-mauve;
}

.articles {
    float: left;
    width: 100%;
    margin: 0;
    border-top: 5px solid #fff;

    background: linear-gradient(to right,  $orange 50%,$green 50%);

    .wrapper{
      display: flex;
      flex-wrap: wrap
    }

    @include mobile{
      overflow: hidden;
      background: none;
      .wrapper{
        padding: 0;
      }
    }
}

// @import "featured-news";
// @import "clients";
// @import "news-and-events";

// @import "testimonials";
// @import "featured-news-panel";