.home{

  &-banner{
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    > .wrapper{
      position: relative;
      min-height: calc(100vh - 100px);
    }

    @include mobile{
      padding-bottom: 50px;

      .get_continents{
        margin-bottom: 40px;
      }
    }


    p{
      color: #fff;

      font-size: 20px;

      line-height: 32px;

      font-family: "Roboto Slab",sans-serif;
    }

    .cnt{

      float: left;
      margin-top: 60px;

      @include tablet{
        padding-right: 0;
      }
      width: calc(100% - 500px);
      @include fromSiteWidth{
        width: calc(100% - 500px);
      }

      @media (max-width: 1010px) {
        width: 100%;
      }

    }

    .img{

      width: 500px;
      height: 500px;
      margin-left: auto;
      margin-top: 80px;

      svg{
        width: 100%;
        height: 100%;
      }


      [id*="-hover"]{

        opacity: 0;
        cursor: pointer;
        transition: all .3s ease;

        animation: pulse 3s ease infinite;

        &:hover{
          opacity: 1 !important;
          animation: none !important;
        }

      }

      .show-continent-list{
        display: none;

        @include tablet{ display: block;}
        
      }

      @include siteWidth{
        // width: 450px;
        // height: 450px;
        margin-top: 50px;
      }
      @media (max-width: 1160px) {
        width: 450px;
        height: 450px;
      }
      @media (max-width: 1120px) {
        width: 400px;
        height: 400px;
      }
      @media (max-width: 1060px) {
        width: 350px;
        height: 350px;
      }
      @media (max-width: 1010px) {
        display: none;
      }
    }

    .skip{
      color: rgba(#fff, 0.5);
      float: left;
      margin-left: 22px;

      @extend .avenircondensed;
      &:hoveR{
        text-decoration: underline;
      }
    }



  }

  .modal .videowrapper .close-modal,
  .modal .testimonialwrapper .close-modal {
    cursor: pointer;
    path {
      fill: #191036;
      stroke: none;
    }
  }


  .featured-blocks{

    float: left;

    width: 100%;


    .block{

      position: relative;

      float: left;

      width: calc(33% - 20px);

      min-height: 260px;

      margin: 10px;

      border-radius: 10px;

      overflow: hidden;

      background-position: bottom center;

      background-size: cover;


      @include tablet{width: calc(50% - 20px);}
      @include mobilePortrait{width: 100%; margin: 10px 0;}


      .category-name{

        position: absolute;

        top: 0;

        left: 0;

        padding: 9px 14px 8px;

        font-weight: bold;

        color: #fff;

        font-size: 14px;

        text-transform: uppercase;

        border-bottom-right-radius: 10px;

        font-family: AvenirNextLTPro-BoldCn;

        letter-spacing: 1px;

      }

      .category-icon{

        position: absolute;

        top: 8px;

        right: 8px;

        width: 30px;

        height: 30px;

        border-radius: 50%;

        display: flex;

        align-items: center;

        justify-content: center;

        background: #fff;

        svg{

          width: 30px;

        }

      }

      .title{

        position: absolute;

        bottom: 0;

        left: 0;

        width: 100%;

        min-height: 100px;

        padding: 15px;

        color: #fff;

        h2{

          color: #fff;

          font-size: 18px;

          margin: 0;

        }

      }

      &.announcements{

        .category-name{
          background: $mauve;
        }
        .category-icon{
          svg{
            path{fill: $mauve;  }
          }
        }

        .title{
          background: rgba($mauve, 1);
        }

      }

      &.events{

        .category-name{
          background: $green;
        }
        .category-icon{
          svg{
            path{fill: $green;  }
          }
        }

        .title{
          background: rgba($green, 1);
        }

      }

      &.news_and_insights{

        .category-name{
          background: $orange;
        }
        .category-icon{
          svg{
            path{fill: $orange;  }
          }
        }
        .title{
          background: rgba($orange, 1);
        }

      }

    }

  }

}

@keyframes pulse {

  0%{
    opacity: 0;
  }

  50%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }


}
