<template>
    
    <div class="articles-page news">

       <posts-header :page-title="translations.latest_news" :post-type="postType" :post-filter-category="postFilterCategory"/>

       <div class="is-flexy is-full">

           <div class="wrapper">

            <posts-loader :post-type="postType" :post-filter-category="postFilterCategory"/>
           

        </div>

       </div>

    </div>   

</template>

<script>

import PostsHeader from "@/components/posts/posts-header.vue";
import PostsLoader from "@/components/posts/posts-loader.vue";

export default {

    components: { PostsHeader, PostsLoader},

     data: () => ({
		
        postType: "posts",
        postFilterCategory: "categories",
   
		
    }),
    

    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
        
    },


    
    
}
</script>