<template>
    
    <div class="knowledge-and-resources">
        
        <style>
            .knowledge-and-resources .head{
                background-image: url(" {{pageData.wmp_thumbnail}} ");
            }
        </style>

        <!-- PAGE HEADER -->
        <div class="head is-flexy is-middle">

            <div class="wrapper">

                <!-- PAGE TITLE -->
                <h1 v-html="pageData.title.rendered"></h1>

            </div>

        </div>

        <div class="wrapper">

            <!-- CONTENT -->
    		<div v-html="pageData.content.rendered"></div>

            <!--  BOXES  -->
            <div class="boxes is-flexy is-between is-wrap">
                
                <!-- COUNTRY REPORT BOX -->
                <div class="box report" style="background-image: url('/images/country-report-cover.jpg');">

                    <span class="box-title">{{ translations.workforce_mobility_reports }}</span>

                    <!--  DROPDOWN -->
                    <custom-dropdown v-if="countryReportItems">
                        
                        <button class="item active">{{translations.select_a_country}}</button>

                        <button v-for="item in countryReportItems" 
                                :key="item.id"
                                class="item" 
                                @click="setCountryReport(item.acf.file)">
                                    {{item.title.rendered}}
                        </button> 

                    </custom-dropdown>
                     <div v-else>Loading...</div>
                
                    <a  v-if="countryReportSelectedDownload" 
                        :href="countryReportSelectedDownload" 
                        :title="translations.download" 
                        class="button"
                        target="_blank">
                            {{ translations.download }}
                    </a>

                </div>

                <!-- BROCHURE BOX -->
                <div class="box brochure" style="background-image: url('/images/brochure-cover.jpg');">

                    <span class="box-title">{{ translations.brochures_downloads }}</span>

                    <!--  DROPDOWN -->
                    <custom-dropdown v-if="countryReportItems">
                        
                        <button class="item active">{{translations.brochures_downloads}}</button>

                        <button v-for="item in brochureItems" 
                                :key="item.id"
                                class="item" 
                                @click="setBrochure(item.acf.file)" v-html="item.title.rendered">
                                    
                        </button> 

                    </custom-dropdown>
                    <div v-else>Loading...</div>

                   <a  v-if="brochureSelectedDownload" 
                        :href="brochureSelectedDownload" 
                        :title="translations.download" 
                        class="button"
                        target="_blank">
                            {{ translations.download }}
                    </a>

                </div>

                <!-- BOX MULTIMEDIA LIBRARY -->
                <div class="box webinar" :style="`background-image: url(${pageData.wmp_thumbnail});`">

                    <span class="box-title">

                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 155.908 155.908" style="enable-background:new 0 0 155.908 155.908;" xml:space="preserve">
                              <g>
                                <path d="M143.878,58.015L46.02,6.45c-9.816-5.172-21.348-4.838-30.848,0.894C5.672,13.076,0,23.122,0,34.218v87.473
                                  c0,11.096,5.672,21.142,15.172,26.874c5.018,3.028,10.601,4.549,16.2,4.549c5.001,0,10.016-1.215,14.647-3.655l97.858-51.566
                                  c7.42-3.91,12.03-11.55,12.03-19.938S151.298,61.926,143.878,58.015z M135.486,81.968l-97.858,51.566
                                  c-4.249,2.239-9.045,2.101-13.157-0.381C20.358,130.671,18,126.493,18,121.69V34.218c0-4.803,2.358-8.981,6.471-11.462
                                  c2.169-1.309,4.529-1.966,6.898-1.966c2.122,0,4.251,0.527,6.259,1.585l97.858,51.565c2.186,1.152,2.422,3.191,2.422,4.014
                                  S137.672,80.816,135.486,81.968z"/>
                              </g>
                        </svg>

                        {{ translations.multimedia_title }}

                    </span>
                    
                    <p>{{translations.multimedia_description}}</p>
                    
                    <nuxt-link to="/multimedia-library" :title="translations.multimedia_button" class="button">{{ translations.multimedia_button}}</nuxt-link>

                </div>

            </div>    

            <div class="boxes feed is-flexy is-between is-wrap">

                <div class="box news">

                    <post-slideshow-component :slideshowTitle="translations.latest_news" post-type="latest news"/>

                    <div class="see-more">

                        <nuxt-link to="/news" :title="`${translations.see_all} ${translations.news}`" class="btn btn-medium-outline white">
                            
                            {{ translations.see_all }} {{ translations.news }}
                        
                        </nuxt-link>

                    </div>

                </div>

                <div class="box client">

                    <post-slideshow-component :slideshowTitle="translations.case_studies" post-type="case studies"/>

                    <div class="see-more">

                        <nuxt-link to="/case-studies" :title="`${translations.see_all} ${translations.case_studies}`" class="btn btn-medium-outline white">
                            
                            {{ translations.see_all }} {{ translations.case_studies }}
                        
                        </nuxt-link>

                    </div>

                </div>

                <div class="box events">

                    <post-slideshow-component :slideshowTitle="translations.events" post-type="upcoming events"/>

                    <div class="see-more">

                        <nuxt-link to="/events" :title="`${translations.see_all} ${translations.events}`" class="btn btn-medium-outline white">
                            
                            {{ translations.see_all }} {{ translations.events }}
                        
                        </nuxt-link>

                    </div>

                </div>

            </div>

        </div>


    </div>

</template>

<script>

import CustomDropdown from "@/components/custom-dropdown.vue";
import PostSlideshowComponent from '@/components/post-slideshow-component.vue';

export default {
    
    components: { 
        
        CustomDropdown,
        PostSlideshowComponent
    },

    data: () => ({

        countryReportItems: null,
        countryReportSelectedDownload: null,
        brochureItems: null,
        brochureSelectedDownload: null

    }),

    computed:{

        translations(){ return this.$store.getters['lang/translations'] },
        
    },
    
     async asyncData ({ route, params, $axios }) {

        let slug = route.name;

        let lang = route.query.lang;

        let { data } = await $axios.get(`/wp-json/wp/v2/pages?slug=${slug}&lang=${lang}`)
		
		return { pageData: data[0] }

    },

    mounted(){

        // GET COUNTRY REPORT ITEMS
        this.$axios.get("/wp-json/wp/v2/downloads?download_cat=604&per_page=100").then( response => {
              this.countryReportItems = response.data
        });

        // GET BROCHURE ITEMS
        this.$axios.get("/wp-json/wp/v2/downloads?download_cat=605&per_page=100").then( response => {
              this.brochureItems = response.data
        })
      

    },


    methods:{


         setActive(){
            
            let el  = event.target;

            let items = el.parentElement.children;

            [...items].forEach(sib => sib.classList.remove('active'));

            el.classList.add('active');

            // this.openDropdown(false);

        },

        setCountryReport(file){

            this.countryReportSelectedDownload = file;
            this.setActive();

        },

        setBrochure(file){

            this.brochureSelectedDownload = file;
            this.setActive();

        },

    },

     // SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }

}

</script>