
  // Gravity Forms Styling Overrides
  .contact-form {
    
    float:left;
    width:100%;
    padding: 50px 0;
    min-height: 80vh;
   
    form{overflow: hidden;}

    h1{
      color: $dark-mauve;
    }
  
    select {
      width: 100% !important;
    }

    .wrapper{max-width: 600px;}
  
    .gform_wrapper {
      input {
        width: 100% !important;
  
        border-radius:30px;
  
        outline: none;
        padding: 12px !important;
      }
    }
  
    .gform_heading, .gform_description {
      margin-bottom: 0 !important;
    }
    
    .gfield_description{ 
      font-size: 11px;
    }

    .chosen-container {
      width: 100% !important;
    }

    .gfield_label{
      float:left;
      width: 100%;
      margin: 20px 0 5px 0;
      font-weight: 700;
    }

    .privacy-tick{
      
      margin-top: 30px;

      display: flex;

      font-size: 11px;

      input{ width: 20px !important;}

    }
  
    ul {
      width: 100%;
      max-width: 600px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  
      .chosen-drop {
        float: left;
        width: 100%;
  
        .chosen-results {
          width: 100% !important;
          display: block;
  
          .active-result {
            float: left;
            width: 100% !important;
          }
        }
      }
  
      input, textarea {
        border: 2px solid $dark-mauve !important;
        outline: none !important;
        font-size: 15px;
        text-align: left;
        margin-bottom: 15px;
      }
  
      textarea {
        width: 100%;
        border-radius: 20px;
  
        padding: 1em;
      }
  
      li:nth-of-type(1) {
        width: 100%;
      }
  
      li:nth-of-type(2) {
        width: 49%;
  
        @include mobile {
          width: 100% !important;
        }
  
  
        input {
          width: 100%;
        }
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(3) {
        width: 49%;
  
        @include mobile {
          width: 100% !important;
        }
  
  
        input {
          width: 100%;
        }
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(4) {
        width: 49%;
  
        input {
          width: 100%;
        }
  
        label {
          display: none !important;
        }
        @include mobile {
          width: 100% !important;
        }
      }
  
      li:nth-of-type(5) {
        width: 49%;
  
        @include mobile {
          width: 100% !important;
        }
  
  
        input {
          width: 100%;
        }
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(7) {
        width: 100%;
  
        @include mobile {
          width: 100% !important;
        }
  
  
        input {
          width: 100%;
        }
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(6) {
        width: 100%;
  
        input {
          width: 100%;
        }
  
        label {
          display: block !important;
        }
      }
  
      li:nth-of-type(8) {
        width: 100%;
  
        select {
          width: 100%;
        }
  
        //label
        //  display: none !important
     
      }
  
      li:nth-of-type(9) {
        width: 100%;
      }
  
      li:nth-of-type(10) {
        width: 100%;
      }
  
      li:nth-of-type(13) {
        width: 100%;
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(14) {
        width: 100%;
  
        label {
          display: none !important;
        }
      }
  
      li:nth-of-type(15) {
        width: 100%;
        margin-top: 0 !important;
  
        label {
          display: inline-block !important;
        }
      }
  
      li:nth-of-type(16) {
        width: 100%;
  
        label {
          display: inline-block !important;
        }
      }
    }

    .gform_button{
      margin-top: 30px;
      width:100%;
      border-radius: 30px;
      font-size: 20px;
      border: 2px solid $dark-mauve;
      background: none;
      padding: 10px;
      text-transform: uppercase;
      transition: all .3s ease;

      &:hover{

        background: $dark-mauve;
        color: #fff;

      }

    }
  
    .gform_footer {
      width: 130px;
      margin: 0 !important;
  
      input {
        border: 1px solid #000;
        background: transparent !important;
        text-transform: uppercase;
        font-size: 20px !important;
      }
    }
  
    .ginput_container_checkbox {
      margin-top: 0 !important;
    }
  
    //.gfield_checkbox
    //  li
    //    position: relative !important
    //    width: 100% !important
    //    label
    //      padding-left: 20px !important
    //      font-size: 12px !important
    //      font-weight: 100
    //
    //  input
    //    position: absolute
    //    top: 0
    //    left: 0
  
    .ginput_container_select {
      border: 1px solid #000;
  
      border-radius: 30px;
    }

    


    .ginput_container {
        
        li {
          position: relative;
            width: 175px !important;
            float: left;
            margin-bottom: 15px;
        }

        [type=checkbox] {
            position: absolute;
            opacity: 0;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:checked+label, .contact-form .gform_button:hover {
                box-shadow: 100px 0 30px #191036 inset, -100px 0 30px #191036 inset;
                color: #fff;
            }
        }

        label {
            position: relative;
            cursor: pointer;
            padding: 5px 10px 5px 45px!important;
            border: 3px solid #191036;
            color: #191036;
            background: #fff;
            line-height: 16px;
            font-size: 10px!important;
            text-transform: uppercase;
            font-weight: 600!important;
            width: 100%!important;
            max-width: none!important;
            height: 50px;
            transition: all .3s ease-in-out;
            border-radius: 30px;

            img {
                position: absolute;
                left: 5px;
                top: 5px;
                width: 35px;
                height: 35px;
            }
        }
    }
  
    .chosen-container-single {
      padding: 5px !important;
  
      .chosen-single {
        border: none !important;
        background: transparent !important;
        color: inherit !important;
        box-shadow: none !important;
  
        span {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  
    .chosen-results {
      li {
        width: 100% !important;
      }
    }
  }
  

.contact-countries{

  &.v-select{

    .vs__clear{display: none;}
    .vs__dropdown-toggle{border:0;}

    .vs__dropdown-menu{width: 250px;}

    .vs__dropdown-option{width: 100%;}
    
    .vs__selected{
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border:0;
    }

    input{
        margin: 0;
    }
  }
}