.page-default {
    float: left;
    width: 100%;
    min-height: calc(100vh - 190px);
    padding-top: 5vh;

    h1 {
        margin-bottom: 50px;
        color: #191036;
    }

    h4 {
        font-size: 18px;
        font-weight: 400;
    }

    p {
        float: left;
        width: 100%;
    }
}