.service-landing{
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    padding-top: $space_top;
    background-repeat: no-repeat;
    background-size: cover;
  
    &:after{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:100%;
      content: '';
      opacity: 0.8;
    }
  
    @include tablet {
      padding-bottom: 90px;
    }
  
  
    .has-speech-main{
      position: relative;
      z-index: 10;
      padding-bottom: 100px;
  
      p{
        color: #fff;
      }

    }
  
    .speech-cnt{

      padding: 10px;
      display: flex;
      flex-direction: column;
      
      h3{
        font-size: 32px;
        margin-bottom: 0 !important;
      }
  
      p{
        float: left;
        width: 100%;
        margin-top: 10px;
        font-size: 12px;
        line-height: 20px;
      }

      .loading{

        float: left;
        padding: 20px 4px;

      }
  
  
    }
  
  
    .has-speech .speech{
      height: 450px;
    }



    // OVERWRITE SELECT STYLES

    .v-select{ float: left; width: 100%;}

    .vs--searchable .vs__dropdown-toggle{
        width: 100%;
        
        border: 0;
        border-radius: 0;
        border-bottom: 1px dotted $dark-mauve;

        font-size: 25px ;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 400 ;

        .vs__selected-options{
            padding-left: 0;
            margin-left: 0;
            float: left;
        }

        .vs__selected{
            padding-left: 0;
            margin-left: 0;
            font-size: 24px;
            position: static;
        }

        .vs__search{

          position: absolute;
          width: 100%;


        }

        .vs__clear{
    
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            background: $dark-mauve;
            border-radius: 10px;
            svg{fill:#fff; transform: scale(0.8)}
        }

        .vs__dropdown-menu{
          margin-top: 50px;
        }

        .vs__open-indicator{

            fill: $dark-mauve;

        }

    }


  }
  
  #country-search{
    float: left;
    width: 260px;
    border:0;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 20px;
    border-bottom: 2px solid $dark-mauve;
    padding:0;
    font-size: 24px;
    text-transform: capitalize;
    color: $dark-mauve;
  
    font-family: AvenirNextLTPro-Cn;
  
    &:focus{
      outline: none;
    }
  }
  
  #list{
    float: left;
    width: 100%;
  
    span{
      float: left;
      width: 100%;
      color: $dark-mauve;
      padding: 8px 10px 6px;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 15px;
      cursor: pointer;
  
      margin-left: -10px;
  
      @extend .avenircondensed;
  
      &:hover{
        background: #E6E4E8;
      }
    }
  }
  
  
  .other-services{
    position: absolute;
    bottom: -75px;
    z-index: 100;
  
    float: left;
    width: 100%;
    height: 80px;
    background: #E6E4E8;
    border-top: 5px solid #fff;
  
    transition: all .2s ease;
  
    &.open{
      bottom: 0;
    }
  
  
    .wrapper{
      position: relative;
  
      &:before{
        position: absolute;
        top:0;
        left: 0;
        transform: translateY(-100%);
  
        cursor: pointer;
        content: attr(data-label);
  
        background: #fff;
        border-radius: 10px 10px 0 0;
        padding: 10px 10px 3px 10px;
        font-size: 16px;
  
        @extend .avenirbold;
      }
  
  
      ul{
        float: left;
        width: 100%;
  
  
        li{
          position: relative;
          float: left;
          width: 50px;
          list-style: none;
          margin: 10px 5px 0 0;
  
          svg{
            height: 50px
          }
  
          &:hover{
            &:before,
            &:after{
              opacity:1;
            }
  
            &:after{
              top:-15px;
            }
  
            &:before{
              top:-11px;
              max-height:200px;
              padding: 10px;
            }
          }
  
          &:before,
          &:after{
            opacity: 0;
            transition: all .3s ease-in;
          }
  
          &:after{
            position: absolute;
            top:-5px;
            left: 42%;
  
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 7px 0 7px;
            border-color: $dark-mauve transparent transparent transparent;
          }
  
          &:before{
            position: absolute;
            top:0;
            left: 50%;
            content: attr(data-service);
            transform: translate(-50%, -100%);
  
            max-height:0;
            width: 150px;
            padding: 0;
  
            color: #fff;
            background: $dark-mauve;
            border-radius: 10px;
            border: 3px solid #fff;
  
            font-size: 12px;
            text-align: center;
  
          }
        }
      }
  
    }
  
  }
  
  
  .spinner_country{
    width: 35px;
    height:35px;
    background: url("~assets/images/spinner.png");
    background-size: contain;
    background-position: center;
  
    animation: spin 2.5s infinite;
  
    position: absolute;
    left: 40%;
  
  }
  
  @keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  
  
  *:focus {
   outline: none !important;
  }