<template>

    <div class="about-us-landing">

        <div class="wrapper">

            <span class="page-title-small">{{ translations.our_story }}</span>

            <div class="has-speech">

                <div class="has-speech-main">

                    <h1 class="white">{{ pageData.acf.subtitle }}</h1>

                    <div v-html=pageData.content.rendered></div>

                    <span :title="translations.meet_the_team" 
                          class="btn btn-large-outline white" 
                          style="margin-right: 20px;"
                          @click="onClickTeamMembers">
                          
                          {{ translations.meet_the_team }}
                        
                    </span>
                    
                </div>

                <div class="fixfied is-speech">

                    <div class="speech">

                        <div class="speech-cnt">

                            <h3>{{ pageData.acf.call_out_title}}</h3>

                            <div v-html="pageData.acf.call_out_content"></div>

                        </div>

                    </div>

                    <avatar />

                </div>

            </div>

        </div>

    </div>

</template>

<script>
import Avatar from "@/components/avatar";
export default {
    
    props: ["pageData"],

    components: {Avatar},

    computed:{
		
		translations(){ return this.$store.getters['lang/translations'] },
		
    },
    
    methods: {

        // Emit event to open team members panel
        onClickTeamMembers(){

             this.$root.$emit("onClickTeamMembers", true);

        }

    }

}
</script>