<template>
    
	<div class="about-us-wrapper" :class="{opened:opened}">

		<about-us-landing-component :page-data="pageData"/>

		<team-members-component :team-members="teamMembers" :class="{opened:opened}"/>


		 <team-members-carousel-component :team-members="teamMembers"/>

	</div>


</template>

<script>

import AboutUsLandingComponent from "./about-us-landing";
import TeamMembersComponent from "./team-members";
import TeamMembersCarouselComponent from "./team-members-carousel";
export default {

	components: {
		AboutUsLandingComponent,
		TeamMembersCarouselComponent,
		TeamMembersComponent
	},
    
	data: () => ({
		
		opened: false,
		pageData: {},
		teamMembers: {}
		
    }),

    async asyncData ({ route, params, $axios }) {
		
		let page = "about-us";

	
		let [pageData, teamMembers] = await Promise.all([
			$axios.get(`/wp-json/wp/v2/pages?slug=${page}&lang=${route.query.lang}`),
			$axios.get(`/wp-json/wp/v2/team_member?per_page=50&_embed`),
		]);

		return {
			pageData: pageData.data[0],
			teamMembers: teamMembers.data
		}
		
		
	},
	
	computed:{
		
		translations(){ return this.$store.getters['lang/translations'] },
		
	},

	mounted(){

		// Open/close team members panel
		this.$root.$on("onClickTeamMembers", isOpen => {

			this.opened = isOpen;
		});

	},
	
	// SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }

}
</script>
