<template>
    
    <div class="team-member-wrapper" :class="{opened:membersCarouselOpened}">

        <close-icon  class=" close" @click="onCloseTeamMembersCarousel"/>

        <!-- CAROUSEL -->
        <div v-swiper:mySwiper="swiperOption">

                <!-- CAROUSEL CONTENT -->
            <div class="swiper-wrapper">


            <div v-for="(item, index) in teamMembers" 
                    :key="item.id"
                    :class="`swiper-slide item item_${index}`">

                <h2>{{ item.title.rendered }} </h2>

                <span class="position">{{ item.acf.job_title }}</span>

                <span class="desc" v-html="item.content.rendered"></span>
    <!--
                <span class="services">

                    {% for s in item.get_field('relation_services') %}

                            <style>
                                .item_{{ index }} {background-color: {{ s.colour }} !important; }

                                .item_{{ index }} .service-item:hover{
                                color: {{ s.colour }};
                                background: #fff;
                                }

                                .item_{{ index }} .service-item:hover svg{
                                    fill: {{ s.colour }};
                                }

                                @media all and (max-width:700px){

                                    .item_{{ index }} .service-item{
                                        color: {{ s.colour }} !important;
                                        border-color: {{ s.colour }} !important;
                                        background: #fff;
                                    }

                                    .item_{{ index }} .service-item svg{
                                        fill: {{ s.colour }} !important;
                                    }
                                }
                            </style>

                        <a href="{{ s.link }}" class="service-item">

                                <svg role="img">
                                    <use xlink:href="{{site.theme.link}}/images/svg.svg#{{ s.slug }}"/>
                                </svg>

                            <span>{{ s.post_title }}</span>

                        </a>

                    {% endfor %}

                </span>
    -->
                

                    <img v-if="item.acf.team_member_panel_image" 
                        :src="item.acf.team_member_panel_image" 
                        :alt="item.acf.job_title" 
                        class="featured-image">


                </div>

           </div>

           <!-- CAROUSEL NAVIGATION -->
            <div class="swiper-nav">

                <div class="swiper-button-prev" slot="button-prev">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve">
                        <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                        <path fill="#fff" class="iconfgcolor" d="M15,0c8.3,0,15,6.7,15,15s-6.7,15-15,15S0,23.3,0,15S6.7,0,15,0z M15,26c6.1,0,11-4.9,11-11S21.1,4,15,4S4,8.9,4,15 S8.9,26,15,26z M17.4,7.1L20,10l-5.4,4.8l5.4,5l-2.7,2.9l-8.6-7.9L17.4,7.1z"></path>
                    </svg>
                </div>

                <div class="swiper-button-next" slot="button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                        <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                        <path fill="#fff" class="iconfgcolor" d="M15,30A15,15,0,1,1,30,15,15,15,0,0,1,15,30ZM15,4A11,11,0,1,0,26,15,11,11,0,0,0,15,4ZM12.63,22.94,10,20l5.35-4.77L9.94,10.25l2.71-2.94,8.61,7.93Z"></path>
                    </svg>
                </div>

            </div>


        </div>

    </div>

</div>

</template>

<script>

import CloseIcon from "@/assets/svg/cross.svg"; 
export default {

    components: {
        CloseIcon
    },

     props: [ "teamMembers" ],

     data: () => ({

         membersCarouselOpened: false,

         swiperOption: {
            loop: false,
            slidesPerView: 1,
            centeredSlides: false,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        }

     }),

     methods: {

        // Emit event to close team members carousel
        onCloseTeamMembersCarousel(){

              this.$root.$emit("revealTeamMembersCarousel", [false]);

        }
    },
    


    mounted(){


		// Open/close team members carousel
		this.$root.$on("revealTeamMembersCarousel", payload => {

            this.mySwiper.slideTo(payload[1], 100);

            this.membersCarouselOpened = payload[0];
            
		});

	}
    

    
}
</script>