<template>
    
    <div class="about-us-team-members">

        <div class="wrapper">

            <div class="head">

                <h2 class="black">{{ translations.meet_the_team }}</h2>

                    <close-icon  class=" close" @click="onCloseTeamMembers"/>
                
            </div>

            <div class="team-members">
                
                <div class="stage">

                    <div v-for="(item, index) in teamMembers"
                            :key="item.id"
                            class="member class-toggler" 
                           
                            data-target=".team-member-wrapper" 
                            data-class="opened"
                            @click="onOpenTeamMembersCarousel(index)">

                        <picture class="full-bg" style="z-index:0;">
                            <img v-lazy-load-image :data-src="item._embedded['wp:featuredmedia']['0'].source_url" :alt="item.title.rendered">
                        </picture>

                        <div class="content">

                            <div :class="`details is-flexy is-center is-middle is-column detail_${index}`">

                                <span class="name">{{ item.title.rendered }}</span>

                                <span class="title">{{ item.acf.job_title }}</span>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


       


    </div>


</template>

<script>
import CloseIcon from "@/assets/svg/cross.svg"; 
export default {
    
    components: {
        CloseIcon,
    },

    props: [ "teamMembers" ],

    computed:{
		
		translations(){ return this.$store.getters['lang/translations'] },
		
    },

    methods: {

        // Emit event to close team members panel
        onCloseTeamMembers(){

              this.$root.$emit("onClickTeamMembers", false);

        },

        // Emit event to close team members carousel
        onOpenTeamMembersCarousel(index){

             this.$root.$emit("revealTeamMembersCarousel", [true, index]);

        }
    },
    

}
</script>