<template>

  <div>
    
    <header-component/>
    
    <main class="main">

      <nuxt />

    </main>

    <footer-component />

  </div>

</template>

<script>
import HeaderComponent from '@/components/header.vue';
import FooterComponent from '@/components/footer.vue';

export default {
  
  components: {
    HeaderComponent,
    FooterComponent,
  }

}
</script>
