.about-us-wrapper{
  position: relative;
  float: left;
  width: 100%;

  overflow: hidden;
  
  &.opened{overflow: visible;}


  .has-speech{

    height: auto;
    min-height: 68vh;

  }
}

@import "about-us-landing";
@import "about-us-team-members";
@import "about-us-member";
@import "about-us-offices";