.team-member-wrapper{
  position: fixed;
  top:0;
  right: 0;
  z-index: 99999;

  width: 100%;
  max-width: 500px;
  height: 100vh;
  background: $orange;

  color: #fff;
  overflow: auto;

  transition: all .4s cubic-bezier(.23,.82,.05,.98);
  transform: translate3D(100%,0,0);
  &.opened{
    transform: translate3D(0,0,0);
    box-shadow: 0 0 0 2000px rgba($dark-mauve, 0.85);
  }

  .item{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background: $orange;

    padding: 90px 30px 0;

    img{margin-top: auto;}
  }

  h2{
    font-size: 44px;
    line-height: 44px;
    width: 200px;
    margin-bottom:5px;
  }

  .position{
    float: left;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    @extend .avenirbold;

    margin: 0 0 20px 0;
  }

  .desc{
    float: left;
    width: 100%;
    font-size: 15px;
  }

  .featured-image{
    width: 80%;
  }

  .services{
    position: relative;
    z-index: 99999;
    float: left;
    width: 100%;
  }


  @include mobilePortrait{
   .item{
     display: flex;
     flex-flow: column;

     h2{order: 0; width: 100%; margin-bottom: 10px; font-size: 30px;}
     .position{order: 1;}
     .featured-image{  order: 2;  margin: 0;}
     .desc{
      
       
       width: calc(100% + 60px);
       margin-left: -30px;
       padding: 20px;

     }
     .services{
       order: 4;
       background: #fff;
       width: calc(100% + 60px);
       margin-left: -30px;
       padding: 20px 20px 60px ;
     }
   }

  }


  .close{
    cursor: pointer;
    width: 30px;
    height:30px;
    fill: #fff;
    position: absolute;
    top: 32px;
    right: 30px;
    z-index: 99;

  }

  .swiper-nav{

    height: 100px;
    bottom: auto;
    top: 50px;
    left: 30px !important;

    .owl-prev{
      margin-right: 0;
    }

    svg{width: 30px; height: 30px;}
  }

}