
.about-us-offices{
  

  float: left;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: #fff;
  overflow: auto;
  padding-top: 40px;

 


  .head{
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 0;
    background-position: center;

    *{position: relative; z-index: 10;}

    &:after{
      display: none;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background:rgba($orange, 0.85);
    }


    h2{
      margin: 0;
    }

    .close{
      position: static;
      top:40px;
      width: 40px;
      cursor: pointer;

      path{
        fill: $dark-mauve !important;
      }
    }

    @include mobilePortrait{
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;
      height: 60px;
      background-size: cover;

      h2{
        color: #fff;
        font-size: 20px;
      }
      .close{
        fill: #fff;
        width: 35px;
      }
      &:after{display: block;}
    }



  }




  .offices{
    float: left;
    width: 100%;
    //height: 75vh;
    height: auto;
    overflow: auto;

    .stage{

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      float: left;
      width: 100%;

      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #EFEDF2;

      h3{
        margin-bottom: 40px;
      }

      @include mobile{
        padding: 20px;
      }


    }

    .office-item {

      float: left;
      width: calc(25%  - 20px);
      margin-bottom: 40px;
      margin-right: 20px;

      display: flex;
      flex-direction: column;

      font-size: 16px;
      line-height: 22px;

      &:not(:last-child){
        border-right: 1px solid #EFEDF2;
      }



      @include mobilePortrait{
        width: 100% !important;
        margin-right: 0;
        border: 0 !important;
      }

      @include tablet{
        width: calc(50%  - 20px);
      }



      @include tabletLandscape{
        width: calc(33%  - 20px);
      }




      a{

        color: inherit;

        &:hover{
          text-decoration: underline;
        }

      }

      .country{

        text-transform: uppercase;
        font-weight: bold;


        img{

          width: 30px;
          height: 30px;
          margin: -2px 4px 0 0;

        }

      }

      .head-name{
        font-weight: bold;
      }



    }

  }



}