
.about-us-team-members{
  position: absolute;
  left:0;
  //top:$header_height;
  top: 0;
  z-index: 10001;

  float: left;
  width: 100%;
  height: auto;
  min-height: 141vh;
  background: #fff;

  transform: translate3D(100%,0,0);
  transition: all .3s cubic-bezier(.82,.09,.81,.78);

  &.opened{
    transform: translate3D(0,0,0);
  }



  @include tablet{
    height: 100vh;
    position: fixed;
    top:$header_height;
  }


  .head{
    position: relative;
    overflow: hidden;
    float: left;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 0;
    background-position: center;

    *{position: relative; z-index: 10;}

    &:after{
      display: none;
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background:rgba($orange, 0.85);
    }


    h2{
      margin: 0;
    }

    .close{
      position: static;
      top:40px;
      width: 40px;
      cursor: pointer;

      path{
        fill: $dark-mauve !important;
      }
    }

    @include mobilePortrait{
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;
      height: 60px;
      background-size: cover;

      h2{
        color: #fff;
        font-size: 20px;
      }
      .close{
        fill: #fff;
        width: 35px;
      }
      &:after{display: block;}
    }



  }
}

.team-members{
  float: left;
  width: 100%;
  //height: 75vh;
  height: auto;
  overflow: auto;


  @include mobilePortrait{
    position: absolute;
    top:60px;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: calc(100vh - 70px - 60px);

    .member{
      width: 100vw !important;
    }
  }

  .stage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    float: left;
    width: 100%;
  }

  .member{
    float: left;
    width: calc(100% / 5 - 30px);
    border-radius: 50%;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-size: cover;
    z-index: 10;
    background-color: #f5f5f5 !important;

    &:hover{
      .details{
        opacity: 1;
      }
    }

    .details{
      width: 100%;
      height: 100%;
      opacity: 0;
      color: #fff;
      transition: all .3s cubic-bezier(.82,.09,.81,.78);
      z-index: -1;
      background: $orange;

      .name{
        font-size: 20px;
        display: block;
        font-family: "Roboto Slab",sans-serif;
        float: left;
        width: 100%;
      }
      .title{

        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        display: block;
        float: left;
        width: 100%;
        padding: 0 15px;

      }

    }


    @include aspect-ratio(1,1);

    @include tablet{
      width: calc(100% / 3 - 30px);
    }

    @include mobilePortrait{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 0;
      height: 100px;

      background-color: #EFEDF2 !important;
      background-size: 100px !important;;
      background-position: bottom right !important;;
      background-repeat: no-repeat !important;;

      picture{

        width: 100px;
        height: 100px;
        right: 0;
        left: unset;

      }

      .content{
        width: 75%;

        .details{
          padding: 0  0 0 20px;
          width: 100%;
          opacity: 1;
          background: transparent;
          color: $dark-mauve;
          text-align: left;

          .title{
            
            margin: 5px 0 0 0;
            padding: 0;
            font-size: 12px;

          }
        }

      }
    }


  }
}