.about-us-landing{
  position: relative;
  float: left;
  width: 100%;

  padding-top: $space_top;

  background-size: cover;
  background-position: center;


  .has-speech-main, h1{
    position: relative;
    z-index: 10;

    p{color: #fff;}
    
  }

  &:after{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background:$orange;
  }

  .btn-large-outline{
    @include mobile{
      text-align: center;
      width: 100%;
    }
  }


}