
  .offices{
    float: left;
    width: 100%;
    //height: 75vh;
    height: auto;
    overflow: auto;
    padding-bottom: 50px;


    @include mobilePortrait{
      position: absolute;
      top:60px;
      width: calc(100% + 40px);
      margin-left: -20px;
      height: calc(100vh - 70px - 60px);

      .member{
        width: 100vw !important;
      }
    }

    .stage{

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      float: left;
      width: 100%;

      padding: 15px 0;
      margin-bottom: 30px;
      border-bottom: 1px solid #EFEDF2;

      h3{
        margin-bottom: 20px;
      }

      @include mobile{
        padding: 20px;
      }


    }

    .office-item {

      float: left;
      width: calc(25%  - 20px);
      margin-bottom: 40px;
      margin-right: 20px;

      display: flex;
      flex-direction: column;

      font-size: 16px;
      line-height: 22px;

      &:not(:last-child){
        border-right: 1px solid #EFEDF2;
      }



      @include mobilePortrait{
        width: 100% !important;
        margin-right: 0;
        border: 0 !important;
      }

      @include tablet{
        width: calc(50%  - 20px);
      }



      @include tabletLandscape{
        width: calc(33%  - 20px);
      }




      a{

        color: inherit;

        &:hover{
          text-decoration: underline;
        }

      }

      .country{

        text-transform: uppercase;
        font-weight: bold;


        img{

          width: 30px;
          height: 30px;
          margin: -2px 4px 0 0;

        }

      }

      .head-name{
        font-weight: bold;
      }



    }

  }
