<template>
  <div class="home">
    
    
      <home-top-component :page-data="pageData"/>

      <select-country-globe-component  :page-data="pageData"/>

      <select-country-component  />

      <mauve-services-component />

      <post-carousel-component :title="translations.our_clients" category="clients_item"/>

      <div class="articles" >

          <div class="wrapper">

            <post-slideshow-component :slideshowTitle="translations.latest_news" post-type="latest news"/>
            <post-slideshow-component :slideshowTitle="translations.case_studies" post-type="case studies"/>
            <post-slideshow-component :slideshowTitle="translations.events" post-type="upcoming events"/>

          </div>

      </div>

      <post-carousel-component :title="translations.our_affiliates" category="affiliate"/>

  </div>
</template>

<script>

import HomeTopComponent from '@/pages/home/home-top.vue';
import SelectCountryGlobeComponent from '@/pages/home/globe.vue';
import SelectCountryComponent from '@/pages/home/country-selection.vue';

import MauveServicesComponent from '@/components/mauve-services-component.vue';
import PostSlideshowComponent from '@/components/post-slideshow-component.vue';
import PostCarouselComponent from '@/components/post-carousel-component.vue';

import lazyLoadComponent from "@/components/utils/lazy-load-component.js";

export default {

  components: {
    HomeTopComponent,
    SelectCountryComponent,
    SelectCountryGlobeComponent,
    MauveServicesComponent,
    PostSlideshowComponent,
    PostCarouselComponent
  },

  computed:{

    lang(){ return this.$store.getters['lang/lang'] },

    translations(){ return this.$store.getters['lang/translations'] },
    
  },


  async asyncData ({ route, params, $axios }) {

    let lang = route.query.lang;

    let { data } = await $axios.get(`/wp-json/wp/v2/pages?slug=homepage&lang=${lang}`)
    
    return { pageData: data[0] }

  },
    
  mounted() {
    
    this.getServices();

  },

  methods: {

    getServices(){

      const VM = this;
      let servicesParentID;

      if(this.lang == "en")  servicesParentID = 11;
      if(this.lang == "es")  servicesParentID = 1258;

      this.$store.dispatch('services/getServices', {servicesParentID, lang: this.lang})
             
        .then(response => {

            // All good, show them
            VM.loaded = true;

        })
        .catch(error => {
            
            console.log(error);
            VM.loaded = true;

        });

    }
  

  },

  // SEO
  head () {

      let pageData = this.pageData;

      return {

          title: `Mauve Group - Experts in Expansion`,

          meta: [
              { hid: `title`, property: 'title', content: `Mauve Group - Experts in Expansion` },
              { hid: 'description', name: 'description', content: `Leading provider of Global Business Solutions and Consultancy Services, supporting organisations in more than 150 countries since 1996` },
              { hid: `image`, property: 'image', content: `https://mauvegroup.com/wp-content/uploads/2016/08/mauve-space-bg-1.jpg` },
              { hid: `canonical`, property: 'canonical', href: `https://mauvegroup.com` },
              { hid: `og:type`, property: 'og:type', content: 'website' },
              { hid: `og:title`, property: 'og:title', content: `Mauve Group - Experts in Expansion` },
              { hid: `og:image`, property: 'og:image', content: `https://mauvegroup.com/wp-content/uploads/2016/08/mauve-space-bg-1.jpg` },
              { hid: `og:description`, property: 'og:description', content: `Leading provider of Global Business Solutions and Consultancy Services, supporting organisations in more than 150 countries since 1996` },
              { hid: `og:url`, property: 'og:url', content: `https://mauvegroup.com` },
          ],

          link: [
              { rel: 'canonical', href: `https://mauvegroup.com`}
          ]

      }
  }


}
</script>

<style>

</style>
