<template>
    <div id="mobile_continents">
        
        <div class="back" @click="closeContinetList">
            
            <svg role="img" data-target=".active" data-class="active" viewBox="0 0 9.15 14.16"><g id="chevron-Layer_2" data-name="Layer 2"><path class="cls-1" d="M1.34 14.16l-1.33-1.5 6.16-5.5L0 1.47 1.35 0l7.8 7.18-7.81 6.98z" id="chevron-Layer_1-2" data-name="Layer 1"></path></g></svg>
            
            <h2>Select A Continent</h2>
        
        </div>
        
        <ul>
            <li @click="onSelectContinent('africa')" class="country-path">Africa</li>
            <li @click="onSelectContinent('asia')" class="country-path">Asia</li>
            <li @click="onSelectContinent('europe')" class="country-path">Europe</li>
            <li @click="onSelectContinent('north-america')" class="country-path">North America</li>
            <li @click="onSelectContinent('south-america')" class="country-path">South America</li>
            <li @click="onSelectContinent('oceania')" class="country-path">Oceania</li>
        </ul>
    </div>
</template>

<script>
export default {

    methods:{

        closeContinetList(){

             this.$root.$emit("closeContinetList")

        },

        onSelectContinent(continent){

             this.$root.$emit("onSelectContinent", continent)

        }

    }
    
}
</script>