<template>
    
<div class="country-selection is-flexy" :class="{active : continentSelected}">

    <div class="country-list is-fill">

        <BackIcon class="close" @click="onClose"/>

        <h2>You’ve selected <span class="continent-output">{{ continentSelected }}</span></h2>

        <h4>Select a country:</h4>

        <div class="row is-middle" style="margin-top: 20px;">

           <img src="~/assets/images/stuff.png" alt="Mauve Staff Office" width="25" height="25">
            = Mauve Office
        

            <img src="~/assets/images/global.png" alt="Mauve Staff Office" width="25" height="25" style="margin-left: 50px;">
             = Mauve Entity
        
        </div>

        <div v-if="countries && loaded" class="countries" id="countries-output">  

            <!-- Loop throught the countries for tthe givem continent ID -->
            <div v-for="country in countries[continentID]" 
                :key="country.id" 
                class="item" 
                :class="country.office_type" 
                @click="onSelectCountry(country.id)">
    
                <span class="country">
                
                    <img :src="countryImage(country.slug)">
                    
                    <span>{{country.name}}</span>
                
                    
                    <img class="office-icon mauve-office-icon" src="https://mauvegroup.com/wp-content/themes/timber-theme/images/global.png">
                    <img class="office-icon mauve-entity-icon" src="https://mauvegroup.com/wp-content/themes/timber-theme/images/stuff.png">
                    
                    <svg role="img" class="check" viewBox="0 0 15.34 11.41">
                        
                    <title>checked</title><g id="checked-Layer_2" data-name="Layer 2"><path class="cls-1" d="M5.35 11.41L0 6.06l1.41-1.42 3.94 3.94L13.93 0l1.41 1.41-9.99 10z" id="checked-Layer_1-2" data-name="Layer 1"></path></g></svg>
                    
                </span>
                
            </div>

        </div>
        <div v-else class="countries" style="padding: 30px;">
            <spinner class="dark"/>
        </div>



    </div>

    <div class="country-detail" :class="{active: detailsActive}">

       <CloseIcon class="close" @click="detailsActive=false"/>

        <div class="holder" id="country-detail-output">

            <div v-if="showLoading" class="stage">
                <spinner style="padding: 35px 5px;" />
            </div>
            
            <div v-if="selectedCountryDetails && !showLoading">

                <!-- <img src="${data.bg}" alt="">  -->
    
                <div class="stage">
                
                    <h2 v-if="lang == 'en'">You’re interested in {{ selectedCountryDetails.name }}</h2>
                    <h2 v-if="lang == 'es'">Estas interesado en {{ selectedCountryDetails.name }}</h2>
                    
                    <div v-if="selectedCountryACF && selectedCountryACF.office_info" class="office-info">
                    
                        <strong>{{ selectedCountryDetails.name }} OFFICE:</strong>
                        
                        <span v-html="selectedCountryACF.office_info"></span>
                        
                    </div>
                    
                    <p>{{ selectedCountryDetails.description }}</p>
                    
                    <h4  v-if="lang == 'en'" class="white">SELECT A SERVICE:</h4>
                    <h4  v-if="lang == 'es'" class="white">SELECCIONE UN SERVICIO:</h4>
                    
                    <div v-if="selectedCountryACF" class="services" id="services-output">

                        <span v-for="item in selectedCountryACF.services"
                                :key="item.id" 
                                class="service-item btn-medium-outline btn white" 
                                :class="item.post_name"
                                :title="item.post_title"
                                @click="onClickCountryService(item.post_name)">

                            <component :is="item.post_name"/>
                           
                                
                            <span>{{item.post_title}}</span>
                            
                        </span>
                        
                    </div>
                    
                    <!-- <a href="#" class="btn btn-large-outline white" id="go-to-service">
                        ${param('lang') ? 'ENVIAR' : 'SUBMIT'}
                    </a> -->
                    
                </div>    
                
            </div>    

        </div>

    </div>

</div>
</template>

<script>
import axios from 'axios';
import Spinner from "@/components/spinner.vue";
import BackIcon from "@/assets/svg/icons/chevron.svg"; 
import CloseIcon from "@/assets/svg/cross.svg"; 

import GlobalBusinessExpansion from '@/assets/svg/icons/global-business-expansion.svg';
import GlobalWorkforceSolutions from '@/assets/svg/icons/global-workforce-solutions.svg';
import GlobalWorkforceMobilitySolutions from '@/assets/svg/icons/global-workforce-solutions.svg';
import GlobalVisaAndImmigration from '@/assets/svg/icons/global-visa-and-immigration.svg';
import GlobalPayroll from '@/assets/svg/icons/global-payroll.svg';
import ProjectManagement from '@/assets/svg/icons/project-management.svg';
import ConsultancyServices from '@/assets/svg/icons/consultancy-services.svg';
import ValueAddedServices from '@/assets/svg/icons/value-added-services.svg';


export default {
    components: {
        Spinner,
        BackIcon,
        CloseIcon,

        GlobalBusinessExpansion,
        GlobalWorkforceSolutions,
        GlobalWorkforceMobilitySolutions,
        GlobalVisaAndImmigration,
        GlobalPayroll,
        ProjectManagement,
        ConsultancyServices,
        ValueAddedServices
    },

    data: () => ({

        loaded: false,
        
        showLoading: true,

        detailsActive: false,
        
        continentSelected : null,

        continentID: null,

        selectedCountryDetails: null,

        selectedCountryACF: null

    }),

    computed: {

        lang(){

            return this.$store.getters['lang/lang'];

        },

        countries(){

            return this.$store.getters['countries/countries'];

        }

    },

    mounted(){

        const VM =this;

        /**
        *
        *   Continent  Selection Listener
        *   listen to <globe> component to emit event when user clicks on a continent
        *
        *   @returns {continent}
        *
        */
        this.$root.$on("onSelectContinent", continent => {
            
            VM.loaded = false;

            
            // Set the selected continent and unsglug it
            this.continentSelected = continent.replace('-', ' ');
            
            // Set the selected continent ID
            let continentID = this.setContinent(continent);
            this.continentID = continentID;

            // IF the countries for the selected continent are loaded already
            if( this.countries[continentID]){

                // SHow them
                VM.loaded = true;

            }
            // OTHERWISE dispatch event to get them and save to the store
            else{

                // Get the countries from the select continent
                this.$store.dispatch('countries/getCountries', {continentID, lang: this.lang})
             
                    .then(response => {

                        // All good, show them
                        VM.loaded = true;

                    })
                    .catch(error => {
                        
                        console.log(error);
                        VM.loaded = true;

                    });
            }

            

        });

    },

    methods: {

        onClickCountryService(serviceName){

            let selectedCountryService = {
                selectedCountryACF: this.selectedCountryACF,
                selectedCountryDetails: this.selectedCountryDetails
            }

            // Save the selected country and service so we can use on the service page
            this.$store.dispatch('services/setSelectedCountryService', selectedCountryService);

            this.$router.push({
                path: `/mauve-group-services/${serviceName}`
            })

        },

        // Get country details and show it 
        async onSelectCountry(id){

            const VM = this;

            this.onSelectCountryACF(id);

            const COUNTRY_INFO_URL = `wp-json/wp/v2/country/${id}?lang=${this.lang}`;
           
            this.detailsActive = true;

            this.showLoading = true;

            axios.post('/api/rest', {endpoint:COUNTRY_INFO_URL})

            .then( response => {

                VM.selectedCountryDetails = response.data.data;

                // Save the selected country to local storage so we can use it on the service page
                localStorage.setItem("selectedCountry", response.data.data.name);

                this.showLoading = false;
            });

        },

        //  country ACF
        async onSelectCountryACF(id){

            const VM = this;

            const COUNTRY_ACF_URL = `wp-json/acf/v2/term/country/${id}?lang=${this.lang}`;
            axios.post('/api/rest', {endpoint:COUNTRY_ACF_URL})
            
            .then( response => {

                VM.selectedCountryACF = response.data.data.acf;
            });

        },

        // Set continent ID based on the current language
        setContinent(continent){

            let id;
        
            if(continent == "europe") id = (this.lang == "es") ? 705 : 595;
            if(continent == "south-america") id = (this.lang == "es") ? 675 : 598;
            if(continent == "north-america") id = (this.lang == "es") ? 703 : 596;
            if(continent == "asia") id = (this.lang == "es") ? 649 : 594;
            if(continent == "africa") id = (this.lang == "es") ? 638 : 593;
            if(continent == "oceania") id = (this.lang == "es") ? 688 : 597;

            return id;

        },

        // Generate the flag image baed on the country stug
        // if is -es, remove it
        countryImage(slug){

              let imageName = slug.replace(/-es/g, '');
              return `https://mauvegroup.com/wp-content/themes/timber-theme/images/icons/flags/${imageName}.png`;

        },

        // Close country selection panel
        onClose(){

            this.continentSelected = null;
            this.detailsActive = false

        }

    }
    
}
</script>