<template>
    
    <div class="globe-wrapper" id="toglobe">

        <figure class="full-bg">
            <img v-lazy-load-image data-src="https://mauvegroup.com/wp-content/uploads/2019/10/space-bg.jpg" alt="We are global">
            <!-- <img src="~/assets/images/bg/globe-bg.png" alt=""> -->
        </figure>

        <div class="wrapper white is-flexy is-center is-column is-middle">

            <h2 name="toglobe">{{pageData.acf.we_are_global}}</h2>

            <p>{{pageData.acf.we_are_global_body}}</p>

            <a href="#globe" title="Start by selecting a continent" class="skip">

                {{translations.start_by_selecting_a_continent}}

                <svg role="img" viewBox="0 0 9.15 14.16"><g id="chevron-Layer_2" data-name="Layer 2"><path class="cls-1" d="M1.34 14.16l-1.33-1.5 6.16-5.5L0 1.47 1.35 0l7.8 7.18-7.81 6.98z" id="chevron-Layer_1-2" data-name="Layer 1"></path></g></svg>

            </a>

        </div>

        <div class="globe"  name="globe">

           <svg role="img" class="map" viewBox="0 0 1208.72 615.41">
                <g>
                    <g id="globe">
                        <g @click="onSelectContinent('europe')" id="europe" class="country-path">
                            <path d="M500.46 114.17l-8.6 4.69-.78 9.38 10.95-3.13-1.57-10.94zM514.53 120.42l-5.47 4.69-1.56 10.17 13.29-4.69 7.04-5.48-1.57-6.25-9.38-6.26 4.7-7.03-7.83-10.95-9.38 10.16 3.91 11.73 6.25 3.91z"></path>
                            <path  d="M701.82 61l-26.58-1.56-23.46 4.69L640 74.29l-8.6 7-6.26-9.38 14.07-5.47-2.35-4.69-22.68-3.91-29.71-5.47-22.68 7.82-11.67 14.88-10.12 8.6-4 6.26 2.34 11.73 14.86-3.91 2.3 5.06-6.6 1.2 1.56 6.26h7.82l-.34-3.38 10.12 6.5 7-8.6-4.7-13.29 3.91-9.38 9.38-7 7.82-2.35-4.69 10.17 2.35 10.17 21.11-1.57 3.91 6.26-17.15 3.07-4.69 13.29-8.6 3.91-15.64 3.13-19.55-2.35-10.17 2.35-6.25 8.6-8.6 5.47-14.08 3.91-4.69 8.6 9.38 4.69-5.47 7-10.17 3.91-10.91 1.62v14.86l-2.35 11.73 11.73 5.47 18.77-5.47.78-13.29 11.73-5.48 3.91-8.6 14.07 3.13 4.69-3.91 9.39 6.26 10.95 10.17 4.69 7.82-7.82 3.91 6.25 6.25 9.38-7.82-3.12-14.08L565 163.43l3.91-4.69 9.38 9.39L590 179.07l7.83 8.6-.79 7.82 7.82 4.69.78-7-2.34-11.73 10.95-3.13 13.29-.78 10.95 8.6v-14.86c0-2-3-9.5-1-13.5s.5-9.5 6.5-7.5a25.76 25.76 0 0 1 10 6.5l5.5 12s-1.5 1 6.5 3-.5 5 8 2l8.5-3s-2-9-3-11 0 4-1-2-2-1.5-1-6 15.5-9 15.5-9-.5-3.5 5.5-1.5 23 7 23 7l13 2v-22.5l-6-12.5s-4.5-12.5-10-16 1 3-5.5-3.5-2.5.5-6.5-6.5-4.5 2.5-4-7l.5-9.5z"></path>
                        </g>
                        <path @click="onSelectContinent('south-america')" id="south-america" class="country-path" d="M369.87 380.04h-13.29l-7.04-10.95h-25.02l-1.56-9.39-6.26-20.33-24.24-3.91-14.86-9.38h-14.86l-8.6-11.73-16.42-7.04-17.99 10.17-8.6 16.42-1.56 21.11-10.17 10.95-2.34 22.68 9.38 10.95 2.34 17.98 16.43 12.51 18.76 14.08 2.35 20.33v27.37l.78 17.2-.78 22.68 3.91 34.4 10.16 28.15 20.34 18.77 19.55 2.35-3.13-7.82-11.73-7.03-5.48-9.39 10.17-9.39.78-9.38-7.82-2.35-3.13-10.94 7.82-7.04 3.13-10.94 17.21-1.57 2.34-10.17-7.82-4.69-1.56-7.04 15.64 3.91 14.07-18.77.78-19.54 10.17-14.86 16.42-2.35 7.82-14.85.79-26.59 10.16-13.29 10.17-19.55-14.86-3.13-2.35-8.6z"></path>
                        <g @click="onSelectContinent('north-america')" id="north-america" class="country-path">
                            <path  d="M205.66 315.92l-10.95 2.34-4.69-8.6 5.47-16.42-12.51-4.69-14.08.78 10.95-14.08v-12.51l-12.51.78-3.91 5.48-10.16 7.82-16.43-3.13.79-22.68 4.69-21.89 18.77-4.69 21.89-1.57 14.86 3.91 3.13 18.77 7.81-1.57 1.57-22.67 13.29-12.51 14.86-8.61 7.82-17.98 18.77-16.42 25.02-6.26 4.69-14.08-2.34-14.07h25.8l13.29-6.26-7.03-12.51-9.39-7.03 3.91-14.86h-22.67l-1.57-10.95-23.46 2.35-3.9 19.54-14.86 10.95v11.73l-10.95-.78 3.13-13.29-25.03-1.57-4.69-11.73 22.68-17.98 15.64-8.6 10.16-4.69-7.03-16.42-16.43 1.56-14.85 7.82-24.24 3.13-29.72-7.82-34.41-1.57-12.51 3.91-32.84-7.82-35.19.79-41.44 23.45L.56 86.1 0 103.22l11.96 3.38 14.63-6.51 7.82-8.6 18.76-2.35 21.9 13.3 1.56 15.64 9.39 19.55-8.61 15.64-10.16 18.76-2.35 28.94 10.95 10.94-2.35 17.99 14.86 30.49 3.91-3.12-10.16-25.02 4.69-7.04 12.51 24.24 8.6 21.11 23.46 17.2 14.08-1.56 13.29 12.51h11.73l8.6 13.29 8.6 14.08 21.11.78-3.12-10.94zM472.31 36.75v-9.38l4.69-8.61 13.29-2.34-1.56-7.04h-12.51L445.72 0l-28.15 2.35-35.19 5.47-42.22 15.64 3.12 8.6 17.21-1.56 9.38 14.07-7.04 15.64v17.2l8.61 9.39 14.86 1.56 14.07-14.07 19.55-5.48 9.38-11.73 24.24-1.56 9.39-12.51 9.38-6.26z"></path>
                            <path  d="M315.13 146.23l3.13 1.56 13.29 3.13 5.48-8.6-8.6-9.39-13.3 13.3zM200.97 257.27l-14.08 1.56 16.42 3.91 16.42 9.39 14.08-.79-8.6-10.16-24.24-3.91zM253.36 273.69L241.63 269l-11.73 11.73h16.42l7.04-7.04zM201.75 34.41l-20.33 1.56-12.52 6.25 10.95 2.35 21.9-10.16zM337.81 62.56l-11.73-8.6-10.95-10.95-13.29-1.57-24.24-3.91-5.48 3.91.79 12.52-4.69 4.69 2.34 5.47 9.38-3.13 5.48 7.04 13.29 8.6 11.73 7.04 9.38-7.82-1.56-9.38 8.6 2.34 10.95-6.25zM276.04 32.06l28.15 2.35 10.94-8.61 20.34-7.04 22.67-7.03 3.13-4.69-60.21 2.34-22.68 4.69 3.91 3.13 7.82 6.26-10.17-.78-3.9 9.38zM190.8 54.74H208l14.08-3.13 4.69-11.73-21.89-.78-18.77 6.25 4.69 9.39zM242.41 26.59l-18.77.78-8.6 4.69 17.99 2.35 9.38-7.82zM246.32 43.01l7.04-5.48-10.17-1.56-5.47 6.25 8.6.79zM272.12 35.19h-10.94l-3.13 6.25 7.04.78 7.03-7.03zM258.83 71.94l-.78 4.69-2.35 3.13 14.86-3.13-3.91-10.16-7.82 5.47zM71.16 121.99l-7.82-7.82.78 7.03 5.47 9.39 1.57-8.6z"></path>
                        </g>
                        <g @click="onSelectContinent('africa')" id="africa" class="country-path">
                            <path  d="M711.72 424.92l-13.29 19.55-.78 14.85-4.7 3.91-1.56 14.08 8.6 8.6 8.6-10.16 5.47-21.12 5.48-17.2-.78-14.86-7.04 2.35zM647.99 227.75l-27.64-4.58-17.98-10.95-10.17 1.57 3.91 12.51-6.25 7.04-12.51-7.82-.79-9.39-22.67-3.91 6.25-10.16-23.46-2.35-21.89 7.04h-19.55l-12.51 13.29-.79 14.86-17.2 6.26-10.95 21.89 2.35 24.24-7.82 12.51 3.13 10.17 10.95 7.82 4.69 14.86 21.11 15.64 18.77-4.69 17.98-7.83 13.3 2.35 1.56 9.38 16.42-1.56 1.57 21.89 8.6 15.64 6.25 25.81 2.35 15.64-7.82 3.91-3.13 16.42 8.6 12.52 2.35 13.29v17.98l9.38 7.82 3.13 24.25 17.21 5.47 26.58-7.82 12.52-25.02 2.34-15.65 9.38 2.35 3.13-17.2-7.04-8.61 22.68-7.82 6.26-13.28-2.35-18-1.57-22.67 12.52-25.81 20.33-18.76 13.29-32.85-21.89 3.92-12.52-9.39-17.98-26.58-16.42-25.03-5.47-14.86 1.73-8.68-2.25-7.07z"></path>
                        </g>
                        <g @click="onSelectContinent('oceania')" id="oceania" class="country-path">
                            <path d="M1131.25 474.97l-5.92-13.72h-6.39l-1.36-11.35-2.74-12.3-3.19-10.03-6.38 2-3.64 2.1v11.85l-5.02 8.66h-5.92l-7.75-6.38v-9.11l-2.73-13.67h-12.76l-.91 6.55-9.8 3.02-3.87 5.92-14.59-1.82-6.38 6.83-9.57 5.93-4.1 11.8-8.67 3.69-15.48 5.92-11.85 7.75-1.36 16.41-6.84 7.75v20.04l5.47 7.3 9.11 3.46 13.68-6.65 14.58-4.56 10.02-7.75 11.39-1.82 8.21 6.38 6.38 10.03 4.55 4.37 6.38-3.46 3.65 6.83v10.03l15.49 2.27h8.66l4.1-5 11.4-10.67 10.02-5.29 5.47-10.93 13.67-9.58 3.19-12.75-2.28-10.48-5.92-9.57zM1076.56 561.55l-7.29.91v5.92l6.38 4.11 10.48-5.01 5.02-5.02-10.94-4.56-3.65 3.65zM1203.25 533.57h-5.01l-1.83 8.38-10.48 7.29-7.29 3.65-6.83 9.12-8.2 3.19-12.31 7.29h-6.84v10.02l5.93 3.2 10.94-2.29 8.65-4.33 10.94-10.71 15.04-3.18 10.02-10.03 2.74-13.67-5.47-7.93z"></path>
                        </g>
                        <g @click="onSelectContinent('asia')" id="asia" class="country-path">
                            <path  d="M850 336.25l5.48-.79v-12.51l-7.83-1.56 2.35 14.86zM993.55 333.55l-7.76 10.93-17.76 13.66 2.73 13.68 15.04 7.3 8.2-3.2 6.38-12.3 3.18-18.23-4.09-11.84h-5.92zM944.33 364.53l-4.1-8.2h-13.21v7.75l5.92 15.04 8.66 6.37h11.85v-8.2l-7.3-3.45-1.82-9.31zM1048.69 208.23l9.11-3.65 6.84-4.56 3.19-13.67-4.56-11.39-3.19-6.84.91-6.38-7.29-3.19-.91-7.74-4.1-3.65-6.38 5.01 6.38 15.04V190l-12.76 8.2-10.03 6.38v9.11l6.84 5.93h13.21l2.74-11.39zM1133.45 400.53l2.28-9.57 9.57-5.47 8.2 10.03 13.67 8.66h10.48v-7.75l-10.93-2.27-5.93-10.03-13.67-10.29h-11.39l-15.53 6.91-.87-1.63h-15.95l-6.39-8.2-11.39-6.84-8.66 4.55v2.29h-6.83l-5.01-6.84-1.83-10.03-10.48 4.09 4.56 12.78 10.48 8.2 10.08 3 11.79 8.84 4.11 10.94 10.02 2.28h12.76l.06-.1 3.13 2.38 13.67 6.83 5.01-2.27-5.01-10.49zM1044.13 330.81l-8.2-5.51 1.82-10.89-5.01-6.61-10.25-7.98v-9.11l-10.71-13.22-5.47 3.65 2.73 18.23-8.2 12.76 2.72 11.39 12.32-5.47 5.92 5.47 5.47 12.73 16.86 1.85v-7.29zM1011.78 370.92l-2.28 12.75 12.99 5.02 3.41-5.02v-8.2l4.56-4.55v-10.49l10.03-4.1-12.31-9.11-12.76 9.11-3.64 14.59zM993.09 404.18l4.56 9.11 19.6-2.27 16.4-2.74 4.56-6.15-9.57-4.33-8.66 6.38h-10.48l-5.94-5.02-17.77-4.55-13.2-5.92-10.94 2.27-2.74 6.39 15.5 3.64 18.68 3.19z"></path>
                            <path  d="M1116.09 71.93v-9.12l-21-4.1-21.42-3.19-13.67-3.65h-19.1l-44.2-2.56h-26l-11.85-6.56h-20.48L932 49.32l-18.23-3.83-6.2 3.83-20.13 3.35-3.91-7.82-36-3.91h-23.44l3.91-8.6s-28.93-5.47-31.28-5.47-15.64-5.47-15.64-5.47L767 15.14h-14.07l4.69 9.39 17.21-.78L774 30l-14.86 3.91-24.2 10.94-9.38 4.69-8.56-7.82-11 4.69 11 12.51-15.64 1.56-.23.46h.73l1.14 11.8-.5 9.5c-.5 9.5 0 0 4 7s0 0 6.5 6.5 0 0 5.5 3.5 10 16 10 16l6 12.5v22.5l-13-2s-17-5-23-7-5.5 1.5-5.5 1.5-14.5 4.5-15.5 9 0 0 1 6 0 0 1 2 3 11 3 11l-8.5 3c-8.5 3 0 0-8-2s-6.5-3-6.5-3l-5.5-12a25.76 25.76 0 0 0-10-6.5c-6-2-4.5 3.5-6.5 7.5s1 11.5 1 13.5v14.86l-6-4.72 1.31 9.11-.5.58-18.77-.79 2.35 3.91 16.42 3.13 18.77 1.57 2.34 15.64.68 7.51.66 7.27.22 2.42 13.29 18.77 6.26 20.33 13.29 4.69v17.21l5.48 10.16 23.44-3.89 18-15.64 17.2-10.95-2.35-10.95-13.3-9.38v-5.48l-11.73 9.4-7-8.6-11.72-7.82-1.57-13.29 10.9 4.71 11.73 10.17 13.3-3.17 3.91 7.82 27.37 1.57 13.29 1.56 3.91 11.73 8.6 7 7-2.34 3.13 20.33 10.17 19.55 10.95 19.55 7.82-6.26v-25.8l18.77-16.42 11.73-14.07 13.29-1.56 9.39 17.2 4.12 6.87 4.4 29.15 13 7h5.74l5.5 7.43 5.93 10.2 7.29 8.2 5.93-4.1-7.29-6.87-1.82-7.43-10-7.43-2.33-14.07 18.68 7.09-.1-.55 7.54 7.53 9.42-3 5.16-13.06-1.82-11.85-5.16-7.29-10-7.29 1.55-16.39h21.87l16.41-4.86 10.94-10.94 1.82-17-1.52-15.2-8.51-14.58-15.19-7-2.73-8.51 11.54-6.07 14 4.25 10 4.56 6.92-6.08-3.89-7.29 2.43-9.72 14.88-2.43 4-7.29-1.1-20.84.46-13.22-21-1.37-13.18-.41v-10.53l6.83-10.47h19.6l10.94 1.37 1.37-4.56 5.93-7.75 12.3 3.19 5.47 10.48.91 11.85 9.57 9.11 2.74 8.66h8.66L1086 123l-4.1-13.67-8.66-5.47-1.37-10.94 14.58-3.65 13.21-4.1L1102 81l-5-3.19.91-5.92z"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>

    </div>


</template>

<script>

export default {

    props: ["pageData"],

    methods:{

        onSelectContinent(continent){

             this.$root.$emit("onSelectContinent", continent)

        }

    },

    computed: {
        translations(){ 
            
            return this.$store.getters['lang/translations']
            
        },
    },
    
}
</script>