<template>
    
    <div class="home-banner bg-dark-mauve">

        <picture class="full-bg" style="z-index:0;">
            <img v-lazy-load-image data-src="https://mauvegroup.com/wp-content/uploads/2016/08/mauve-space-bg-1.jpg" alt="Mauve From Local to Global">
        </picture>

        <div class="wrapper is-flexy is-middle">

            <div class="cnt">

                <div v-html="pageData.content.rendered"></div>
                <!-- WATCH VIDEO BUTTON -->
                <div class="is-flexy is-middle row" @click="showModal = true">

                    <a href="#" class="class-toggler btn btn-large-outline btn-icon white is-not__small">
                        <svg class="icon" viewBox="0 0 90.44 109.13">
                            <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M10.1 109.13A10.1 10.1 0 0 1 0 99V10.1a10.09 10.09 0 0 1 15.5-8.53L85.74 46a10.1 10.1 0 0 1 0 17.07L15.5 107.56a10.09 10.09 0 0 1-5.4 1.57zm0-100.93a1.87 1.87 0 0 0-.92.25 1.81 1.81 0 0 0-1 1.65V99a1.9 1.9 0 0 0 2.9 1.6l70.27-44.44a1.89 1.89 0 0 0 0-3.19L11.11 8.5a1.9 1.9 0 0 0-1-.3z" id="Layer_1-2" data-name="Layer 1"></path></g>
                        </svg>
                        {{translations.watch_our_video}}
                    </a>
                    
                </div>


            </div>

            <!-- INTERACTIVE ICONS -->
            <div class="img is-not__mobile is_sticky__right">
                            

                <svg id="Layer_8" data-name="Layer 8" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 684.87 710.32"><defs><style>.cls-1,.cls-18,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{fill:none;stroke:#fff;}.cls-1,.cls-18,.cls-5,.cls-6,.cls-7{stroke-miterlimit:10;}.cls-1,.cls-3,.cls-6{stroke-width:1.09px;}.cls-1,.cls-2,.cls-3,.cls-7{isolation:isolate;}.cls-2,.cls-4,.cls-5,.cls-7{stroke-width:6.19px;}.cls-8{fill:#fff;}.cls-9{fill:url(#linear-gradient);}.cls-10{fill:url(#linear-gradient-2);}.cls-11{fill:url(#linear-gradient-3);}.cls-12{fill:url(#linear-gradient-4);}.cls-13{fill:url(#linear-gradient-5);}.cls-14{fill:url(#linear-gradient-6);}.cls-15{fill:url(#linear-gradient-7);}.cls-16{fill:url(#linear-gradient-8);}.cls-17{fill:#0087b4;}.cls-18{stroke-width:0.7px;}.cls-19{fill:#bcb9dd;}.cls-20{fill:#6db32e;}.cls-21{fill:url(#linear-gradient-9);}.cls-22{fill:url(#linear-gradient-10);}.cls-23{fill:url(#linear-gradient-11);}.cls-24{fill:url(#linear-gradient-12);}.cls-25{fill:url(#linear-gradient-13);}.cls-26{fill:url(#linear-gradient-14);}.cls-27{fill:url(#linear-gradient-15);}.cls-28{fill:#76b72d;}.cls-29{fill:#bebade;}.cls-30{fill:#f39205;}</style><linearGradient id="linear-gradient" x1="610.61" y1="418.66" x2="672.61" y2="418.66" gradientTransform="matrix(1, 0, 0, -1, 0, 709.89)" gradientUnits="userSpaceOnUse"><stop offset="0.94" stop-color="#f19205"></stop><stop offset="1" stop-color="#f19205"></stop></linearGradient><linearGradient id="linear-gradient-2" x1="625.12" y1="433.96" x2="641.55" y2="433.96" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-3" x1="642.19" y1="433.96" x2="658.6" y2="433.96" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-4" x1="640.72" y1="419.08" x2="642.99" y2="419.08" gradientTransform="matrix(1, 0, 0, -1, 0.04, 709.89)" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-5" x1="611.59" y1="418.76" x2="671.32" y2="418.76" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-6" x1="625.11" y1="404.61" x2="641.52" y2="404.61" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-7" x1="617.86" y1="433.97" x2="665.95" y2="433.97" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-8" x1="617.67" y1="403.93" x2="642.33" y2="403.93" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-9" x1="552.39" y1="263.04" x2="583.81" y2="263.04" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-10" x1="409.03" y1="649.9" x2="455.42" y2="649.9" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-11" x1="415.67" y1="667.84" x2="432.45" y2="667.84" gradientTransform="matrix(1, 0, 0, -1, 0.04, 709.89)" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-12" x1="409.11" y1="659.21" x2="432.44" y2="659.21" gradientTransform="matrix(1, 0, 0, -1, 0.04, 709.89)" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-13" x1="398.07" y1="657.58" x2="443.48" y2="657.58" gradientTransform="matrix(1, 0, 0, -1, 0.04, 709.89)" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-14" x1="38.2" y1="401.52" x2="76.62" y2="401.52" xlink:href="#linear-gradient"></linearGradient><linearGradient id="linear-gradient-15" x1="5" y1="406.09" x2="82.72" y2="406.09" xlink:href="#linear-gradient"></linearGradient></defs><title>Mauve-matrix</title><g id="inactive"><line class="cls-1" x1="416.31" y1="636.01" x2="310.09" y2="520.94"></line><line class="cls-2" x1="180.49" y1="404.76" x2="77.17" y2="328.29"></line><line class="cls-3" x1="45.44" y1="261.78" x2="49.89" y2="143.61"></line><line class="cls-4" x1="90.79" y1="114.38" x2="191.76" y2="145.64"></line><line class="cls-1" x1="263.37" y1="113.71" x2="285.11" y2="67.7"></line><line class="cls-1" x1="435.97" y1="104.91" x2="455.14" y2="184.61"></line><line class="cls-5" x1="430.45" y1="467.08" x2="441.57" y2="625.44"></line><line class="cls-1" x1="464.65" y1="630.52" x2="544.82" y2="487.71"></line><line class="cls-1" x1="587.26" y1="405.76" x2="624.13" y2="327.92"></line><line class="cls-5" x1="601.12" y1="280.5" x2="533.68" y2="263.95"></line><line class="cls-5" x1="408.88" y1="224.94" x2="289.34" y2="179.32"></line><line class="cls-3" x1="198.92" y1="191.41" x2="77.23" y2="279.48"></line><line class="cls-1" x1="242.88" y1="212.46" x2="248.36" y2="369.26"></line><line class="cls-6" x1="337.94" y1="446.39" x2="396.8" y2="439.12"></line><line class="cls-6" x1="460.28" y1="437.8" x2="521.88" y2="442.7"></line><line class="cls-1" x1="427.01" y1="197.87" x2="310.74" y2="63.19"></line><line class="cls-3" x1="270.64" y1="50.02" x2="91.56" y2="92.65"></line><line class="cls-3" x1="71.83" y1="138.42" x2="208.58" y2="381.47"></line><line class="cls-1" x1="279.57" y1="195.54" x2="260.52" y2="369.99"></line><line class="cls-1" x1="293.28" y1="69.9" x2="286.33" y2="133.62"></line><line class="cls-1" x1="314.47" y1="396.76" x2="422.56" y2="294"></line><line class="cls-3" x1="404.89" y1="256.93" x2="84.56" y2="298.37"></line><line class="cls-1" x1="602.95" y1="307.08" x2="331.93" y2="422.56"></line><line class="cls-1" x1="285.72" y1="376.36" x2="403.37" y2="102.39"></line><line class="cls-1" x1="379.12" y1="80.65" x2="286.33" y2="134.6"></line><line class="cls-7" x1="270.34" y1="203.81" x2="410.21" y2="408.85"></line><line class="cls-2" x1="404.14" y1="413.97" x2="82.72" y2="129.84"></line><line class="cls-6" x1="463.07" y1="92.54" x2="618.38" y2="258.47"></line><line class="cls-6" x1="463.07" y1="92.54" x2="463.07" y2="92.54"></line><path class="cls-8" d="M634.22,333.66a43.82,43.82,0,1,1,50.08-36.5h0A43.82,43.82,0,0,1,634.22,333.66Zm45.47-37.21A39.15,39.15,0,1,0,634.9,329h0a39.15,39.15,0,0,0,44.75-32.55Z" transform="translate(0.04 0)"></path><path class="cls-9" d="M641.61,322.22a31,31,0,1,1,31-31v1.09H669.7v-1.08a28.11,28.11,0,1,0-28.11,28.11h1.33v2.9Z" transform="translate(0.04 0)"></path><path class="cls-10" d="M627.39,291.09h-2.27c0-27.52,15.41-30.21,16.07-30.32l.35,2.24-.17-1.12.18,1.12C641,263.11,627.39,265.63,627.39,291.09Z" transform="translate(0.04 0)"></path><path class="cls-11" d="M658.6,291.09h-2.27c0-25.59-14-28-14.14-28.07l.35-2.24C643.19,260.88,658.6,263.57,658.6,291.09Z" transform="translate(0.04 0)"></path><rect class="cls-12" x="640.76" y="261.89" width="2.27" height="57.84"></rect><path class="cls-13" d="M671.32,292.29c-15.94,0-57.62-.12-59.09,0l-.08-1-.56-1.12c.33-.16.54-.27,59.73-.12Z" transform="translate(0.04 0)"></path><path class="cls-14" d="M641.18,320.44c-.66-.1-16.07-2.8-16.07-30.32h2.27c0,25.59,14,28,14.14,28.07Z" transform="translate(0.04 0)"></path><path class="cls-15" d="M642.52,279.16a69.27,69.27,0,0,1-24.66-4.41l.9-2.08c.22.1,22.68,9.49,46.34,0l.85,2.1A62.64,62.64,0,0,1,642.52,279.16Z" transform="translate(0.04 0)"></path><path class="cls-16" d="M642.33,304.94a60.65,60.65,0,0,0-23.81,4.3l-.85-2.1a62.94,62.94,0,0,1,24.51-4.44Z" transform="translate(0.04 0)"></path><path class="cls-17" d="M672.42,294.25H644.78V322A31,31,0,0,0,672.42,294.25Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M651,307.36a2.54,2.54,0,0,0,.49,1.3,2.86,2.86,0,0,0,2.28.78,5,5,0,0,0,1.57-.21,1.47,1.47,0,0,0,1.14-1.47,1.08,1.08,0,0,0-.56-1,6.12,6.12,0,0,0-1.78-.59l-1.39-.3a8.73,8.73,0,0,1-2.81-1,3.07,3.07,0,0,1-1.3-2.74,3.61,3.61,0,0,1,1.27-2.82,5.44,5.44,0,0,1,3.72-1.12,5.75,5.75,0,0,1,3.5,1.06,3.75,3.75,0,0,1,1.52,3.08h-2.57a1.81,1.81,0,0,0-1-1.62,3.59,3.59,0,0,0-1.59-.32,3.07,3.07,0,0,0-1.69.41,1.3,1.3,0,0,0-.63,1.15,1.08,1.08,0,0,0,.62,1,7.8,7.8,0,0,0,1.7.52l2.25.52a5.76,5.76,0,0,1,2.26,1,3.08,3.08,0,0,1,1.15,2.58,3.61,3.61,0,0,1-1.36,2.88,5.78,5.78,0,0,1-3.83,1.15,6.32,6.32,0,0,1-4-1.13,3.71,3.71,0,0,1-1.45-3.1Z" transform="translate(0.04 0)"></path><line class="cls-18" x1="654.28" y1="299.76" x2="654.28" y2="309.45"></line><path class="cls-19" d="M82.89,104.77H54.65v28.34A31.63,31.63,0,0,0,82.89,104.77Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M44.61,145.48A43.82,43.82,0,1,1,94.69,109v0A43.82,43.82,0,0,1,44.61,145.48Zm45.47-37.21a39.15,39.15,0,1,0-44.75,32.6h0A39.15,39.15,0,0,0,90.08,108.27Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M51.41,133.35A31.69,31.69,0,1,1,83.1,101.66v1.11h-3v-1.11a28.73,28.73,0,1,0-28.73,28.73h1.36v3Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M36.87,101.54H34.56c0-28.12,15.75-30.87,16.42-31l.35,2.29-.18-1.15.18,1.14C50.74,72.95,36.87,75.53,36.87,101.54Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M68.77,101.54H66.45c0-26.15-14.31-28.66-14.45-28.69l.35-2.29C53,70.66,68.77,73.42,68.77,101.54Z" transform="translate(0.04 0)"></path><rect class="cls-20" x="50.54" y="71.71" width="2.32" height="59.1"></rect><path class="cls-20" d="M81.76,102.77c-16.28,0-58.88-.12-60.38,0l-.08-1-.57-1.14c.33-.17.55-.28,61-.12Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M51,131.53c-.67-.1-16.42-2.86-16.42-31H36.9c0,26.15,14.31,28.66,14.45,28.69Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M52.33,89.34a70.78,70.78,0,0,1-25.2-4.51l.92-2.13c.23.1,23.17,9.7,47.35,0l.86,2.15A64,64,0,0,1,52.33,89.34Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M52.15,115.69a62,62,0,0,0-24.33,4.39L27,117.93a64.31,64.31,0,0,1,25-4.54Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M60.25,115.13,58.7,110.4h.66l.74,2.33c.2.64.38,1.21.51,1.77h0c.13-.55.33-1.14.54-1.76l.8-2.34h.65l-1.69,4.73Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M63.74,110.4v4.73h-.61V110.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M64.72,114.38a2.16,2.16,0,0,0,1.09.31c.63,0,1-.33,1-.81s-.25-.7-.89-.94-1.25-.67-1.25-1.34a1.36,1.36,0,0,1,1.43-1.29h.1a2.15,2.15,0,0,1,1,.23L67,111a1.89,1.89,0,0,0-.9-.22c-.65,0-.89.39-.89.71s.29.66.94.91a1.6,1.6,0,0,1,1.21,1.39c0,.69-.54,1.36-1.66,1.36a2.45,2.45,0,0,1-1.21-.3Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M69,113.64l-.49,1.49h-.63l1.61-4.73h.74l1.61,4.73h-.65l-.5-1.49Zm1.55-.48-.46-1.36c-.11-.31-.18-.59-.25-.86h0c-.07.28-.15.57-.24.86l-.46,1.37Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M560.25,495.6A48.76,48.76,0,1,1,616,455a48.76,48.76,0,0,1-55.75,40.6Z" transform="translate(0.04 0)"></path><path class="cls-21" d="M581.59,426.6V425a1.19,1.19,0,1,0-2.37,0v1.6h-1.14V425a1.19,1.19,0,1,0-2.37,0v1.6h-1.14V425a1.19,1.19,0,1,0-2.37,0v1.6h-1.14V425a1.19,1.19,0,1,0-2.37,0v1.6h-1.14V425a1.19,1.19,0,1,0-2.37,0v1.6H564V425a1.19,1.19,0,1,0-2.37,0v1.6h-1.14V425a1.19,1.19,0,1,0-2.37,0v1.6H557V425a1.19,1.19,0,1,0-2.37,0v1.6a2.33,2.33,0,0,0-2.24,2.32v5.92l11.84,15.64-7,5.32-4.81-6.36v18.23a2.33,2.33,0,0,0,2.33,2.33h26.77a2.33,2.33,0,0,0,2.33-2.33h0V428.92A2.33,2.33,0,0,0,581.59,426.6Z" transform="translate(0.04 0)"></path><polygon class="cls-17" points="552.43 436.77 550.57 434.31 545.4 438.21 552.43 447.5 557.48 454.15 562.63 450.25 552.43 436.77"></polygon><path class="cls-17" d="M547,430.84a1.75,1.75,0,0,0-1.06.36l-2.32,1.8a1.76,1.76,0,0,0-.34,2.46l1,1.31,5.16-3.91-1-1.31A1.75,1.75,0,0,0,547,430.84Z" transform="translate(0.04 0)"></path><path class="cls-17" d="M544.27,436.75l-1-1.31a1.76,1.76,0,0,1,.34-2.46L546,431.2a1.76,1.76,0,0,1,2.46.34l1,1.31Z" transform="translate(0.04 0)"></path><polygon class="cls-8" points="557.71 456.24 564.62 451.07 565.27 458.8 557.71 456.24"></polygon><path class="cls-17" d="M524.75,448a43.43,43.43,0,1,1,43.43,43.43h0A43.43,43.43,0,0,1,524.75,448Zm43.43,38.38A38.38,38.38,0,1,0,529.8,448a38.38,38.38,0,0,0,38.38,38.38Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M437.62,709.79a43.82,43.82,0,1,1,50.08-36.5h0A43.82,43.82,0,0,1,437.62,709.79Zm45.47-37.21a39.15,39.15,0,1,0-44.75,32.6h0a39.15,39.15,0,0,0,44.75-32.6Z" transform="translate(0.04 0)"></path><path class="cls-19" d="M467.11,672.84a2.29,2.29,0,0,0-1.54-1.56c-4.41-1.45-12-3.47-12.74-3.66h-.06a3,3,0,0,1-2.29-1.44c-.76-1.35-.23-2.46.19-3.44a3.46,3.46,0,0,0,.23-.36,13.91,13.91,0,0,0,1.68-5,5.46,5.46,0,0,0,2-5.38,3.46,3.46,0,0,0-.23-.74,13.09,13.09,0,0,0,0-3.9c.17-2-1-5-2.7-5.93-.43-2.4-3.56-4-8.24-4-5.56,0-10.64,3.9-10.7,9.93a12.82,12.82,0,0,0,0,4,3.27,3.27,0,0,0-.23.74,5.46,5.46,0,0,0,2,5.37,13.84,13.84,0,0,0,1.71,5,4.71,4.71,0,0,0,.4.6,3.56,3.56,0,0,1,0,3.2,2.59,2.59,0,0,1-2,1.42h0l-.28.07c-1.46.39-8.39,2.25-12.51,3.61a2.26,2.26,0,0,0-1.54,1.56c-.51.89-1.15,6.83-1.58,10.64,4.28,7.22,13.85,12.25,25,12.25s20.67-5,25-12.25C468.25,679.63,467.62,673.73,467.11,672.84Zm-29.2-8.39h0a17.9,17.9,0,0,0,2,1.93,6.84,6.84,0,0,0,7.26,0,18,18,0,0,0,2.08-2,4.39,4.39,0,0,0,.35,2.2c-1.3,3.88-11,3.32-12.09,0a4.23,4.23,0,0,0,.4-2.13Zm3-4a9.78,9.78,0,0,1,5.28,0c.44.25,1,1.79.06,2.07a5.18,5.18,0,0,1-1.66,0c-.47-.08-.41-.39-1-.39s-.5.29-.88.35a6.53,6.53,0,0,1-1.87.06c-.91-.34-.33-1.87.1-2.13ZM435.18,657h0l-.21-.16-.33-.26h0A5,5,0,0,1,433,652c.12-.66.39-1.11.71-1.21a.89.89,0,0,1,.79.3v.58a4.12,4.12,0,0,0,0,.44v.9a19.21,19.21,0,0,0,.1,2.49l.36.11a11.78,11.78,0,0,0,.42-4.17c-.45-14.23,10-2.5,13.69-7,3.93.78,3.18,5.59,3,6.6a6.45,6.45,0,0,0,.43,4.43l.18,0c0-.74.07-1.56.08-2.49v-.9a3.46,3.46,0,0,0,0-.44v-.58a.89.89,0,0,1,.79-.31c.32.1.59.55.71,1.21a5,5,0,0,1-1.6,4.55h0l-.33.26-.2.16h0a10.45,10.45,0,0,1-2.75,6.53l-.63.62v-2.24s0-3-4.79-3c-4.62-.18-4.94,3-4.94,3v2.54l-1-.92A10.44,10.44,0,0,1,435.18,657Z" transform="translate(0.04 0)"></path><path class="cls-19" d="M452,651.15l-.2.06a4.51,4.51,0,0,1-.37,1.88c-.43.91-2.16,1.26-3.5,1.27-.51,0-2.21,0-2.59-.78a4.73,4.73,0,0,1-.4-2H442.6a4.79,4.79,0,0,1-.39,2c-.38.75-2.08.78-2.59.78-1.35,0-3.07-.36-3.5-1.27a4.56,4.56,0,0,1-.37-1.88" transform="translate(0.04 0)"></path><path class="cls-8" d="M423,468.47a33.63,33.63,0,1,1,38.44-28h0A33.63,33.63,0,0,1,423,468.47Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M446,439.42a1.65,1.65,0,0,0-1.12-1.13c-3.36-1.11-9.28-2.68-9.28-2.68a2.06,2.06,0,0,1-.53-.1,3.64,3.64,0,0,1-2.28,2,10.68,10.68,0,0,1-3.91.7c-2.48,0-5.07-.74-6.24-2.7a.32.32,0,0,1,0-.06,2.06,2.06,0,0,1-.51.11h0s-5.92,1.57-9.29,2.68a1.66,1.66,0,0,0-1.12,1.13c-.37.64-.82,4.92-1.14,7.72h0c3.14,5.29,10.16,9,18.3,9s15.15-3.7,18.3-9C446.82,444.34,446.36,440.06,446,439.42Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M420.29,419.55a12.59,12.59,0,0,1,1.3-1.75,11.78,11.78,0,0,0-.33,5.29,1.63,1.63,0,0,0-.51,1,4,4,0,0,0,1.47,4,10.25,10.25,0,0,0,1.24,3.7,2.6,2.6,0,0,0,.17.26,2.58,2.58,0,0,1,.14,2.53,2,2,0,0,1-.45.55h0c.87,1.53,3.18,2.28,5.51,2.27a9.79,9.79,0,0,0,3.59-.63,2.83,2.83,0,0,0,1.8-1.54.42.42,0,0,1,.07-.13,1.75,1.75,0,0,1-.42-.56,2.63,2.63,0,0,1,0-2.35,3.68,3.68,0,0,0,.3-.44,10.26,10.26,0,0,0,1.24-3.7,4,4,0,0,0,1.47-4,2.55,2.55,0,0,0-.17-.54,9.38,9.38,0,0,0,.08-2.52h0c0-1.31-.28-5.15-2-6.89l-.33.87a6.94,6.94,0,0,0-2.35-1.68l-.22.78a6.62,6.62,0,0,0-2.73-1.35l-.06.61a10.28,10.28,0,0,0-3.35-.59l.29.75a4.83,4.83,0,0,0-3.83-.07l1.85,1a3.58,3.58,0,0,0-3.73,1.58l1.55-.23A3,3,0,0,0,420.29,419.55Zm4.09,15.29a3.21,3.21,0,0,0,.26-1.62,13.12,13.12,0,0,0,1.53,1.46,5,5,0,0,0,5.33,0,13.05,13.05,0,0,0,1.5-1.43h0a3.11,3.11,0,0,0,.25,1.58C432.62,437,426,437.66,424.38,434.84Zm-2.18-11.35v.43a2.56,2.56,0,0,0,0,.32v.66a17.17,17.17,0,0,0,.06,1.83h.13a4.75,4.75,0,0,0,.31-3.26v0h0v-2a12.66,12.66,0,0,1,.27-1.6c.15-.42.39-.7.75-.7,1.21,0,3.45.93,5.15.93s3.93-.93,5.15-.93c.94,0,1,1.91,1,3.31a10.83,10.83,0,0,0-.16,1.29,7.13,7.13,0,0,0,.31,3.07l.27-.08c0-.54.06-1.15.07-1.83v-1.41a.65.65,0,0,1,.58-.23c.23.07.43.41.52.89a3.71,3.71,0,0,1-1.19,3.35h0l-.24.19-.15.12h0a7.71,7.71,0,0,1-2,4.8c-2.35,2.35-2.67,2.34-4.14,2.34s-1.79,0-4.14-2.34a7.7,7.7,0,0,1-2-4.8h0l-.15-.12-.24-.19h0a3.71,3.71,0,0,1-1.18-3.35c.09-.48.29-.82.52-.89A.65.65,0,0,1,422.2,423.49Z" transform="translate(0.04 0)"></path><path class="cls-20" d="M397.79,435.52A30.51,30.51,0,1,1,428.33,466h0A30.51,30.51,0,0,1,397.79,435.52Zm30.51,27a27,27,0,1,0-27-27,27,27,0,0,0,27,27Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M290.41,71.48a22.51,22.51,0,1,1,25.73-18.75,22.51,22.51,0,0,1-25.73,18.75Zm23.36-19.12a20.11,20.11,0,1,0-23,16.75,20.11,20.11,0,0,0,23-16.75h0Z" transform="translate(0.04 0)"></path><path class="cls-17" d="M304.72,52.88c-.55-.55-2.28-1.06-4-1.56s-3.55-1.06-3.86-1.63a2.07,2.07,0,0,1,.12-1.62l.13-.12h0a.24.24,0,1,1,.35.33,1.5,1.5,0,0,0-.14,1.16c.35.56,2.12,1.08,3.88,1.57a4.67,4.67,0,0,0,1-.62l.18-.14h-.09c-.28-.47-.86-.7-1.07-1.26-.34-.88.82-1.2.41-2.58-.2-.66-.59-.85-.27-2,.72-2.58-.94-3.09-.44-4.32a2.54,2.54,0,0,0-.44-2.52,4.57,4.57,0,0,0-2.57-1.83,4.23,4.23,0,0,0-3.13-1.46h0a8,8,0,0,0-5.71,1.67,3.53,3.53,0,0,0-1.4,3.34c.09.44.36.74.28,1.25s-.48.66-.79,1a1.53,1.53,0,0,0-.17,2c.42.61,1.41,1.34.94,2.18-.25.44-1,.26-1,1.32,0,.38.45,1.07,0,1.28-1.54.8-1,1.43-1.15,1.93l.18.14a4.58,4.58,0,0,0,1,.56c1.72-.49,3.42-1,3.76-1.54a1.5,1.5,0,0,0-.14-1.16A.24.24,0,1,1,291,48h0l.12.11a2.07,2.07,0,0,1,.12,1.62c-.32.59-2.16,1.13-4,1.67a12.58,12.58,0,0,0-3.83,1.52c-.54.52-1,3.33-1.33,5.21,2.06,3.47,6.66,5.88,12,5.88s9.93-2.43,12-5.88C305.77,56.21,305.28,53.44,304.72,52.88Zm-14.84-9.26c.37-2.76,5.67-.48,7.54-5a16.08,16.08,0,0,0,.92,3.88c-.23,3-.76,4.41-1.64,5.23a3.62,3.62,0,0,1-5.12.16l-.16-.16c-.77-.73-1.27-1.85-1.54-4.12Zm1.54,6.55a.78.78,0,0,0,.18-.21,2.76,2.76,0,0,0,.12-1.46,3.76,3.76,0,0,0,4.66,0A2.75,2.75,0,0,0,296.5,50a.76.76,0,0,0,.18.21,7.68,7.68,0,0,0,1.38,1.37,7,7,0,0,1-8,0,7.71,7.71,0,0,0,1.37-1.38Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M415.36,108.59A54.62,54.62,0,1,1,477.8,63.1a54.62,54.62,0,0,1-62.44,45.49ZM472,62.2a48.8,48.8,0,1,0-55.78,40.64A48.8,48.8,0,0,0,472,62.2Z" transform="translate(0.04 0)"></path><path class="cls-22" d="M419.68,75.38,409.53,61.74a2.5,2.5,0,1,1,4-3h0l7.14,9.59,30.75-23.22a2.5,2.5,0,1,1,3,4Z" transform="translate(0.04 0)"></path><rect class="cls-23" x="415.71" y="40.46" width="16.78" height="3.18"></rect><rect class="cls-24" x="409.15" y="49.09" width="23.33" height="3.18"></rect><polygon class="cls-25" points="438.73 79.63 402.08 79.63 402.08 37.18 415.23 37.18 415.23 24.71 415.26 24.66 438.73 24.66 438.73 48.95 443.51 44.28 443.51 20.49 413.1 20.49 398.11 34.17 398.11 84.14 443.51 84.14 443.51 66.92 438.73 71.72 438.73 79.63"></polygon><line class="cls-1" x1="316.46" y1="49.25" x2="370.38" y2="52.81"></line><path class="cls-8" d="M37,346.92a43.82,43.82,0,1,1,50.08-36.5h0A43.82,43.82,0,0,1,37,346.92Z" transform="translate(0.04 0)"></path><path class="cls-19" d="M35.1,317.37a71.57,71.57,0,0,1,8.19-.59v6.12A21.5,21.5,0,0,0,45.9,321v-4.22c1.26,0,2.49.08,3.69.15a22.06,22.06,0,0,0,1.52-2.5c-1.67-.14-3.42-.23-5.22-.26V294.65a63.65,63.65,0,0,0,7.26-.46l3.32-3.91a24.14,24.14,0,0,0-4-7.27,22.83,22.83,0,0,1,6.77,4l2-2.38a25.83,25.83,0,0,0-16.72-6.13h0A25.94,25.94,0,0,0,31.81,327l4.63-1.26a22.91,22.91,0,0,1-9.22-6.53,29.57,29.57,0,0,1,5.23-1.4,24.92,24.92,0,0,0,4.12,7.9l.94-.26c.62-.17,1.22-.37,1.81-.59A20.92,20.92,0,0,1,35.1,317.37Zm10.8-35.74h.64c3.09,1.1,5.8,4.75,7.55,9.78a71.33,71.33,0,0,1-8.19.59Zm-2.6,20v1.5H33.07A41,41,0,0,1,34.34,294a73.06,73.06,0,0,0,9,.67Zm-.64-19.93h.64V292a71.59,71.59,0,0,1-8.19-.59c1.74-5,4.45-8.63,7.54-9.73ZM25.6,317a22.68,22.68,0,0,1-3.79-11.34h8.65a44.22,44.22,0,0,0,1.27,9.56A29.81,29.81,0,0,0,25.6,317Zm4.86-13.94H21.81a22.7,22.7,0,0,1,3.79-11.34,29.77,29.77,0,0,0,6.13,1.77,44.23,44.23,0,0,0-1.27,9.62Zm-3.24-13.48A22.92,22.92,0,0,1,36.67,283a24.77,24.77,0,0,0-4.22,8,29.85,29.85,0,0,1-5.23-1.36Zm5.84,16.08H43.29v8.46a73,73,0,0,0-9,.67,41.08,41.08,0,0,1-1.22-9.08Z" transform="translate(0.04 0)"></path><path class="cls-26" d="M62.58,287.94l-14,16.47H56.2a24.39,24.39,0,0,1-18,23.53A24.39,24.39,0,0,0,69,304.41h7.62Z" transform="translate(0.04 0)"></path><path class="cls-27" d="M5,303.8a38.86,38.86,0,1,1,38.86,38.86h0A38.86,38.86,0,0,1,5,303.8Zm38.86,34.34A34.34,34.34,0,1,0,9.48,303.8a34.34,34.34,0,0,0,34.38,34.34h0Z" transform="translate(0.04 0)"></path></g><g id="events-normal"><g id="events-normal-2" data-name="events-normal"><path class="cls-8" d="M232.56,214.86A54.62,54.62,0,1,1,295,169.38a54.62,54.62,0,0,1-62.44,45.48Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M191.67,161.21a49.46,49.46,0,1,1,49.46,49.46,49.46,49.46,0,0,1-49.46-49.46Zm49.46,43.71a43.71,43.71,0,1,0-43.71-43.71h0a43.71,43.71,0,0,0,43.71,43.71Z" transform="translate(0.04 0)"></path><g id="mbSyig"><path class="cls-28" d="M218.5,178V144.24a.4.4,0,0,0,.07-.11,3.68,3.68,0,0,1,3.9-3.09h5.74v-2.8a1.37,1.37,0,0,1,2.74,0V141h8.33v-2.7a1.37,1.37,0,0,1,2.74,0V141h8.33V138.3a1.37,1.37,0,0,1,2.74,0V141h5.75a3.7,3.7,0,0,1,3.94,4v32.54A3.71,3.71,0,0,1,260,181.1l-.41.12H221.71l-.24-.09a3.65,3.65,0,0,1-2.83-2.67Zm34.62-34.21v2.78a1.37,1.37,0,0,1-2.74,0v-2.73H242v2.76a1.37,1.37,0,0,1-2.74,0h0v-2.76H231v2.74a1.37,1.37,0,1,1-2.74,0V143.8h-5.69c-1,0-1.25.28-1.25,1.27v32.11c0,1,.28,1.27,1.25,1.27h36.27c1,0,1.29-.28,1.29-1.28V144.8a.93.93,0,0,0-.85-1h-6.16Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M259.7,181.74H221.52v-.57l-.14.5a4.14,4.14,0,0,1-3.2-3L218,178V144.09l.09-.13a4.15,4.15,0,0,1,4.39-3.41h5.23v-2.3a1.89,1.89,0,0,1,1.87-1.85h0a1.9,1.9,0,0,1,1.89,1.82v2.31h7.3v-2.19a1.88,1.88,0,0,1,1.83-1.93h.06a1.89,1.89,0,0,1,1.88,1.9v2.22h7.3v-2.18a1.89,1.89,0,0,1,2.94-1.6,1.92,1.92,0,0,1,.83,1.59v2.24h5.23a4.23,4.23,0,0,1,4.46,4.47v32.56a4.23,4.23,0,0,1-3.17,4l-.25.07Zm-40.7-3.8.12.37a3.13,3.13,0,0,0,2.45,2.32l.24.08h37.72l.35-.11a3.2,3.2,0,0,0,2.4-3V145a3.18,3.18,0,0,0-3.42-3.44H252.6V138.3a.91.91,0,0,0-.38-.75.84.84,0,0,0-.78-.08.85.85,0,0,0-.55.84v3.21h-9.36v-3.19a.87.87,0,0,0-.82-.92h0a.86.86,0,0,0-.86.86s0,0,0,.05v3.22h-9.37v-2.87a3.92,3.92,0,0,0,0-.41.86.86,0,0,0-.85-.85h0a.85.85,0,0,0-.85.85h0v3.31h-6.26a3.15,3.15,0,0,0-3.39,2.69l-.05.15Zm39.77,1H222.51c-1.25,0-1.77-.52-1.77-1.79V145.08c0-1.27.51-1.78,1.77-1.78h6.21v3.23a.86.86,0,0,0,.84.88h0a.86.86,0,0,0,.85-.87h0v-3.26h9.37v3.26a.87.87,0,0,0,.86.87h0a.85.85,0,0,0,.84-.85v-3.29h9.36v3.24a.86.86,0,0,0,.84.88h0a.85.85,0,0,0,.85-.85V143.3H259a1.44,1.44,0,0,1,1.51,1.37s0,.09,0,.13v32.39c0,1.29-.45,1.81-1.74,1.81ZM222.5,144.29c-.69,0-.74,0-.74.75v32.11c0,.7,0,.75.73.75h36.27c.72,0,.77,0,.77-.76V144.83c0-.36-.14-.5-.49-.5h-5.42v2.27a1.89,1.89,0,0,1-1.89,1.89h0a1.9,1.9,0,0,1-1.88-1.9v-2.22h-7.29v2.25a1.88,1.88,0,0,1-1.86,1.87h0a1.91,1.91,0,0,1-1.9-1.86v-2.26h-7.3v2.24a1.89,1.89,0,0,1-1.89,1.89h0a1.9,1.9,0,0,1-1.89-1.9v-2.26Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M228.25,153.55h5.46v4.09h-5.46Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M234.22,158.15h-6.49V153h6.49Zm-5.45-1h4.42V154.1h-4.42Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M237.92,157.64v-4.08h5.47v4.08Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M243.91,158.16h-6.5V153h6.5Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.09,157.65h-5.46v-4.09h5.46Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.61,158.17h-6.49V153h6.49Zm-5.46-1h4.43v-3.06h-4.43Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M233.71,160.49v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M234.23,165.08h-6.51V160h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M243.4,164.57h-5.47v-4.09h5.47Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M243.91,165.09h-6.5V160h6.5Zm-5.47-1h4.44V161h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.11,160.49v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.62,165.08h-6.51V160h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M233.71,167.42v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M234.23,172h-6.51v-5.1h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M237.92,171.48v-4.07h5.47v4.07Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M243.91,172h-6.5v-5.11h6.5Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.11,167.42v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-28" d="M253.62,172h-6.51v-5.1h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path></g></g></g><g id="resources-normal"><g id="meetteam-normal"><path class="cls-8" d="M459.42,317.2a69.63,69.63,0,1,1,79.59-58,69.63,69.63,0,0,1-79.59,58Z" transform="translate(0.04 0)"></path><path class="cls-19" d="M405.38,248.41a65.08,65.08,0,1,1,65.08,65.08h0A65.08,65.08,0,0,1,405.38,248.41Zm65.08,57.51A57.51,57.51,0,1,0,413,248.41a57.51,57.51,0,0,0,57.51,57.51Z" transform="translate(0.04 0)"></path><g id="_01DJga" data-name=" 01DJga"><path class="cls-29" d="M503.19,229.25l-.08,16.57a5.3,5.3,0,0,1-1.1,3.32c-4.4,5.29-8.69,10.68-13.09,16L478.83,277.3c-1.2,1.45-1.9,1.67-3.69,1.14Q461,274.26,446.87,270a9.9,9.9,0,0,1-5.82-5.21,11.12,11.12,0,0,1-1.2-3.9,2.22,2.22,0,0,0-.13-.4v-2.61c.29-1.35.53-2.71.88-4a13.15,13.15,0,0,1,3-5.51q12.13-13.44,24.2-26.94a3.26,3.26,0,0,1,3.48-1.11q14.8,3.34,29.63,6.63a2.59,2.59,0,0,1,1.46,4.46Q489.66,246,476.94,260.69a3.07,3.07,0,0,1-3.53,1q-12.08-3.49-24.17-6.91a5.27,5.27,0,0,0-1.34-.21,2.58,2.58,0,0,0-3,2.1v.08c-.69,2.89-.37,5.58,2,7.68a4.42,4.42,0,0,0,1.6.9q13.26,4,26.53,7.91a.7.7,0,0,0,.9-.23c7.12-8.61,15.43-18.73,22.57-27.33a1.69,1.69,0,0,0,.47-1.19l.32-12.62Zm-33.41.6a3.09,3.09,0,0,0-2.77,1c-.52.64-1.07,1.26-1.6,1.91a.91.91,0,0,0,.4,1.6,3.91,3.91,0,0,0,.58.21q8.89,2.17,17.79,4.32a3,3,0,0,0,3.33-1.09,14.35,14.35,0,0,1,1.2-1.42c1.08-1.09.68-1.79-.7-2.15h-.18l-14.11-3.44Z" transform="translate(0.04 0)"></path></g></g></g><g id="latestnews-normal"><g id="latestnews-normal-2" data-name="latestnews-normal"><path class="cls-8" d="M236.7,548.36a92.47,92.47,0,1,1,105.69-77h0A92.47,92.47,0,0,1,236.7,548.36Z" transform="translate(0.04 0)"></path><path class="cls-30" d="M166.29,457.34a84.9,84.9,0,1,1,84.9,84.9,84.9,84.9,0,0,1-84.9-84.9Zm84.9,75a75,75,0,1,0-75-75h0a75,75,0,0,0,75,75h0Z" transform="translate(0.04 0)"></path><g id="IS8arH"><path class="cls-30" d="M271,423.58a41.63,41.63,0,0,1-11.58,12.55A25.89,25.89,0,0,1,249,440.6c-1.16.2-2.34.25-3.51.37h-.32v19.79c.68,0,1.36.09,2,.15A23.69,23.69,0,0,1,254.9,463a32.46,32.46,0,0,1,8.84,6.15,43.93,43.93,0,0,1,7.26,9c.07.12.26.18.46.31V423.36l-.11-.1A1.61,1.61,0,0,0,271,423.58Zm-45.49,38.16h15.15V440.1H225.48Zm4.55,8.77,10.23,19.09a4.56,4.56,0,0,0,.34.57,1.64,1.64,0,0,0,1.83.71c.76-.18,1.54-.28,2.3-.45a3.87,3.87,0,0,0,.92-.33,2.6,2.6,0,0,0,1.18-3.42q-1.56-4.56-3.15-9.12l-4-11.51a.59.59,0,0,0-.67-.49H227.37Zm47.23,7.94V459.09a.57.57,0,0,1,.47-.66h0c1.88-.59,3.75-1.21,5.62-1.83a3.18,3.18,0,0,0,2.1-2.91v-5.61a3.17,3.17,0,0,0-2.06-2.9q-2.85-1-5.72-1.87a.49.49,0,0,1-.41-.56h0V423.32h-1.93v55.11ZM221,442.13a7,7,0,0,0-2.65,2.82,11.77,11.77,0,0,0-1.49,6,11.89,11.89,0,0,0,1.61,6.18,6.44,6.44,0,0,0,2.44,2.5,8.42,8.42,0,0,0,1.08.4V441.76A7.4,7.4,0,0,0,221,442.13Z" transform="translate(0.04 0)"></path></g></g></g><g id="events-hover" @click="$router.push('/events')"><g id="events-hover-2" data-name="events-hover"><path class="cls-28" d="M232.56,214.86A54.62,54.62,0,1,1,295,169.38a54.62,54.62,0,0,1-62.44,45.48Z" transform="translate(0.04 0)"></path><g id="mbSyig-2"><path class="cls-8" d="M218.59,167q0-16.88,0-33.76a.4.4,0,0,0,.07-.11,3.68,3.68,0,0,1,3.9-3.09h5.74v-2.8a1.37,1.37,0,0,1,2.74,0v.65q0,1.07,0,2.15h8.33v-2.7a1.37,1.37,0,0,1,2.74,0V130h8.33V127.3a1.37,1.37,0,0,1,2.74,0v2.75H259a3.7,3.7,0,0,1,3.94,4v32.54a3.71,3.71,0,0,1-2.79,3.54l-.41.12H221.8l-.24-.09a3.65,3.65,0,0,1-2.83-2.67Zm34.62-34.21v2.78a1.37,1.37,0,0,1-2.74,0v-2.73h-8.33v2.76a1.37,1.37,0,0,1-2.74,0h0v-2.76H231v2.74a1.37,1.37,0,1,1-2.74,0h0V132.8h-5.69c-1,0-1.25.28-1.25,1.27v32.11c0,1,.28,1.27,1.25,1.27h36.27c1,0,1.29-.28,1.29-1.28V133.8a.93.93,0,0,0-.85-1h-6.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M259.79,170.77H221.61v-.57l-.14.5a4.14,4.14,0,0,1-3.2-3l-.16-.6v-34l.09-.13a4.15,4.15,0,0,1,4.39-3.41h5.23v-2.3a1.89,1.89,0,0,1,1.87-1.85h0a1.9,1.9,0,0,1,1.89,1.82v2.31h7.3v-2.19a1.88,1.88,0,0,1,1.83-1.93h.06a1.89,1.89,0,0,1,1.88,1.9v2.22H250v-2.18a1.89,1.89,0,0,1,2.94-1.6,1.92,1.92,0,0,1,.83,1.59v2.24H259a4.23,4.23,0,0,1,4.46,4.47v32.56a4.23,4.23,0,0,1-3.17,4l-.25.07ZM219.11,167l.12.37a3.13,3.13,0,0,0,2.45,2.32l.24.08h37.72l.35-.11a3.2,3.2,0,0,0,2.4-3V134a3.18,3.18,0,0,0-3.42-3.44H252.7V127.3a.91.91,0,0,0-.38-.75.84.84,0,0,0-.78-.08.85.85,0,0,0-.55.84v3.21h-9.36v-3.19a.87.87,0,0,0-.82-.92h0a.86.86,0,0,0-.86.86s0,0,0,.05v3.22h-9.37v-2.87a3.92,3.92,0,0,0,0-.41.86.86,0,0,0-.85-.85h0a.85.85,0,0,0-.85.85h0v3.31h-6.26a3.15,3.15,0,0,0-3.39,2.69l-.05.15Zm39.77,1H222.6c-1.25,0-1.77-.52-1.77-1.79v-32.1c0-1.27.51-1.78,1.77-1.78h6.21v3.27a.86.86,0,0,0,.84.88h0a.86.86,0,0,0,.85-.87h0v-3.26h9.37v3.26a.87.87,0,0,0,.86.87h0a.85.85,0,0,0,.84-.85v-3.29H251v3.29a.86.86,0,0,0,.84.88h0a.85.85,0,0,0,.85-.85v-3.31h6.47a1.44,1.44,0,0,1,1.51,1.37s0,.09,0,.13v32.39c0,1.26-.51,1.76-1.81,1.76Zm-36.27-34.65c-.69,0-.74,0-.74.75v32.11c0,.7,0,.75.73.75h36.27c.72,0,.77,0,.77-.76V133.86c0-.36-.14-.5-.49-.5h-5.42v2.27a1.89,1.89,0,0,1-1.89,1.89h0a1.9,1.9,0,0,1-1.88-1.9V133.4h-7.29v2.25a1.88,1.88,0,0,1-1.86,1.87h0a1.91,1.91,0,0,1-1.9-1.86V133.4h-7.3v2.24a1.89,1.89,0,0,1-1.89,1.89h0a1.9,1.9,0,0,1-1.89-1.9v-2.26Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M228.34,142.57h5.46v4.09h-5.46Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M234.31,147.18h-6.49v-5.12h6.49Zm-5.45-1h4.42v-3.05h-4.42Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M238,146.67v-4.08h5.47v4.08Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M244,147.19h-6.5v-5.11H244Zm-5.47-1H243v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.18,146.68h-5.46v-4.09h5.46Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.7,147.19h-6.49v-5.13h6.49Zm-5.46-1h4.43V143.1h-4.43Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M233.8,149.52v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M234.32,154.11h-6.51V149h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M243.49,153.6H238v-4.09h5.47Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M244,154.11h-6.5V149H244Zm-5.47-1H243V150h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.2,149.52v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.71,154.11H247.2V149h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M233.8,156.44v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M234.32,161h-6.51v-5.11h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M238,160.51v-4.07h5.47v4.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M244,161h-6.5v-5.11H244Zm-5.47-1H243v-3h-4.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.19,156.44v4.07h-5.47v-4.07Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.71,161H247.2v-5.11h6.51Zm-5.47-1h4.44v-3h-4.44Z" transform="translate(0.04 0)"></path></g><path class="cls-8" d="M217.42,193.61V181.8h5.71v2.35H220v2.32h2.9v2.2H220v2.54h3.35v2.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M230.08,193.61h-3.39l-2.85-11.82h3l1.6,8.65h0l1.59-8.65h3Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M234,193.61V181.8h5.71v2.35h-3.15v2.32h2.9v2.2h-2.9v2.54h3.35v2.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M246.6,193.61l-2.74-7.19h-.05l.07,7.19h-2.39V181.8h2.94l2.72,7.29h0V181.8h2.3v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M255.28,184.07v9.55h-2.62v-9.55h-2.17V181.8h7v2.27Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M263.37,184.62a2.12,2.12,0,0,0-.7-.54,1.91,1.91,0,0,0-.83-.19,1.27,1.27,0,0,0-.81.28,1.12,1.12,0,0,0-.36.94,1.06,1.06,0,0,0,.37.86,5.91,5.91,0,0,0,1.08.68q.4.2.85.48a3.88,3.88,0,0,1,.81.68,3.4,3.4,0,0,1,.61,1,3.31,3.31,0,0,1,.24,1.33,4.35,4.35,0,0,1-.3,1.68,3.4,3.4,0,0,1-.81,1.2,3.44,3.44,0,0,1-1.18.72,4.05,4.05,0,0,1-1.39.24,4.62,4.62,0,0,1-1.94-.4,4.79,4.79,0,0,1-1.41-.93l1.37-2a3,3,0,0,0,.88.64,2.31,2.31,0,0,0,1,.24,1.14,1.14,0,0,0,.82-.32,1.3,1.3,0,0,0-.07-1.81,5.94,5.94,0,0,0-1.17-.73,7.52,7.52,0,0,1-.91-.52,3.37,3.37,0,0,1-.75-.68,3,3,0,0,1-.51-.93,3.91,3.91,0,0,1-.18-1.27,4,4,0,0,1,.33-1.69,3.33,3.33,0,0,1,.85-1.16,3.51,3.51,0,0,1,1.17-.67,4,4,0,0,1,1.29-.22,4.54,4.54,0,0,1,1.74.31,3.65,3.65,0,0,1,1.29.86Z" transform="translate(0.04 0)"></path></g></g><g id="resources-hover" @click="$router.push('/knowledge-and-resources')"><g id="meetteam-hover"><path class="cls-19" d="M459.42,317.2a69.63,69.63,0,1,1,79.59-58,69.63,69.63,0,0,1-79.59,58Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M437.12,288.23l-1.58-4.71h-.78v4.71h-2.57V276.41H436a3.74,3.74,0,0,1,2.66.89,3.49,3.49,0,0,1,1,2.66,4.21,4.21,0,0,1-.15,1.17,3.24,3.24,0,0,1-.39.88,2.48,2.48,0,0,1-.54.6,2.09,2.09,0,0,1-.58.33l2,5.27Zm-.16-8.11a1.83,1.83,0,0,0-.12-.73,1.2,1.2,0,0,0-.33-.45,1.08,1.08,0,0,0-.44-.23,2,2,0,0,0-.48-.06h-.83v3h.78a1.49,1.49,0,0,0,1-.36,1.44,1.44,0,0,0,.46-1.17Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M441.22,288.23V276.41h5.71v2.35h-3.15v2.32h2.9v2.2h-2.9v2.54h3.35v2.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M453.59,279.23a2.13,2.13,0,0,0-.7-.54,1.91,1.91,0,0,0-.83-.19,1.27,1.27,0,0,0-.81.28,1.12,1.12,0,0,0-.36.94,1.06,1.06,0,0,0,.37.86,5.91,5.91,0,0,0,1.08.68q.4.2.85.48a3.88,3.88,0,0,1,.81.68,3.4,3.4,0,0,1,.61,1,3.31,3.31,0,0,1,.24,1.33,4.35,4.35,0,0,1-.3,1.68,3.39,3.39,0,0,1-.81,1.2,3.43,3.43,0,0,1-1.18.72,4.07,4.07,0,0,1-1.39.24,4.63,4.63,0,0,1-1.94-.4,4.77,4.77,0,0,1-1.41-.93l1.37-2a3.05,3.05,0,0,0,.88.64,2.32,2.32,0,0,0,1,.24,1.14,1.14,0,0,0,.82-.32,1.3,1.3,0,0,0-.07-1.81,5.94,5.94,0,0,0-1.17-.73,7.52,7.52,0,0,1-.91-.52A3.37,3.37,0,0,1,449,282a3,3,0,0,1-.51-.93,3.91,3.91,0,0,1-.18-1.27,4,4,0,0,1,.33-1.69,3.33,3.33,0,0,1,.85-1.16,3.51,3.51,0,0,1,1.17-.67,4,4,0,0,1,1.29-.22,4.54,4.54,0,0,1,1.74.31,3.65,3.65,0,0,1,1.29.86Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M465,282.29a9.72,9.72,0,0,1-.32,2.56,6.19,6.19,0,0,1-.9,2,4.15,4.15,0,0,1-1.43,1.27,4.21,4.21,0,0,1-3.79,0,4.14,4.14,0,0,1-1.43-1.27,6.16,6.16,0,0,1-.9-2,10.57,10.57,0,0,1,0-5.11,6,6,0,0,1,.89-2,4.1,4.1,0,0,1,1.43-1.25,4.32,4.32,0,0,1,3.81,0,4.1,4.1,0,0,1,1.43,1.25,6.11,6.11,0,0,1,.9,2A9.53,9.53,0,0,1,465,282.29Zm-2.74,0a8.22,8.22,0,0,0-.12-1.43,4.64,4.64,0,0,0-.34-1.14,2.14,2.14,0,0,0-.56-.76,1.2,1.2,0,0,0-.78-.28,1.23,1.23,0,0,0-.79.28,2.08,2.08,0,0,0-.57.76,4.4,4.4,0,0,0-.33,1.14,8.76,8.76,0,0,0-.11,1.43,8.91,8.91,0,0,0,.11,1.44,4.4,4.4,0,0,0,.33,1.15,2.16,2.16,0,0,0,.57.77,1.2,1.2,0,0,0,.79.28,1.17,1.17,0,0,0,.78-.28,2.22,2.22,0,0,0,.56-.77,4.62,4.62,0,0,0,.34-1.15,8.36,8.36,0,0,0,.11-1.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M474.18,285.69a4.19,4.19,0,0,1-.71,1.49,3.37,3.37,0,0,1-1.25,1,4.26,4.26,0,0,1-1.85.37,4.15,4.15,0,0,1-1.84-.37,3.33,3.33,0,0,1-1.23-1,4.05,4.05,0,0,1-.68-1.49,7.67,7.67,0,0,1-.21-1.84v-7.44h2.69v7.21a6.92,6.92,0,0,0,.06.94,2.43,2.43,0,0,0,.21.74,1.3,1.3,0,0,0,.4.49,1.25,1.25,0,0,0,1.3,0,1.3,1.3,0,0,0,.4-.49,2.44,2.44,0,0,0,.21-.74,7,7,0,0,0,.06-.94v-7.21h2.67v7.44A7.17,7.17,0,0,1,474.18,285.69Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M481.24,288.23l-1.58-4.71h-.78v4.71h-2.57V276.41h3.78a3.74,3.74,0,0,1,2.66.89,3.49,3.49,0,0,1,1,2.66,4.21,4.21,0,0,1-.15,1.17,3.24,3.24,0,0,1-.39.88,2.48,2.48,0,0,1-.54.6,2.09,2.09,0,0,1-.58.33l2,5.27Zm-.16-8.11a1.83,1.83,0,0,0-.12-.73,1.2,1.2,0,0,0-.33-.45,1.08,1.08,0,0,0-.44-.23,2,2,0,0,0-.48-.06h-.83v3h.78a1.49,1.49,0,0,0,1-.36,1.44,1.44,0,0,0,.42-1.17Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M491.44,288.09a3.93,3.93,0,0,1-2,.46,3.86,3.86,0,0,1-1.88-.46,4.34,4.34,0,0,1-1.44-1.29,6.34,6.34,0,0,1-.93-2,8.93,8.93,0,0,1-.33-2.51,9.09,9.09,0,0,1,.33-2.54,6.23,6.23,0,0,1,.93-2,4.3,4.3,0,0,1,1.44-1.27,3.92,3.92,0,0,1,1.88-.45,4.14,4.14,0,0,1,2,.43,3.89,3.89,0,0,1,1.28,1.06l-1.44,1.94a2.51,2.51,0,0,0-.68-.63,1.76,1.76,0,0,0-.94-.23,1.54,1.54,0,0,0-.93.28,2.35,2.35,0,0,0-.67.78,4,4,0,0,0-.41,1.17,7.42,7.42,0,0,0-.13,1.44,7.29,7.29,0,0,0,.13,1.44,4.06,4.06,0,0,0,.41,1.17,2.29,2.29,0,0,0,.68.78,1.57,1.57,0,0,0,.93.28,1.65,1.65,0,0,0,.93-.27,2.15,2.15,0,0,0,.63-.63l1.49,1.85A4,4,0,0,1,491.44,288.09Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M493.88,288.23V276.41h5.71v2.35h-3.15v2.32h2.9v2.2h-2.9v2.54h3.35v2.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M506.25,279.23a2.13,2.13,0,0,0-.7-.54,1.91,1.91,0,0,0-.83-.19,1.27,1.27,0,0,0-.81.28,1.12,1.12,0,0,0-.36.94,1.06,1.06,0,0,0,.37.86,5.91,5.91,0,0,0,1.08.68q.4.2.85.48a3.88,3.88,0,0,1,.81.68,3.4,3.4,0,0,1,.61,1,3.31,3.31,0,0,1,.24,1.33,4.35,4.35,0,0,1-.3,1.68,3.39,3.39,0,0,1-.81,1.2,3.43,3.43,0,0,1-1.18.72,4.07,4.07,0,0,1-1.39.24,4.63,4.63,0,0,1-1.94-.4,4.77,4.77,0,0,1-1.41-.93l1.37-2a3.05,3.05,0,0,0,.88.64,2.32,2.32,0,0,0,1,.24,1.14,1.14,0,0,0,.82-.32,1.3,1.3,0,0,0-.07-1.81,5.94,5.94,0,0,0-1.17-.73,7.52,7.52,0,0,1-.91-.52,3.37,3.37,0,0,1-.75-.68,3,3,0,0,1-.51-.93,3.91,3.91,0,0,1-.18-1.27,4,4,0,0,1,.33-1.69,3.33,3.33,0,0,1,.85-1.16,3.51,3.51,0,0,1,1.17-.67,4,4,0,0,1,1.29-.22,4.54,4.54,0,0,1,1.74.31,3.65,3.65,0,0,1,1.29.86Z" transform="translate(0.04 0)"></path><g id="_01DJga-2" data-name=" 01DJga-2"><path class="cls-8" d="M503.19,212.25l-.08,16.57a5.3,5.3,0,0,1-1.1,3.32c-4.4,5.29-8.69,10.68-13.09,16L478.83,260.3c-1.2,1.45-1.9,1.67-3.69,1.14Q461,257.26,446.87,253a9.9,9.9,0,0,1-5.82-5.21,11.12,11.12,0,0,1-1.2-3.9,2.22,2.22,0,0,0-.13-.4v-2.61c.29-1.35.53-2.71.88-4a13.15,13.15,0,0,1,3-5.51q12.13-13.44,24.2-26.94a3.26,3.26,0,0,1,3.48-1.11q14.8,3.34,29.63,6.63a2.59,2.59,0,0,1,1.46,4.46Q489.66,229,476.94,243.69a3.07,3.07,0,0,1-3.53,1.05q-12.08-3.49-24.17-6.91a5.27,5.27,0,0,0-1.34-.21,2.58,2.58,0,0,0-3,2.1v.08c-.69,2.89-.37,5.58,2,7.68a4.42,4.42,0,0,0,1.6.9q13.26,4,26.53,7.91a.7.7,0,0,0,.9-.23c7.12-8.61,15.43-18.73,22.57-27.33a1.69,1.69,0,0,0,.47-1.19l.32-12.62Zm-33.41.6a3.09,3.09,0,0,0-2.77,1c-.52.64-1.07,1.26-1.6,1.91a.91.91,0,0,0,.4,1.6,3.91,3.91,0,0,0,.58.21q8.89,2.17,17.79,4.32a3,3,0,0,0,3.33-1.09,14.35,14.35,0,0,1,1.2-1.42c1.08-1.09.68-1.79-.7-2.15h-.18l-14.11-3.44Z" transform="translate(0.04 0)"></path></g></g></g><g id="latestnews-hover" @click="$router.push('/news')"><g id="latestnews-hover-2" data-name="latestnews-hover"><path class="cls-30" d="M236.7,548.36a92.47,92.47,0,1,1,105.69-77h0A92.47,92.47,0,0,1,236.7,548.36Z" transform="translate(0.04 0)"></path><g id="IS8arH-2"><path class="cls-8" d="M269,404.59a41.63,41.63,0,0,1-11.58,12.55,25.89,25.89,0,0,1-10.47,4.47c-1.16.2-2.34.25-3.51.37h-.32v19.79c.68,0,1.36.09,2,.15a23.69,23.69,0,0,1,7.78,2.14,32.46,32.46,0,0,1,8.84,6.15,43.93,43.93,0,0,1,7.26,9c.07.12.26.18.46.31V404.37l-.11-.1A1.61,1.61,0,0,0,269,404.59Zm-45.49,38.16h15.15V421.11H223.46Zm4.55,8.77,10.23,19.09a4.56,4.56,0,0,0,.34.57,1.64,1.64,0,0,0,1.83.71c.76-.18,1.54-.28,2.3-.45a3.87,3.87,0,0,0,.92-.33,2.6,2.6,0,0,0,1.18-3.42q-1.56-4.56-3.15-9.12l-4-11.51a.59.59,0,0,0-.67-.49H225.32Zm47.23,7.94V440.1a.57.57,0,0,1,.47-.66h0c1.88-.59,3.75-1.21,5.62-1.83a3.18,3.18,0,0,0,2.1-2.91v-5.61a3.17,3.17,0,0,0-2.06-2.9q-2.85-1-5.72-1.87a.49.49,0,0,1-.41-.56h0V404.33h-1.93v55.11ZM219,423.13a7,7,0,0,0-2.65,2.82,11.77,11.77,0,0,0-1.49,6,11.89,11.89,0,0,0,1.61,6.18,6.44,6.44,0,0,0,2.44,2.5,8.42,8.42,0,0,0,1.08.4V422.76A7.4,7.4,0,0,0,219,423.13Z" transform="translate(0.04 0)"></path></g><path class="cls-8" d="M192.77,499.51V487.69h2.69v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M202.67,499.51l-2.74-7.19h-.05l.07,7.19h-2.39V487.69h2.94l2.72,7.29h0v-7.29h2.3v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M214.29,490v9.55h-2.62V490H209.5v-2.27h7V490Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M222.9,499.51v-4.94h-2.75v4.94H217.5V487.69h2.65v4.47h2.75v-4.47h2.65v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M227.66,499.51V487.69h5.71V490h-3.15v2.32h2.9v2.2h-2.9v2.54h3.35v2.4Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M243.36,490.51a2.13,2.13,0,0,0-.7-.54,1.91,1.91,0,0,0-.83-.19,1.27,1.27,0,0,0-.81.28,1.12,1.12,0,0,0-.36.94,1.06,1.06,0,0,0,.37.86,5.86,5.86,0,0,0,1.08.68q.4.2.85.48a3.88,3.88,0,0,1,.81.68,3.41,3.41,0,0,1,.61,1,3.32,3.32,0,0,1,.24,1.33,4.34,4.34,0,0,1-.3,1.68,3.39,3.39,0,0,1-.81,1.2,3.43,3.43,0,0,1-1.18.72,4.07,4.07,0,0,1-1.39.24,4.63,4.63,0,0,1-1.94-.4,4.77,4.77,0,0,1-1.41-.93l1.37-2a3.06,3.06,0,0,0,.88.64,2.32,2.32,0,0,0,1,.24,1.14,1.14,0,0,0,.82-.32,1.3,1.3,0,0,0-.07-1.81,5.89,5.89,0,0,0-1.17-.73,7.46,7.46,0,0,1-.91-.52,3.34,3.34,0,0,1-.75-.68,3,3,0,0,1-.51-.93,3.9,3.9,0,0,1-.18-1.27,4,4,0,0,1,.33-1.69,3.32,3.32,0,0,1,.85-1.16,3.5,3.5,0,0,1,1.17-.67,4,4,0,0,1,1.29-.22,4.54,4.54,0,0,1,1.74.31,3.66,3.66,0,0,1,1.29.86Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M253.46,491.39a4.38,4.38,0,0,1-.3,1.7,3.38,3.38,0,0,1-.8,1.19,3.24,3.24,0,0,1-1.14.69,3.81,3.81,0,0,1-1.29.23h-1.15v4.31h-2.62V487.69h3.67a4.61,4.61,0,0,1,1.28.18,3.27,3.27,0,0,1,1.17.61,3.07,3.07,0,0,1,.85,1.14A4.27,4.27,0,0,1,253.46,491.39Zm-2.5,0a1.5,1.5,0,0,0-.38-1.15,1.34,1.34,0,0,0-.93-.35h-.85V493h.85a1.23,1.23,0,0,0,.93-.41,1.66,1.66,0,0,0,.42-1.15Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M263.48,493.56a9.71,9.71,0,0,1-.32,2.56,6.18,6.18,0,0,1-.9,2,4.15,4.15,0,0,1-1.43,1.27,4.21,4.21,0,0,1-3.79,0,4.14,4.14,0,0,1-1.43-1.27,6.15,6.15,0,0,1-.9-2,10.57,10.57,0,0,1,0-5.11,5.94,5.94,0,0,1,.89-2,4.19,4.19,0,0,1,5.23-1.25,4.09,4.09,0,0,1,1.43,1.25,6.1,6.1,0,0,1,.9,2A9.54,9.54,0,0,1,263.48,493.56Zm-2.74,0a8.23,8.23,0,0,0-.12-1.43,4.61,4.61,0,0,0-.34-1.14,2.13,2.13,0,0,0-.56-.76,1.2,1.2,0,0,0-.78-.28,1.23,1.23,0,0,0-.79.28,2.08,2.08,0,0,0-.57.76,4.39,4.39,0,0,0-.33,1.14,8.77,8.77,0,0,0-.11,1.43,8.91,8.91,0,0,0,.11,1.44,4.39,4.39,0,0,0,.33,1.15,2.15,2.15,0,0,0,.57.77,1.2,1.2,0,0,0,.79.28,1.17,1.17,0,0,0,.78-.28,2.21,2.21,0,0,0,.56-.77,4.61,4.61,0,0,0,.34-1.15,8.36,8.36,0,0,0,.12-1.44Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M268.32,490v9.55H265.7V490h-2.17v-2.27h7V490Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M271.52,499.51V487.69h2.7V497h3.15v2.47Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M278.58,499.51V487.69h2.69v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M289.51,499.51a6,6,0,0,1-1.89.27,4.19,4.19,0,0,1-3.48-1.71,5.89,5.89,0,0,1-.93-1.94,10,10,0,0,1,0-5,6.2,6.2,0,0,1,.93-2,4.26,4.26,0,0,1,1.44-1.28,3.92,3.92,0,0,1,1.88-.45,4.43,4.43,0,0,1,2,.41,3.6,3.6,0,0,1,1.28,1l-1.45,2a1.92,1.92,0,0,0-1.64-.83,1.59,1.59,0,0,0-1,.29,2.29,2.29,0,0,0-.67.79,4.07,4.07,0,0,0-.39,1.17,7.69,7.69,0,0,0-.13,1.42,8.21,8.21,0,0,0,.12,1.42,4,4,0,0,0,.38,1.17,2.35,2.35,0,0,0,.65.8,1.52,1.52,0,0,0,1,.3,1.54,1.54,0,0,0,.94-.25v-2.2h-1.27v-2.32h3.6v6.29A4.66,4.66,0,0,1,289.51,499.51Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M298.13,499.51v-4.94h-2.75v4.94h-2.65V487.69h2.65v4.47h2.75v-4.47h2.65v11.82Z" transform="translate(0.04 0)"></path><path class="cls-8" d="M306.6,490v9.55H304V490h-2.17v-2.27h7V490Z" transform="translate(0.04 0)"></path></g></g></svg>

            </div>

   
            <div class="is-flexy is-center row is-column">

                <!-- SELECT A COUNTRY BUTTON -->
                <a href="#toglobe" class="btn btn-large-outline btn-icon white is-not-tablet">

                    <svg class="icon" viewBox="0 0 125.48 190.02">    
                        <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M62.74 0A62.74 62.74 0 0 0 0 62.74c0 27.91 40.72 97.72 56.55 123.8a7.25 7.25 0 0 0 12.38 0c15.83-26.08 56.55-95.89 56.55-123.8A62.74 62.74 0 0 0 62.74 0zm0 89.45a31.71 31.71 0 1 1 31.71-31.71 31.71 31.71 0 0 1-31.71 31.71z" id="Layer_12" data-name="Layer 12"></path></g>
                   </svg>

                    {{translations.select_a_country_and_service}}

                </a>

                <!-- SELECT A COUNTRY BUTTON MOBILE-->
                <a href="#" class="btn btn-large-outline btn-icon white is-tablet" @click="openContinentList=true">

                    <svg class="icon" viewBox="0 0 125.48 190.02">    
                        <g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M62.74 0A62.74 62.74 0 0 0 0 62.74c0 27.91 40.72 97.72 56.55 123.8a7.25 7.25 0 0 0 12.38 0c15.83-26.08 56.55-95.89 56.55-123.8A62.74 62.74 0 0 0 62.74 0zm0 89.45a31.71 31.71 0 1 1 31.71-31.71 31.71 31.71 0 0 1-31.71 31.71z" id="Layer_12" data-name="Layer 12"></path></g>
                   </svg>

                    {{translations.select_a_country_and_service}}

                </a>

                <!-- SKIP TO SERVICES BUTTON -->
                <a href="#services" :title="pageData.acf.we_are_global_skip" class="skip">{{ pageData.acf.we_are_global_skip}}</a>

            </div>

        </div>


         <modal-component v-if="showModal" @close="showModal = false">
            <div slot="body">

                <iframe src="https://player.vimeo.com/video/264604830?title=0&byline=0&portrait=0"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <script src="https://player.vimeo.com/api/player.js"></script>

            </div>

        </modal-component>


        <continent-list  :class="{open:openContinentList}"/>

    </div>

</template>

<script>
import ModalComponent from "@/components/modal-component.vue";
import ContinentList from "@/pages/home/continent-list.vue";
export default {

    components: {ModalComponent, ContinentList},

    props: ["pageData"],

    data: () => ({

        showModal: false,

        openContinentList: false,

    }),

    computed: {
        translations(){ 
            
            return this.$store.getters['lang/translations']
            
        },
    },

    mounted(){

        // Listen to click event on the back arrow inside <ContinentList> component
        this.$root.$on("closeContinetList", () => {
            this.openContinentList = false;
        });

    }

    
}
</script>