<template>
    
    <div class="meta">
        
        <!-- EVENT CATEGORY -->
        <span>
            <img src="/images/icons/event.png" alt="Events" style="margin-left:10px;">
            {{ eventData.categories[0].name }}
        </span>

        <!-- EVENT START DATE -->
        <span>{{formatedDate}}</span>

        <!-- EVENT VENU DETAILS -->
        <span>

            <div style="float:left;" v-html="eventData.venue.venue"></div>

            <div style="float:left;">, {{  eventData.venue.address }}</div>
        
            <div style="float:left;">, {{ eventData.venue.city }}</div>

           <div style="float:left;">, {{ eventData.venue.country }}</div>

        </span>

         <span>

             <!-- IF ALL DAY -->
            <div v-if="eventData.all_Day" style="float:left">ALL DAY</div>

            <!-- OTHERWSIE SHOW START TO END TIME -->
            <div v-else style="float:left;">

                {{formatDate(eventData.start_date)}}
                to
                {{formatDate(eventData.end_date)}}
                
            </div>

        </span>


        <ul class="actions">

            <li @click="showShare">
                <a href="#" class="share-this" title="Share">
                    <share-icon />
                </a>
            </li> 

            <li>
                <a href="javascript:window.print()" class="print-this" title="Print">
                    <print-icon />
                </a>
            </li>

        </ul>
        
    </div>

</template>

<script>
import moment from 'moment';
import PrintIcon from "@/assets/svg/icons/print-icon.svg";
import ShareIcon from "@/assets/svg/icons/share-icon.svg";

export default {

    components:{ PrintIcon, ShareIcon },

    props: [ "eventData" ],

    computed: {

        formatedDate(){
            return moment(this.eventData.start_date).format('D MMMM YYYY')
        }

    },

    methods:{

        showShare(){
            this.$root.$emit("show-share")
        },

        formatDate(date){
            return moment(date).format('hh:mm')
        }

    }
    
}
</script>