<template>
    
    <div class="meta">

        <span>{{ formatedDate }}</span>

        <span>{{ postCategory }}</span>

        <span class="reading-time">
            <reading-time :content="postContent"></reading-time>
        </span>


        <ul class="actions">


            <li v-if="postDownloads" class="is-hidden__mobile">
                <a :href="postDownloads" class="download-this" title="Download" target="_blank">
                    <download-icon />
                </a>
            </li>

            <li @click="showShare">
                <a href="#" class="share-this" title="Share">
                    <share-icon />
                </a>
            </li> 

            <li>
                <a href="javascript:window.print()" class="print-this" title="Print">
                    <print-icon />
                </a>
            </li>

        </ul>
        
    </div>

</template>

<script>
import moment from 'moment';
import PrintIcon from "@/assets/svg/icons/print-icon.svg";
import ShareIcon from "@/assets/svg/icons/share-icon.svg";
import DownloadIcon from "@/assets/svg/icons/download-icon.svg";
import ReadingTime from "@/components/post/reading-time.vue";

export default {

    components:{ ReadingTime, PrintIcon, ShareIcon, DownloadIcon },

    props: [ "postCategory", "postDate", "postContent", "postDownloads" ],

    computed: {

        formatedDate(){
            return moment(this.postDate).format('D MMMM YYYY')
        }

    },

    methods:{

        showShare(){
            this.$root.$emit("show-share")
        }

    }
    
}
</script>