<template>

  <div class="article-video">

        <img :src="videoCover" alt="Multimedia Video Cover" @click="showModal = true">

        <div class="video-icon class-toggler"  data-target=".modal" data-class="show"></div>


        <modal-component v-if="showModal" @close="showModal = false">
            <div slot="body">

                <div v-html="videoEmbed"></div>
                <script src="https://player.vimeo.com/api/player.js"></script>

            </div>

        </modal-component>

    </div>

    
</template>

<script>
import ModalComponent from "@/components/modal-component.vue";
export default {

    components:{ ModalComponent },

    props: [ "videoCover", "videoEmbed" ],

    data: () => ({
        showModal: false
    }),
    
}
</script>