<template>
    
    <div class="article-single--head" :class="postType">

        <img :src="postThumbnail" :alt="postTitle">

        <div class="wrapper">

            <!-- <svg v-if="postType == 'clients'" role="img" title="{{ post.case_study_title }}" class="client-icon">
                <use xlink:href="https://mauvegroup.com/wp-content/themes/timber-theme/dist/svg/svgstore.svg#{{ post.case_study_title | sanitize }}"/>
            </svg>

            <svg v-if="postType == 'tribe_events'" role="img" title="{{ post.case_study_title }}" class="client-icon">
                <use xlink:href="https://mauvegroup.com/wp-content/themes/timber-theme/images/svg.svg#calendar"/>
            </svg>

            <a v-if="postType == 'country_info'"  href="https://mauvegroup.com/wp-content/themes/timber-theme/mauve-group-services/{{ service }}" class="back" title=""></a>
 -->

            <h1 class="white" v-html="postTitle"></h1>

            <h2 v-if="postSubTitle" class="white">{{ postSubTitle }}</h2>

        </div>

    </div>


</template>

<script>

export default {

    props: [ 
        "postType",
        "postTitle",
        "postSubTitle",
        "postThumbnail"
    ],
    
}
</script>