<template>
    <div>READ TIME - {{readingTime}} MINUTES</div>
</template>

<script>
export default {
    
    props: ['content'],
    
    computed: {

        readingTime () {

            let minutes = 0;
            const contentString = JSON.stringify(this.content);
            const words = contentString.split(" ").length;
            const wordsPerMinute = 260;
            minutes = Math.ceil(words / wordsPerMinute);
            return minutes;
    
    }
    
    }
}
</script>