<template>
    
    <div v-if="relatedPosts && relatedPosts[0]" class="related">


        <h3 v-if="postType == 'clients'">{{ translations.related }} {{ translations.case_studies }}</h3>

        <h3 v-if="postType == 'tribe_events'" class="tint">{{ translations.related  }} {{ translations.events  }}</h3>

        <h3 v-if="postType == 'news'">{{ translations.related  }} {{ translations.news  }}</h3>
    

         <!-- CAROUSEL -->
            <div v-swiper:mySwiper="swiperOption">

                <!-- CAROUSEL CONTENT -->
                <div class="swiper-wrapper">

                    <div v-for="post in relatedPosts"
                        :key="post.id"
                        class="related-item swiper-slide">

                        <nuxt-link :to="`/${getPathFromPostType}/${post.slug}`" :title="post.title.rendered">

                            <img :src="post.wmp_thumbnail" :alt="post.title.rendered" />

                            <div class="related-cnt">

                                <span class="title">{{ post.title.rendered}} </span>

                                <span class="meta">

                                    12 agosto 2019

                                </span>

                            </div>

                        </nuxt-link>

                    </div>
                
                </div>

                <div class="swiper-pagination swiper-pagination-bullets"></div>
            
            </div>

    </div>

</template>

<script>
export default {
    
    props: [
        "postType", 
        "postFilterCategoryName", 
        "categoryId", 
        "excludePost"
    ],

    data: () => ({

        relatedPosts: null,

         swiperOption: {
            loop: false,
            slidesPerView: 1,
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        }

    }),
    
    computed:{

        translations(){ return this.$store.getters['lang/translations'] },

        getPathFromPostType(){

            let path;
            
            if(this.postType == "posts") path = "news";
            if(this.postType == "clients") path = "case-studies";

            return path;

        }

    },
    

    created(){

        this. loadPosts(this.postType, this.postFilterCategoryName, this.categoryId, this.excludePost);

    },

    methods: {

        /**
         *  
         * LOAD POSTS METHOD
         * loads a post type and filter it based on the post categories
         * @param postType post type slug
         * @param postFilterCategoryName the category name (category, clients_cat)
         * @param categoryID the category ID
         * 
         */
        loadPosts(postType, postFilterCategoryName, categoryID, excludePost){

            let query_string = `/wp-json/wp/v2/${postType}?lang=${this.lang}&${postFilterCategoryName}=${categoryID}&exclude=${excludePost}&per_page=5`

            this.$axios.get(query_string)

                .then( response => {

                    this.relatedPosts = response.data;

                })
                
                .catch( error => {

                    console.log(error);

                });

        }

    }
    
}
</script>
