<template>
    
    <div class="share-modal" :class="{show: showShare}">

        <span class="close" @click="showShare=false">
            <CloseIcon />
        </span>
        
        <social-sharing 
            :url="currentUrl"
            :title="postTitle"
            :description="postDecription"
            :quote="postTitle"
            hashtags=""
            twitter-user=""
            inline-template>
                <div>
                    <network network="facebook">
                        <i class="fa fa-facebook"></i> Facebook
                    </network>
                    
                    <network network="linkedin">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </network>
                    
                    <network network="twitter">
                        <i class="fa fa-twitter"></i> Twitter
                    </network>
                    <network network="email">
                        <i class="fa fa-envelope"></i> Email
                    </network>

                </div>

        </social-sharing>

    </div>
    
</template>

<script>

import CloseIcon from "@/assets/svg/cross.svg"; 
export default {

    components: {CloseIcon},

    props:[ 
        "postTitle",
        "postDecription",
        "postSlug",
    ],

     data: () => ({ showShare: false }),

     computed: {

         currentUrl(){ return `${process.env.baseUrl}/${this.postSlug}` }

     },

      mounted(){
        
        this.$root.$on("show-share", () => this.showShare = true );

    }
    
}
</script>

<style lang="scss">

    .share-modal{

        padding: 0 50px 0 0;

        z-index: 1000;

        box-shadow: 0 0 0 1000px rgba(0,0,0,0.6);

        @media all and (max-width: 500px) {
            padding: 40px 0 0 0;
        }

        span{

            &.close{

                top:15px;
                right: 13px;

                @media all and (max-width: 500px) {
                    top: 5px;
                }
            }

           &:not(.close){
                float:left;
                padding: 20px;
                cursor: pointer;

                &[data-link="#share-facebook"]{
                    background: #4267B2;
                    color:#fff;
                }

                &[data-link="#share-twitter"]{
                    background: #1DA1F2;
                    color:#fff;
                }

                &[data-link="#share-linkedin"]{
                    background: #0077B5;
                    color:#fff;
                }

                @media all and (max-width: 500px) {
                    width: 100%;
                }
           }

        }

    }

</style>