.owl-carousel {
  .owl-dots {
    position: absolute;
    right: 20px;
    bottom: 20px;
    .owl-dot {
      float: left;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: $mauve;
      margin: 0 2px;

      &.active {
        background: $dark-mauve;
      }
    }
  }


}

.swiper-nav{
  width: 200px;
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 100;

  @include fromSiteWidth{
    left: calc((100% - #{$max-width}) / 2 + 20px);
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  float: left;
  width: 35px !important;
  height: 35px !important;
  opacity: 0.6;
  cursor: pointer;
  transition: all .3s ease-in;
  margin-right: 5px;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;

  svg{
    width: 100%;
    height: 100%;
    float: left;
  }

  &:hover{
    opacity: 1;
  }

  path {
    fill: #fff !important;
  }
}
