<template>
    <div class="service-landing" style="padding:0;">

		<div class="service-slider__slides is-flexy is-middle">

            <div v-swiper:mySwiper="swiperOption">

                <!-- SHIMMER -->
                <div v-if="!loaded" class="swiper-wrapper swiper-shimmer">
                
                    <div class="swiper-slide swiper-slide-active">
                    <div class="service-slider__slide slide_0 slide_global-workforce-mobility-solutions">
                        <div class="wrapper is-flexy is-middle">
                            <div class="service-slider__slide-content">
                                <div class="shimmer-title"></div>
                                <div class="shimmer-text">
                                    <span class="is-full"></span>
                                    <span class="is-8of12"></span>
                                    <span class="is-half"></span>
                                </div>

                                <a href="#" class="btn btn-medium-outline white shimmer-button">LOADING...</a>
                                
                                </div>
                            
                            <div class="services-cycle is-flexy is-middle is-center">
                                <div class="shimmer-image"></div>
                            </div>
                        </div>
                    </div>
            
                    </div>

                </div>

                <!-- CAROUSEL CONTENT -->
                <div v-if="loaded"  class="swiper-wrapper">

                    <div v-for="(service, index) in services"  
                            :key="service.id"
                            class="swiper-slide" >

                        <div :class="`service-slider__slide slide_${index} slide_${service.slug}`">

                                <picture class="full-bg" style="z-index:0;">
                                    <img v-lazy-load-image :data-src="service.acf.featured_image" :alt="service.title.rendered">
                                </picture>

                            <div class="wrapper is-flexy is-middle">

                                <div class="service-slider__slide-content">

                                    <div class="statement white">{{ service.title.rendered }}</div>

                                    <p class="white" v-html="service.excerpt.rendered"></p>

                                    <nuxt-link :to="`/mauve-group-services/${service.slug}`" :title="service.title.rendered " class="btn btn-medium-outline white">Read More</nuxt-link>

                                </div>

                                <div class="services-cycle is-flexy is-middle is-center">

                                    <component :is="service.slug" />

                                </div>

                            </div>

                        </div>
                    
                    </div>

                </div>
                
                
                <!-- CAROUSEL NAVIGATION -->
                <div class="swiper-nav">

                    <div class="swiper-button-prev" slot="button-prev">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve">
                            <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                            <path fill="#fff" class="iconfgcolor" d="M15,0c8.3,0,15,6.7,15,15s-6.7,15-15,15S0,23.3,0,15S6.7,0,15,0z M15,26c6.1,0,11-4.9,11-11S21.1,4,15,4S4,8.9,4,15 S8.9,26,15,26z M17.4,7.1L20,10l-5.4,4.8l5.4,5l-2.7,2.9l-8.6-7.9L17.4,7.1z"></path>
                        </svg>
                    </div>

                    <div class="swiper-button-next" slot="button-next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                            <circle fill="transparent" class="iconsolidbg" cx="15" cy="15" r="11"></circle>
                            <path fill="#fff" class="iconfgcolor" d="M15,30A15,15,0,1,1,30,15,15,15,0,0,1,15,30ZM15,4A11,11,0,1,0,26,15,11,11,0,0,0,15,4ZM12.63,22.94,10,20l5.35-4.77L9.94,10.25l2.71-2.94,8.61,7.93Z"></path>
                        </svg>
                    </div>

                </div>
                

            </div>

        </div>
				
	</div>

</template>

<script>
import globalWorkforceSolutions from "@/assets/svg/services/global-workforce-mobility-solutions.svg";
import globalWorkforceMobilitySolutions from "@/assets/svg/services/global-workforce-mobility-solutions.svg";
import globalBusinessExpansion from "@/assets/svg/services/global-business-expansion.svg";
import globalVisaAndImmigration from "@/assets/svg/services/global-visa-and-immigration.svg";
import globalPayroll from "@/assets/svg/services/global-payroll.svg";
import projectManagement from "@/assets/svg/services/project-management.svg";
import consultancyServices from "@/assets/svg/services/consultancy-services.svg";
import valueAddedServices from "@/assets/svg/services/value-added-services.svg";

import MauveServicesComponent from "@/components/mauve-services-component.vue";
export default {

    components : {
		MauveServicesComponent,
		 globalWorkforceSolutions,
		globalWorkforceMobilitySolutions,
		globalBusinessExpansion,
		globalVisaAndImmigration,
		globalPayroll,
		projectManagement,
		consultancyServices,
		valueAddedServices
	},    

	data: () => ({

		services: null,
		loaded: false,
		swiperOption: {
			loop: false,
			slidesPerView: 1,
			centeredSlides: false,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev'
			}
		}

	}),

	async asyncData ({ context,route, params, $axios }) {

		let servicesParentID;

        let lang = route.query.lang
        
        let page = "mauve-group-services";

      	if(lang == "en" || !lang)  servicesParentID = 11;
        if(lang == "es")  servicesParentID = 1258;
        
        let [services, pageData] = await Promise.all([
			$axios.get(`/wp-json/wp/v2/pages?parent=${servicesParentID}&lang=${lang}&order=asc`),
			$axios.get(`/wp-json/wp/v2/pages?slug=${page}&lang=${route.query.lang}`),
		]);

		return {
			services: services.data,
            pageData: pageData.data[0],
            loaded: true 
		}
		

    },

    // SEO
    head () {

        let pageData = this.pageData;

        return {

            title: `${pageData.title.rendered} | Mauve Group - Experts in Expansion`,

            meta: [
                { hid: `title`, property: 'title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: 'description', name: 'description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `image`, property: 'image', content: `${pageData.wmp_thumbnail}` },
                { hid: `canonical`, property: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}` },
                { hid: `og:type`, property: 'og:type', content: 'website' },
                { hid: `og:title`, property: 'og:title', content: `${pageData.title.rendered} | Mauve Group - Experts in Expansion` },
                { hid: `og:image`, property: 'og:image', content: `${pageData.wmp_thumbnail}` },
                { hid: `og:description`, property: 'og:description', content: `${pageData.excerpt.rendered.replace(/<[^>]*>?/gm, '')}` },
                { hid: `og:url`, property: 'og:url', content: `https://www.mauvegroup.com${this.$route.fullPath}` },
            ],

            link: [
                { rel: 'canonical', href: `https://www.mauvegroup.com${this.$route.fullPath}`}
            ]

        }
    }


}
</script>
